
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up BH1750 ambient light sensors in esphomelib.">
<meta name="keywords" content="BH1750">
<meta itemprop="name" content="BH1750 Ambient Light Sensor">
<meta itemprop="description" content="Instructions for setting up BH1750 ambient light sensors in esphomelib.">
<meta itemprop="image" content="https://esphomelib.com/_images/bh1750.jpg">
<meta name="twitter:title" content="BH1750 Ambient Light Sensor">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/bh1750.jpg">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up BH1750 ambient light sensors in esphomelib.">
<meta property="og:title" content="BH1750 Ambient Light Sensor"/>
<meta property="og:image" content="https://esphomelib.com/_images/bh1750.jpg"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up BH1750 ambient light sensors in esphomelib."/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>BH1750 Ambient Light Sensor &#8212; esphomelib 1.9.3 documentation</title>
    <link rel="stylesheet" href="../../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/sensor/bh1750.html" />
    <link rel="shortcut icon" href="../../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="ESP32 Bluetooth Low Energy RSSI Sensor" href="ble_rssi.html" />
    <link rel="prev" title="ADS1115 Sensor" href="ads1115.html" />
   
  <link rel="stylesheet" href="../../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../../_static/apple-touch-icon.png" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../../index.html">
              <img class="logo" src="../../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">BH1750 Ambient Light Sensor</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="bh1750-ambient-light-sensor">
<h1>BH1750 Ambient Light Sensor<a class="headerlink" href="#bh1750-ambient-light-sensor" title="Permalink to this headline">¶</a></h1>
<p>The <code class="docutils literal notranslate"><span class="pre">bh1750</span></code> sensor platform allows you to use your BH1750
(<a class="reference external" href="http://www.mouser.com/ds/2/348/bh1750fvi-e-186247.pdf">datasheet</a>, <a class="reference external" href="https://www.adafruit.com/product/1603">Aliexpress</a>, <a class="reference external" href="http://mklec.com/modules/micro-controller-modules/bh1750-bh1750fvi-digital-light-sensor-module">mklec</a>)
ambient light sensor with esphomelib. The <a class="reference internal" href="../i2c.html#i2c"><span class="std std-ref">I²C bus</span></a> is required to be set up in
your configuration for this sensor to work.</p>
<div class="figure align-center" id="id1">
<a class="reference internal image-reference" href="../../../_images/bh1750-full.jpg"><img alt="../../../_images/bh1750-full.jpg" src="../../../_images/bh1750-full.jpg" style="width: 50.0%;" /></a>
<p class="caption"><span class="caption-text">BH1750 Ambient Light Sensor.</span></p>
</div>
<div class="figure align-center">
<a class="reference internal image-reference" href="../../../_images/bh1750-ui.png"><img alt="../../../_images/bh1750-ui.png" src="../../../_images/bh1750-ui.png" style="width: 80.0%;" /></a>
</div>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="l l-Scalar l-Scalar-Plain">sensor</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">bh1750</span>
    <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="s">&quot;BH1750</span><span class="nv"> </span><span class="s">Illuminance&quot;</span>
    <span class="l l-Scalar l-Scalar-Plain">address</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">0x23</span>
    <span class="l l-Scalar l-Scalar-Plain">update_interval</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">15s</span>
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>name</strong> (<strong>Required</strong>, string): The name for the sensor.</li>
<li><strong>address</strong> (<em>Optional</em>, int): Manually specify the i^2c address of the sensor.
Defaults to <code class="docutils literal notranslate"><span class="pre">0x23</span></code> (address if address pin is pulled low). If the address pin is pulled high,
the address is <code class="docutils literal notranslate"><span class="pre">0x5C</span></code>.</li>
<li><strong>resolution</strong> (<em>Optional</em>, string): The resolution of the sensor in lx. One of <code class="docutils literal notranslate"><span class="pre">4.0</span></code>,
<code class="docutils literal notranslate"><span class="pre">1.0</span></code>, <code class="docutils literal notranslate"><span class="pre">0.5</span></code>. Defaults to <code class="docutils literal notranslate"><span class="pre">0.5</span></code> (the maximum resolution).</li>
<li><strong>update_interval</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-time"><span class="std std-ref">Time</span></a>): The interval to check the
sensor. Defaults to <code class="docutils literal notranslate"><span class="pre">15s</span></code>. See <a class="reference internal" href="index.html#sensor-default-filter"><span class="std std-ref">update_interval gotchas</span></a>.</li>
<li><strong>id</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Manually specify the ID used for code
generation.</li>
<li>All other options from <a class="reference internal" href="index.html#config-sensor"><span class="std std-ref">Sensor</span></a> and <a class="reference internal" href="../mqtt.html#config-mqtt-component"><span class="std std-ref">MQTT Component</span></a>.</li>
</ul>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="index.html#sensor-filters"><span class="std std-ref">Sensor Filters</span></a></li>
<li><a class="reference internal" href="tsl2561.html"><span class="doc">TSL2561 Ambient Light Sensor</span></a></li>
<li><a class="reference internal" href="../../../api/sensor/bh1750.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/claws/BH1750">BH1750 Library</a> by <a class="reference external" href="https://github.com/claws">&#64;claws</a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/sensor/bh1750.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-sensor-bh1750" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
    <div class="footer">
      
      
      
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.8.2</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.12</a>
      
    </div>

    

    
  </body>
</html>