
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up Custom C++ sensors with esphomelib.">
<meta name="keywords" content="C++, Custom">
<meta itemprop="name" content="Custom Sensor Component">
<meta itemprop="description" content="Instructions for setting up Custom C++ sensors with esphomelib.">
<meta itemprop="image" content="https://esphomelib.com/_images/language-cpp.png">
<meta name="twitter:title" content="Custom Sensor Component">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/language-cpp.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up Custom C++ sensors with esphomelib.">
<meta property="og:title" content="Custom Sensor Component"/>
<meta property="og:image" content="https://esphomelib.com/_images/language-cpp.png"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up Custom C++ sensors with esphomelib."/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>Custom Sensor Component &#8212; ESPHome 1.10.1 documentation</title>
    <link rel="stylesheet" href="../../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../../_static/language_data.js"></script>
    <script type="text/javascript" src="../../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/sensor/custom.html" />
    <link rel="shortcut icon" href="../../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="Dallas Temperature Sensor" href="dallas.html" />
    <link rel="prev" title="CSE7766 Power Sensor" href="cse7766.html" />
   
  <link rel="stylesheet" href="../../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../../_static/apple-touch-icon.png" />
  
  
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/sensor/custom.html"/>
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../../index.html">
              <img class="logo" src="../../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Custom Sensor Component</a><ul>
<li><a class="reference internal" href="#step-1-custom-sensor-definition">Step 1: Custom Sensor Definition</a></li>
<li><a class="reference internal" href="#step-2-registering-the-custom-sensor">Step 2: Registering the custom sensor</a></li>
<li><a class="reference internal" href="#step-3-bmp180-support">Step 3: BMP180 support</a></li>
<li><a class="reference internal" href="#step-4-additional-overrides">Step 4: Additional Overrides</a></li>
<li><a class="reference internal" href="#bonus-sensors-with-multiple-output-values">Bonus: Sensors With Multiple Output Values</a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="custom-sensor-component">
<h1>Custom Sensor Component<a class="headerlink" href="#custom-sensor-component" title="Permalink to this headline">¶</a></h1>
<div class="admonition warning">
<p class="first admonition-title">Warning</p>
<p class="last">While I do try to keep the esphomeyaml configuration options as stable as possible
and back-port them, the esphomelib API is less stable. If something in the APIs needs
to be changed in order for something else to work, I will do so.</p>
</div>
<p>So, you just set up esphomelib for your ESP32/ESP8266, but sadly esphomelib is missing a sensor integration
you’d really like to have 😕. It’s pretty much impossible to support every single sensor, as there are simply too many.
That’s why esphomelib has a really simple API for you to create your own <strong>custom sensors</strong> 🎉</p>
<p>In this guide, we will go through creating a custom sensor component for the
<a class="reference external" href="https://www.adafruit.com/product/1603">BMP180</a> pressure sensor (we will only do the pressure part,
temperature is more or less the same). During this guide, you will learn how to 1. define a custom sensor
esphomelib can use 2. go over how to register the sensor so that it will be shown inside Home Assistant and
3. leverage an existing arduino library for the BMP180 with esphomelib.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Since the creation of this guide, the BMP180 has been officially supported by the <a class="reference internal" href="bmp085.html"><span class="doc">BMP085 component</span></a>. The code still applies though.</p>
</div>
<p>This guide will require at least a bit of knowledge of C++, so be prepared for that. If you’ve already written
code for an Arduino, you have already written C++ code :) (Arduino uses a slightly customized version of C++).
If you have any problems, I’m here to help: <a class="reference external" href="https://discord.gg/KhAMKrd">https://discord.gg/KhAMKrd</a></p>
<div class="section" id="step-1-custom-sensor-definition">
<h2>Step 1: Custom Sensor Definition<a class="headerlink" href="#step-1-custom-sensor-definition" title="Permalink to this headline">¶</a></h2>
<p>To create your own custom sensor, you just have to create your own C++ class. If you’ve never heard of that
before, don’t worry, at the end of this guide you can just copy the example source code and modify it to your needs
- learning the intricacies of C++ classes won’t be required.</p>
<p>Before you can create your own custom sensors, let’s first take a look at the basics: How sensors (and components)
are structured in the esphomelib ecosystem.</p>
<p>In esphomelib, a <strong>sensor</strong> is some hardware device (like a BMP180) that periodically
sends out numbers, for example a temperature sensor that periodically publishes its temperature <strong>state</strong>.</p>
<p>Another important abstraction in esphomelib is the concept of a <strong>component</strong>. In esphomelib,
a <strong>component</strong> is an object with a <em>lifecycle</em> managed by the <a class="reference internal" href="../../../api/core/application.html#_CPPv311Application" title="Application"><code class="xref cpp cpp-class docutils literal notranslate"><span class="pre">Application</span></code></a> class.
What does this mean? Well if you’ve coded in Arduino before you might know the two special methods
<code class="docutils literal notranslate"><span class="pre">setup()</span></code> and <code class="docutils literal notranslate"><span class="pre">loop()</span></code>. <code class="docutils literal notranslate"><span class="pre">setup()</span></code> is called one time when the node boots up and <code class="docutils literal notranslate"><span class="pre">loop()</span></code> is called
very often and this is where you can do things like read out sensors etc.</p>
<p>Components have something similar to that: They also have <code class="docutils literal notranslate"><span class="pre">setup()</span></code> and <code class="docutils literal notranslate"><span class="pre">loop()</span></code> methods which will be
called by the application kind of like the arduino functions.</p>
<p>So, let’s now take a look at some code: This is an example of a custom component class (called <code class="docutils literal notranslate"><span class="pre">MyCustomSensor</span></code> here):</p>
<div class="highlight-cpp notranslate"><div class="highlight"><pre><span class="cp">#include</span> <span class="cpf">&quot;esphomelib.h&quot;</span><span class="cp"></span>

<span class="k">using</span> <span class="k">namespace</span> <span class="n">esphomelib</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">MyCustomSensor</span> <span class="o">:</span> <span class="k">public</span> <span class="n">Component</span><span class="p">,</span> <span class="k">public</span> <span class="n">sensor</span><span class="o">::</span><span class="n">Sensor</span> <span class="p">{</span>
 <span class="k">public</span><span class="o">:</span>
  <span class="kt">void</span> <span class="n">setup</span><span class="p">()</span> <span class="k">override</span> <span class="p">{</span>
    <span class="c1">// This will be called by App.setup()</span>
  <span class="p">}</span>
  <span class="kt">void</span> <span class="n">loop</span><span class="p">()</span> <span class="k">override</span> <span class="p">{</span>
    <span class="c1">// This will be called by App.loop()</span>
  <span class="p">}</span>
<span class="p">};</span>
</pre></div>
</div>
<p>In the first two lines, we’re importing esphomelib so you can use the APIs and telling the compiler that
we want to use the esphomelib “namespace” (you don’t need to know what this is now, it’s basically just
there to have a clean, well-structured codebase).</p>
<p>Let’s now also take a closer look at this line, which you might not be too used to when writing Arduino code:</p>
<div class="highlight-cpp notranslate"><div class="highlight"><pre><span class="k">class</span> <span class="nc">MyCustomSensor</span> <span class="o">:</span> <span class="k">public</span> <span class="n">Component</span><span class="p">,</span> <span class="k">public</span> <span class="n">sensor</span><span class="o">::</span><span class="n">Sensor</span> <span class="p">{</span>
</pre></div>
</div>
<p>What this line is essentially saying is that we’re defining our own class that’s called <code class="docutils literal notranslate"><span class="pre">MyCustomSensor</span></code>
which is also a subclass of <a class="reference internal" href="../../../api/core/component.html#_CPPv39Component" title="Component"><code class="xref cpp cpp-class docutils literal notranslate"><span class="pre">Component</span></code></a> and <a class="reference internal" href="../../../api/sensor/index.html#_CPPv3N6sensor6SensorE" title="sensor::Sensor"><code class="xref cpp cpp-class docutils literal notranslate"><span class="pre">sensor::Sensor</span></code></a>
(in the namespace <code class="docutils literal notranslate"><span class="pre">sensor::</span></code>). As described before, these two “parent” classes have
special semantics that we will make use of.</p>
<p>We <em>could</em> go implement our own sensor code now by replacing the contents of <code class="docutils literal notranslate"><span class="pre">setup()</span></code> and <code class="docutils literal notranslate"><span class="pre">loop()</span></code>.
In <code class="docutils literal notranslate"><span class="pre">setup()</span></code> we would initialize the sensor and in <code class="docutils literal notranslate"><span class="pre">loop()</span></code> we would read out the sensor and publish
the latest values.</p>
<p>However, there’s a small problem with that approach: <code class="docutils literal notranslate"><span class="pre">loop()</span></code> gets called very often (about 60 times per second).
If we would publish a new state each time that method is called we would quickly make the node unresponsive
since the MQTT protocol wasn’t really designed for 60 messages per second.</p>
<p>So this fix this, we will use an alternative class to <a class="reference internal" href="../../../api/core/component.html#_CPPv39Component" title="Component"><code class="xref cpp cpp-class docutils literal notranslate"><span class="pre">Component</span></code></a>: :cpp:class`PollingComponent`.
This class is for situations where you have something that should get called repeatedly with some <strong>update interval</strong>.
In the code above, we can simply replace <a class="reference internal" href="../../../api/core/component.html#_CPPv39Component" title="Component"><code class="xref cpp cpp-class docutils literal notranslate"><span class="pre">Component</span></code></a> by <a class="reference internal" href="../../../api/core/component.html#_CPPv316PollingComponent" title="PollingComponent"><code class="xref cpp cpp-class docutils literal notranslate"><span class="pre">PollingComponent</span></code></a> and
<code class="docutils literal notranslate"><span class="pre">loop()</span></code> by a special method <code class="docutils literal notranslate"><span class="pre">update()</span></code> which will be called with an interval we can specify.</p>
<div class="highlight-cpp notranslate"><div class="highlight"><pre><span class="k">class</span> <span class="nc">MyCustomSensor</span> <span class="o">:</span> <span class="k">public</span> <span class="n">PollingComponent</span><span class="p">,</span> <span class="k">public</span> <span class="n">sensor</span><span class="o">::</span><span class="n">Sensor</span> <span class="p">{</span>
 <span class="k">public</span><span class="o">:</span>
  <span class="c1">// constructor</span>
  <span class="n">MyCustomSensor</span><span class="p">()</span> <span class="o">:</span> <span class="n">PollingComponent</span><span class="p">(</span><span class="mi">15000</span><span class="p">)</span> <span class="p">{}</span>

  <span class="kt">void</span> <span class="n">setup</span><span class="p">()</span> <span class="k">override</span> <span class="p">{</span>
    <span class="c1">// This will be called by App.setup()</span>
  <span class="p">}</span>
  <span class="kt">void</span> <span class="n">update</span><span class="p">()</span> <span class="k">override</span> <span class="p">{</span>
    <span class="c1">// This will be called every &quot;update_interval&quot; milliseconds.</span>
  <span class="p">}</span>
<span class="p">};</span>
</pre></div>
</div>
<p>Our code has slightly changed, as explained above we’re now inheriting from <a class="reference internal" href="../../../api/core/component.html#_CPPv316PollingComponent" title="PollingComponent"><code class="xref cpp cpp-class docutils literal notranslate"><span class="pre">PollingComponent</span></code></a> instead of
just <a class="reference internal" href="../../../api/core/component.html#_CPPv39Component" title="Component"><code class="xref cpp cpp-class docutils literal notranslate"><span class="pre">Component</span></code></a>. Additionally, we now have a new line: the constructor. You also don’t really need to
know much about constructors here, so to simplify let’s just say this is where we “initialize” the custom sensor.</p>
<p>In this constructor we’re telling the compiler that we want <a class="reference internal" href="../../../api/core/component.html#_CPPv316PollingComponent" title="PollingComponent"><code class="xref cpp cpp-class docutils literal notranslate"><span class="pre">PollingComponent</span></code></a> to be instantiated with an
<em>update interval</em> of 15s, or 15000 milliseconds (esphomelib uses milliseconds internally).</p>
<p>Let’s also now make our sensor actually publish values in the <code class="docutils literal notranslate"><span class="pre">update()</span></code> method:</p>
<div class="highlight-cpp notranslate"><div class="highlight"><pre><span class="c1">// class MyCustomSensor ...</span>
  <span class="c1">// ... previous code</span>
  <span class="kt">void</span> <span class="nf">update</span><span class="p">()</span> <span class="k">override</span> <span class="p">{</span>
    <span class="n">publish_state</span><span class="p">(</span><span class="mf">42.0</span><span class="p">);</span>
  <span class="p">}</span>
<span class="p">};</span>
</pre></div>
</div>
<p>Every time <code class="docutils literal notranslate"><span class="pre">update</span></code> is called we will now <strong>publish</strong> a new value to the frontend.
The rest of esphomelib will then take care of processing this value and ultimately publishing it
to the outside world (for example using MQTT).</p>
</div>
<div class="section" id="step-2-registering-the-custom-sensor">
<h2>Step 2: Registering the custom sensor<a class="headerlink" href="#step-2-registering-the-custom-sensor" title="Permalink to this headline">¶</a></h2>
<p>Now we have our Custom Sensor set up, but unfortunately it doesn’t do much right now.
Actually … it does nothing because it’s never included nor instantiated.
First, create a new file called <code class="docutils literal notranslate"><span class="pre">my_custom_sensor.h</span></code> in your configuration directory and copy the source code
from above into that file.</p>
<p>Then in the YAML config, <em>include</em> that file in the top-level <code class="docutils literal notranslate"><span class="pre">esphomeyaml</span></code> section like this:</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">esphomeyaml</span><span class="p p-Indicator">:</span>
  <span class="c1"># ... [Other options]</span>
  <span class="l l-Scalar l-Scalar-Plain">includes</span><span class="p p-Indicator">:</span>
    <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">my_custom_sensor.h</span>
</pre></div>
</div>
<p>Next, create a new <code class="docutils literal notranslate"><span class="pre">custom</span></code> sensor platform entry like this:</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="l l-Scalar l-Scalar-Plain">sensor</span><span class="p p-Indicator">:</span>
<span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">custom</span>
  <span class="l l-Scalar l-Scalar-Plain">lambda</span><span class="p p-Indicator">:</span> <span class="p p-Indicator">|-</span>
    <span class="no">auto my_sensor = new MyCustomSensor();</span>
    <span class="no">App.register_component(my_sensor);</span>
    <span class="no">return {my_sensor};</span>

  <span class="l l-Scalar l-Scalar-Plain">sensors</span><span class="p p-Indicator">:</span>
    <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="s">&quot;My</span><span class="nv"> </span><span class="s">Custom</span><span class="nv"> </span><span class="s">Sensor&quot;</span>
</pre></div>
</div>
<p>Let’s break this down:</p>
<ul class="simple">
<li>First, we specify a <a class="reference internal" href="../../guides/automations.html#config-lambda"><span class="std std-ref">lambda</span></a> that will be used to <strong>instantiate</strong> our sensor class. This will
be called on boot to register our sensor in esphomelib.</li>
<li>In this lambda, we’re first creating a new instance of our custom class (<code class="docutils literal notranslate"><span class="pre">new</span> <span class="pre">MyCustomSensor()</span></code>) and then
assigning it to a variable called <code class="docutils literal notranslate"><span class="pre">my_sensor</span></code>. Note: This uses a feature in the C++ standard, <code class="docutils literal notranslate"><span class="pre">auto</span></code>, to make our
lives easier. We could also have written <code class="docutils literal notranslate"><span class="pre">MyCustomSensor</span> <span class="pre">*my_sensor</span> <span class="pre">=</span> <span class="pre">new</span> <span class="pre">MyCustomSensor()</span></code></li>
<li>Next, as our custom class inherits from Component, we need to <strong>register</strong> it - otherwise esphomelib will not know
about it and won’t call our <code class="docutils literal notranslate"><span class="pre">setup()</span></code> and <code class="docutils literal notranslate"><span class="pre">update</span></code> methods!</li>
<li>Finally, we <code class="docutils literal notranslate"><span class="pre">return</span></code> the custom sensor - don’t worry about the curly braces <code class="docutils literal notranslate"><span class="pre">{}</span></code>, we’ll cover that later.</li>
<li>After that, we just let <em>esphomeyaml</em> know about our newly created sensor too using the <code class="docutils literal notranslate"><span class="pre">sensors:</span></code> block. Additionally,
here we’re also assigning the sensor a name.</li>
</ul>
<p>Now all that’s left to do is upload the code and let it run :)</p>
<p>If you have Home Assistant MQTT discovery setup, it will even automatically show up in the frontend 🎉</p>
<div class="figure align-center">
<a class="reference internal image-reference" href="../../../_images/custom-ui.png"><img alt="../../../_images/custom-ui.png" src="../../../_images/custom-ui.png" style="width: 60%;" /></a>
</div>
</div>
<div class="section" id="step-3-bmp180-support">
<h2>Step 3: BMP180 support<a class="headerlink" href="#step-3-bmp180-support" title="Permalink to this headline">¶</a></h2>
<p>Let’s finally make this custom sensor useful by adding the BMP180 aspect into it! Sure, printing <code class="docutils literal notranslate"><span class="pre">42</span></code> is a nice number
but it won’t help with home automation :D</p>
<p>A great feature of esphomelib is that you don’t need to code everything yourself. You can use any existing arduino
library to do the work for you! Now for this example we’ll
use the <a class="reference external" href="https://platformio.org/lib/show/525/Adafruit%20BMP085%20Library">Adafruit BMP085 Library</a>
library to implement support for the BMP085 sensor. But you can find other libraries too on the
<a class="reference external" href="https://platformio.org/lib">platformio library index</a></p>
<p>First we’ll need to add the library to our project dependencies. To do so, put <code class="docutils literal notranslate"><span class="pre">Adafruit</span> <span class="pre">BMP085</span> <span class="pre">Library</span></code>
in your global <code class="docutils literal notranslate"><span class="pre">libraries</span></code>:</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">esphomeyaml</span><span class="p p-Indicator">:</span>
  <span class="l l-Scalar l-Scalar-Plain">includes</span><span class="p p-Indicator">:</span>
    <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">my_custom_sensor.h</span>
  <span class="l l-Scalar l-Scalar-Plain">libraries</span><span class="p p-Indicator">:</span>
    <span class="p p-Indicator">-</span> <span class="s">&quot;Adafruit</span><span class="nv"> </span><span class="s">BMP085</span><span class="nv"> </span><span class="s">Library&quot;</span>
</pre></div>
</div>
<p>Next, include the library at the top of your custom sensor file you created previously:</p>
<div class="highlight-cpp notranslate"><div class="highlight"><pre><span class="cp">#include</span> <span class="cpf">&quot;esphomelib.h&quot;</span><span class="cp"></span>
<span class="cp">#include</span> <span class="cpf">&quot;Adafruit_BMP085.h&quot;</span><span class="cp"></span>

<span class="k">using</span> <span class="k">namespace</span> <span class="n">esphomelib</span><span class="p">;</span>

<span class="c1">// ...</span>
</pre></div>
</div>
<p>Then update the sensor for BMP180 support:</p>
<div class="highlight-cpp notranslate"><div class="highlight"><pre><span class="c1">// ...</span>

<span class="k">class</span> <span class="nc">MyCustomSensor</span> <span class="o">:</span> <span class="k">public</span> <span class="n">PollingComponent</span><span class="p">,</span> <span class="k">public</span> <span class="n">sensor</span><span class="o">::</span><span class="n">Sensor</span> <span class="p">{</span>
 <span class="k">public</span><span class="o">:</span>
  <span class="n">Adafruit_BMP085</span> <span class="n">bmp</span><span class="p">;</span>

  <span class="n">MyCustomSensor</span><span class="p">()</span> <span class="o">:</span> <span class="n">PollingComponent</span><span class="p">(</span><span class="mi">15000</span><span class="p">)</span> <span class="p">{</span> <span class="p">}</span>

  <span class="kt">void</span> <span class="n">setup</span><span class="p">()</span> <span class="k">override</span> <span class="p">{</span>
    <span class="n">bmp</span><span class="p">.</span><span class="n">begin</span><span class="p">();</span>
  <span class="p">}</span>

  <span class="kt">void</span> <span class="n">update</span><span class="p">()</span> <span class="k">override</span> <span class="p">{</span>
    <span class="kt">int</span> <span class="n">pressure</span> <span class="o">=</span> <span class="n">bmp</span><span class="p">.</span><span class="n">readPressure</span><span class="p">();</span> <span class="c1">// library returns value in in Pa, which equals 1/100 hPa</span>
    <span class="n">publish_state</span><span class="p">(</span><span class="n">pressure</span> <span class="o">/</span> <span class="mf">100.0</span><span class="p">);</span> <span class="c1">// convert to hPa</span>
  <span class="p">}</span>
<span class="p">};</span>

<span class="c1">// ...</span>
</pre></div>
</div>
<p>There’s not too much going on there. First, we define the variable <code class="docutils literal notranslate"><span class="pre">bmp</span></code> of type <code class="docutils literal notranslate"><span class="pre">Adafruit_BMP085</span></code>
inside our class as a class member. This is the object the adafruit library exposes and through which
we will communicate with the sensor.</p>
<p>In our custom <code class="docutils literal notranslate"><span class="pre">setup()</span></code> function we’re <em>initializing</em> the library (using <code class="docutils literal notranslate"><span class="pre">.begin()</span></code>) and in
<code class="docutils literal notranslate"><span class="pre">update()</span></code> we’re reading the pressure and publishing it using <code class="docutils literal notranslate"><span class="pre">publish_state</span></code>.</p>
<p>For esphomeyaml we can use the previous YAML. So now if you upload the firmware, you’ll see the sensor
reporting actual pressure values! Hooray 🎉!</p>
</div>
<div class="section" id="step-4-additional-overrides">
<h2>Step 4: Additional Overrides<a class="headerlink" href="#step-4-additional-overrides" title="Permalink to this headline">¶</a></h2>
<p>There’s a slight problem with our code: It does print the values fine, <strong>but</strong> if you look in Home Assistant
you’ll see a) the value has no <strong>unit</strong> attached to it and b) the value will be rounded to the next integer.
This is because esphomelib doesn’t know these infos, it’s only passed a floating point value after all.</p>
<p>We <em>could</em> fix that in our custom sensor class (by overriding the <code class="docutils literal notranslate"><span class="pre">unit_of_measurement</span></code> and <code class="docutils literal notranslate"><span class="pre">accuracy_decimals</span></code>
methods), but here we have the full power of esphomeyaml, so let’s use that:</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="l l-Scalar l-Scalar-Plain">sensor</span><span class="p p-Indicator">:</span>
<span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">custom</span>
  <span class="l l-Scalar l-Scalar-Plain">lambda</span><span class="p p-Indicator">:</span> <span class="p p-Indicator">|-</span>
    <span class="no">auto my_sensor = new MyCustomSensor();</span>
    <span class="no">App.register_component(my_sensor);</span>
    <span class="no">return {my_sensor};</span>

  <span class="l l-Scalar l-Scalar-Plain">sensors</span><span class="p p-Indicator">:</span>
    <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="s">&quot;My</span><span class="nv"> </span><span class="s">Custom</span><span class="nv"> </span><span class="s">Sensor&quot;</span>
    <span class="l l-Scalar l-Scalar-Plain">unit_of_measurement</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">hPa</span>
    <span class="l l-Scalar l-Scalar-Plain">accuracy_decimals</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">2</span>
</pre></div>
</div>
</div>
<div class="section" id="bonus-sensors-with-multiple-output-values">
<h2>Bonus: Sensors With Multiple Output Values<a class="headerlink" href="#bonus-sensors-with-multiple-output-values" title="Permalink to this headline">¶</a></h2>
<p>The <code class="docutils literal notranslate"><span class="pre">Sensor</span></code> class doesn’t fit every use-case. Sometimes, (as with the BMP180),
a sensor can expose multiple values (temperature <em>and</em> pressure, for example).</p>
<p>Doing so in esphomelib is a bit more difficult. Basically, we will have to change our sensor
model to have a <strong>component</strong> that reads out the values and then multiple <strong>sensors</strong> that represent
the individual sensor measurements.</p>
<p>Let’s look at what that could look like in code:</p>
<div class="highlight-cpp notranslate"><div class="highlight"><pre><span class="k">class</span> <span class="nc">MyCustomSensor</span> <span class="o">:</span> <span class="k">public</span> <span class="n">PollingComponent</span> <span class="p">{</span>
 <span class="k">public</span><span class="o">:</span>
  <span class="n">Adafruit_BMP085</span> <span class="n">bmp</span><span class="p">;</span>
  <span class="n">sensor</span><span class="o">::</span><span class="n">Sensor</span> <span class="o">*</span><span class="n">temperature_sensor</span> <span class="o">=</span> <span class="k">new</span> <span class="n">sensor</span><span class="o">::</span><span class="n">Sensor</span><span class="p">();</span>
  <span class="n">sensor</span><span class="o">::</span><span class="n">Sensor</span> <span class="o">*</span><span class="n">pressure_sensor</span> <span class="o">=</span> <span class="k">new</span> <span class="n">sensor</span><span class="o">::</span><span class="n">Sensor</span><span class="p">();</span>

  <span class="n">MyCustomSensor</span><span class="p">()</span> <span class="o">:</span> <span class="n">PollingComponent</span><span class="p">(</span><span class="mi">15000</span><span class="p">)</span> <span class="p">{</span> <span class="p">}</span>

  <span class="kt">void</span> <span class="n">setup</span><span class="p">()</span> <span class="k">override</span> <span class="p">{</span>
    <span class="n">bmp</span><span class="p">.</span><span class="n">begin</span><span class="p">();</span>
  <span class="p">}</span>

  <span class="kt">void</span> <span class="n">update</span><span class="p">()</span> <span class="k">override</span> <span class="p">{</span>
    <span class="c1">// This is the actual sensor reading logic.</span>
    <span class="kt">float</span> <span class="n">temperature</span> <span class="o">=</span> <span class="n">bmp</span><span class="p">.</span><span class="n">readTemperature</span><span class="p">();</span>
    <span class="n">temperature_sensor</span><span class="o">-&gt;</span><span class="n">publish_state</span><span class="p">(</span><span class="n">temperature</span><span class="p">);</span>

    <span class="kt">int</span> <span class="n">pressure</span> <span class="o">=</span> <span class="n">bmp</span><span class="p">.</span><span class="n">readPressure</span><span class="p">();</span>
    <span class="n">pressure_sensor</span><span class="o">-&gt;</span><span class="n">publish_state</span><span class="p">(</span><span class="n">pressure</span> <span class="o">/</span> <span class="mf">100.0</span><span class="p">);</span>
  <span class="p">}</span>
<span class="p">};</span>
</pre></div>
</div>
<p>The code here has changed a bit:</p>
<ul class="simple">
<li>Because the values are no longer published by our custom class, <code class="docutils literal notranslate"><span class="pre">MyCustomSensor</span></code> no longer inherits
from <code class="docutils literal notranslate"><span class="pre">Sensor</span></code>.</li>
<li>The class has two new members: <code class="docutils literal notranslate"><span class="pre">temperature_sensor</span></code> and <code class="docutils literal notranslate"><span class="pre">pressure_sensor</span></code>. These will be used to
publish the values.</li>
<li>In our <code class="docutils literal notranslate"><span class="pre">update()</span></code> method we’re now reading out the temperature <em>and</em> pressure. These values are then
published with the temperature and pressure sensor instances we declared before.</li>
</ul>
<p>Our YAML configuration needs an update too:</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="l l-Scalar l-Scalar-Plain">sensor</span><span class="p p-Indicator">:</span>
<span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">custom</span>
  <span class="l l-Scalar l-Scalar-Plain">lambda</span><span class="p p-Indicator">:</span> <span class="p p-Indicator">|-</span>
    <span class="no">auto my_sensor = new MyCustomSensor();</span>
    <span class="no">App.register_component(my_sensor);</span>
    <span class="no">return {my_sensor-&gt;temperature_sensor, my_sensor-&gt;pressure_sensor};</span>

  <span class="l l-Scalar l-Scalar-Plain">sensors</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="s">&quot;My</span><span class="nv"> </span><span class="s">Custom</span><span class="nv"> </span><span class="s">Temperature</span><span class="nv"> </span><span class="s">Sensor&quot;</span>
    <span class="l l-Scalar l-Scalar-Plain">unit_of_measurement</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">°C</span>
    <span class="l l-Scalar l-Scalar-Plain">accuracy_decimals</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">1</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="s">&quot;My</span><span class="nv"> </span><span class="s">Custom</span><span class="nv"> </span><span class="s">Pressure</span><span class="nv"> </span><span class="s">Sensor&quot;</span>
    <span class="l l-Scalar l-Scalar-Plain">unit_of_measurement</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">hPa</span>
    <span class="l l-Scalar l-Scalar-Plain">accuracy_decimals</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">2</span>
</pre></div>
</div>
<p>In <code class="docutils literal notranslate"><span class="pre">lambda</span></code> the return statement has changed: Because we have <em>two</em> sensors now we must tell esphomeyaml
about both of them. We do this by returning them as an array of values in the curly braces.</p>
<p><code class="docutils literal notranslate"><span class="pre">sensors:</span></code> has also changed a bit: Now that we have multiple sensors, each of them needs an entry here.</p>
<p>Note that the number of arguments you put in the curly braces <em>must</em> match the number of sensors you define in the YAML
<code class="docutils literal notranslate"><span class="pre">sensors:</span></code> block - <em>and</em> they must be in the same order.</p>
<p>Configuration variables:</p>
<ul class="simple">
<li><strong>lambda</strong> (<strong>Required</strong>, <a class="reference internal" href="../../guides/automations.html#config-lambda"><span class="std std-ref">lambda</span></a>): The lambda to run for instantiating the
sensor(s).</li>
<li><strong>sensors</strong> (<strong>Required</strong>, list): A list of sensors to initialize. The length here
must equal the number of items in the <code class="docutils literal notranslate"><span class="pre">return</span></code> statement of the <code class="docutils literal notranslate"><span class="pre">lambda</span></code>.<ul>
<li>All options from <a class="reference internal" href="index.html#config-sensor"><span class="std std-ref">Sensor</span></a> and <a class="reference internal" href="../mqtt.html#config-mqtt-component"><span class="std std-ref">MQTT Component</span></a>.</li>
</ul>
</li>
</ul>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/sensor/custom.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-sensor-custom" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
  <div class="footer">
    <a href="/misc/privacy.html">Privacy Policy</a>
  </div>
  <div id="upgrade-footer">
    A new version has been release since you last visited this page: 1.10.1 🎉
    <a id="upgrade-footer-changelog" href="/esphomeyaml/changelog/index.html">View Changelog</a>
  </div>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113203480-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113203480-2', {'anonymize_ip': true});
  </script>

  <script>
    var old = window.localStorage.getItem("release");
    if (old === null) {
      window.localStorage.setItem("release", "1.10.1");
    } else if (old !== "1.10.1") {
      document.getElementById("upgrade-footer").classList.add("not-hidden");
      document.getElementById("upgrade-footer-changelog").addEventListener('click', function () {
        window.localStorage.setItem("release", "1.10.1");
      });
    }
  </script>

  </body>
</html>