
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up DHT12 temperature and humidity sensors">
<meta name="keywords" content="dht12">
<meta itemprop="name" content="DHT12 Temperature+Humidity Sensor">
<meta itemprop="description" content="Instructions for setting up DHT12 temperature and humidity sensors">
<meta itemprop="image" content="https://esphomelib.com/_images/dht12.jpg">
<meta name="twitter:title" content="DHT12 Temperature+Humidity Sensor">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/dht12.jpg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up DHT12 temperature and humidity sensors">
<meta property="og:title" content="DHT12 Temperature+Humidity Sensor"/>
<meta property="og:image" content="https://esphomelib.com/_images/dht12.jpg"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up DHT12 temperature and humidity sensors"/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>DHT12 Temperature+Humidity Sensor &#8212; esphomelib 1.9.0 documentation</title>
    <link rel="stylesheet" href="../../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <script async="async" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript" src="../../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/sensor/dht12.html" />
    <link rel="shortcut icon" href="../../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="Duty Cycle Sensor" href="duty_cycle.html" />
    <link rel="prev" title="DHT Temperature+Humidity Sensor" href="dht.html" />
   
  <link rel="stylesheet" href="../../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../../_static/apple-touch-icon.png" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../../index.html">
              <img class="logo" src="../../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">DHT12 Temperature+Humidity Sensor</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="dht12-temperature-humidity-sensor">
<h1>DHT12 Temperature+Humidity Sensor<a class="headerlink" href="#dht12-temperature-humidity-sensor" title="Permalink to this headline">¶</a></h1>
<p>The <code class="docutils literal notranslate"><span class="pre">dht12</span></code> Temperature+Humidity sensor allows you to use your DHT12
(<a class="reference external" href="http://www.robototehnika.ru/file/DHT12.pdf">datasheet</a>,
<a class="reference external" href="http://www.electrodragon.com/product/dht12/">electrodragon</a>) i2c-based sensor with esphomelib.</p>
<div class="figure align-center" id="id1">
<a class="reference internal image-reference" href="../../../_images/dht12-full.jpg"><img alt="../../../_images/dht12-full.jpg" src="../../../_images/dht12-full.jpg" style="width: 50.0%;" /></a>
<p class="caption"><span class="caption-text">DHT12 Temperature &amp; Humidity Sensor.</span></p>
</div>
<div class="figure align-center">
<a class="reference internal image-reference" href="../../../_images/temperature-humidity.png"><img alt="../../../_images/temperature-humidity.png" src="../../../_images/temperature-humidity.png" style="width: 80.0%;" /></a>
</div>
<div class="code yaml highlight-default notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="n">sensor</span><span class="p">:</span>
  <span class="o">-</span> <span class="n">platform</span><span class="p">:</span> <span class="n">dht12</span>
    <span class="n">temperature</span><span class="p">:</span>
      <span class="n">name</span><span class="p">:</span> <span class="s2">&quot;Living Room Temperature&quot;</span>
    <span class="n">humidity</span><span class="p">:</span>
      <span class="n">name</span><span class="p">:</span> <span class="s2">&quot;Living Room Humidity&quot;</span>
    <span class="n">update_interval</span><span class="p">:</span> <span class="mi">15</span><span class="n">s</span>
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>temperature</strong> (<strong>Required</strong>): The information for the temperature sensor.<ul>
<li><strong>name</strong> (<strong>Required</strong>, string): The name for the temperature sensor.</li>
<li><strong>id</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Set the ID of this sensor for use in lambdas.</li>
<li>All other options from <a class="reference internal" href="index.html#config-sensor"><span class="std std-ref">Sensor</span></a> and <a class="reference internal" href="../mqtt.html#config-mqtt-component"><span class="std std-ref">MQTT Component</span></a>.</li>
</ul>
</li>
<li><strong>humidity</strong> (<strong>Required</strong>): The information for the humidity sensor<ul>
<li><strong>name</strong> (<strong>Required</strong>, string): The name for the humidity sensor.</li>
<li><strong>id</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Set the ID of this sensor for use in lambdas.</li>
<li>All other options from <a class="reference internal" href="index.html#config-sensor"><span class="std std-ref">Sensor</span></a> and <a class="reference internal" href="../mqtt.html#config-mqtt-component"><span class="std std-ref">MQTT Component</span></a>.</li>
</ul>
</li>
<li><strong>update_interval</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-time"><span class="std std-ref">Time</span></a>): The interval to check the sensor. Defaults to <code class="docutils literal notranslate"><span class="pre">15s</span></code>.
See <a class="reference internal" href="index.html#sensor-default-filter"><span class="std std-ref">update_interval gotchas</span></a>.</li>
</ul>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="index.html#sensor-filters"><span class="std std-ref">Sensor Filters</span></a></li>
<li><a class="reference internal" href="dht.html"><span class="doc">DHT Temperature+Humidity Sensor</span></a></li>
<li><a class="reference internal" href="hdc1080.html"><span class="doc">HDC1080 Temperature+Humidity Sensor</span></a></li>
<li><a class="reference internal" href="htu21d.html"><span class="doc">HTU21D Temperature+Humidity Sensor</span></a></li>
<li><a class="reference internal" href="sht3xd.html"><span class="doc">SHT3X-D Temperature+Humidity Sensor</span></a></li>
<li><a class="reference internal" href="../../../api/sensor/dht12.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/dplasa/dht">DHT12 Library</a> by <a class="reference external" href="https://github.com/dplasa">Daniel Plasa</a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/sensor/dht12.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-sensor-dht12" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
    <div class="footer">
      &copy;2018, Otto Winter.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.8.1</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.11</a>
      
    </div>

    

    
  </body>
</html>