
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up HX711 load cell amplifiers with esphomelib">
<meta name="keywords" content="HX711">
<meta itemprop="name" content="HX711 Load Cell Amplifier">
<meta itemprop="description" content="Instructions for setting up HX711 load cell amplifiers with esphomelib">
<meta itemprop="image" content="https://esphomelib.com/_images/hx711.png">
<meta name="twitter:title" content="HX711 Load Cell Amplifier">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/hx711.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up HX711 load cell amplifiers with esphomelib">
<meta property="og:title" content="HX711 Load Cell Amplifier"/>
<meta property="og:image" content="https://esphomelib.com/_images/hx711.png"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up HX711 load cell amplifiers with esphomelib"/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>HX711 Load Cell Amplifier &#8212; esphomelib 1.9.3 documentation</title>
    <link rel="stylesheet" href="../../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/sensor/hx711.html" />
    <link rel="shortcut icon" href="../../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="INA219 DC Current Sensor" href="ina219.html" />
    <link rel="prev" title="HTU21D Temperature+Humidity Sensor" href="htu21d.html" />
   
  <link rel="stylesheet" href="../../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../../_static/apple-touch-icon.png" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../../index.html">
              <img class="logo" src="../../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">HX711 Load Cell Amplifier</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#converting-units">Converting Units</a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="hx711-load-cell-amplifier">
<h1>HX711 Load Cell Amplifier<a class="headerlink" href="#hx711-load-cell-amplifier" title="Permalink to this headline">¶</a></h1>
<p>The <code class="docutils literal notranslate"><span class="pre">hx711</span></code> sensor platform allows you to use your HX711
load cell amplifier
(<a class="reference external" href="https://www.mouser.com/ds/2/813/hx711_english-1022875.pdf">datasheet</a>, <a class="reference external" href="https://www.sparkfun.com/products/13879">Sparkfun</a>) with esphomelib</p>
<div class="figure align-center" id="id1">
<a class="reference external image-reference" href="https://www.sparkfun.com/products/13879"><img alt="../../../_images/hx711-full.jpg" src="../../../_images/hx711-full.jpg" style="width: 60.0%;" /></a>
<p class="caption"><span class="caption-text">HX711 Load Cell Amplifier. Image by <a class="reference external" href="https://www.sparkfun.com/products/13879">Sparkfun</a> licensed and re-distributed under <a class="reference external" href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>.</span></p>
</div>
<p>Connect <code class="docutils literal notranslate"><span class="pre">GND</span></code> to <code class="docutils literal notranslate"><span class="pre">GND</span></code>, <code class="docutils literal notranslate"><span class="pre">VCC</span></code> to <code class="docutils literal notranslate"><span class="pre">3.3V</span></code> and the other three <code class="docutils literal notranslate"><span class="pre">MISO</span></code> (or <code class="docutils literal notranslate"><span class="pre">SO</span></code> for short),
<code class="docutils literal notranslate"><span class="pre">CS</span></code> and <code class="docutils literal notranslate"><span class="pre">CLOCK</span></code> (or <code class="docutils literal notranslate"><span class="pre">SCK</span></code>) to free GPIO pins.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="l l-Scalar l-Scalar-Plain">sensor</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">hx711</span>
    <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="s">&quot;HX711</span><span class="nv"> </span><span class="s">Value&quot;</span>
    <span class="l l-Scalar l-Scalar-Plain">dout_pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">D0</span>
    <span class="l l-Scalar l-Scalar-Plain">clk_pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">D1</span>
    <span class="l l-Scalar l-Scalar-Plain">gain</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">128</span>
    <span class="l l-Scalar l-Scalar-Plain">update_interval</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">15s</span>
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>name</strong> (<strong>Required</strong>, string): The name for the load cell sensor.</li>
<li><strong>dout_pin</strong> (<strong>Required</strong>, <a class="reference internal" href="../../guides/configuration-types.html#config-pin-schema"><span class="std std-ref">Pin Schema</span></a>): The DOUT (or DAT) pin.</li>
<li><strong>clk_pin</strong> (<strong>Required</strong>, <a class="reference internal" href="../../guides/configuration-types.html#config-pin-schema"><span class="std std-ref">Pin Schema</span></a>): The CLK pin.</li>
<li><strong>update_interval</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-time"><span class="std std-ref">Time</span></a>): The interval to check the sensor. Defaults to <code class="docutils literal notranslate"><span class="pre">15s</span></code>.
See <a class="reference internal" href="index.html#sensor-default-filter"><span class="std std-ref">update_interval gotchas</span></a>.</li>
<li><strong>id</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Manually specify the ID used for code generation.</li>
<li>All other options from <a class="reference internal" href="index.html#config-sensor"><span class="std std-ref">Sensor</span></a> and <a class="reference internal" href="../mqtt.html#config-mqtt-component"><span class="std std-ref">MQTT Component</span></a>.</li>
</ul>
</div>
<div class="section" id="converting-units">
<h2>Converting Units<a class="headerlink" href="#converting-units" title="Permalink to this headline">¶</a></h2>
<p>As the HX711 does not have any calibration data, you have to convert the measurement to units yourself.
To calibrate the sensor:</p>
<ol class="arabic simple">
<li>Place nothing or a known mass on the sensor, for example <code class="docutils literal notranslate"><span class="pre">0kg</span></code></li>
<li>Wait for the data to arrive in the logs and write down the value. For example <code class="docutils literal notranslate"><span class="pre">120</span></code>.</li>
<li>Place another (different) known mass on the sensor, for example <code class="docutils literal notranslate"><span class="pre">1kg</span></code></li>
<li>Again wait for the data to arrive and note the value, for example <code class="docutils literal notranslate"><span class="pre">810</span></code>.</li>
</ol>
<p>Once you’ve done those steps, you can use the <code class="docutils literal notranslate"><span class="pre">map</span></code> function to map the incoming value to the calibrated one:</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="l l-Scalar l-Scalar-Plain">sensor</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">hx711</span>
    <span class="c1"># ... Other HX711 options</span>
    <span class="l l-Scalar l-Scalar-Plain">filters</span><span class="p p-Indicator">:</span>
      <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">lambda</span><span class="p p-Indicator">:</span> <span class="p p-Indicator">|-</span>
          <span class="no">auto first_mass = 0.0; // first known mass was 0kg</span>
          <span class="no">auto first_value = 120.0; // value for the first known mass was 120</span>
          <span class="no">auto second_mass = 1.0; // second mass was 1kg</span>
          <span class="no">auto second_value = 810.0; // second value was 810</span>

          <span class="no">return map(x, first_value, second_value, first_mass, second_mass);</span>
    <span class="l l-Scalar l-Scalar-Plain">unit_of_measurement</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">kg</span>
</pre></div>
</div>
<p>Replace the masses and values <code class="docutils literal notranslate"><span class="pre">120.0</span></code>, <code class="docutils literal notranslate"><span class="pre">810.0</span></code>, etc with your values.</p>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="index.html#sensor-filters"><span class="std std-ref">Sensor Filters</span></a></li>
<li><a class="reference internal" href="adc.html"><span class="doc">Analog To Digital Sensor</span></a></li>
<li><a class="reference internal" href="../../../api/sensor/hx711.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/bogde/HX711">HX711 Library</a> by <a class="reference external" href="https://github.com/bogde">&#64;bogde</a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/sensor/hx711.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-sensor-hx711" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
    <div class="footer">
      
      
      
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.8.2</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.12</a>
      
    </div>

    

    
  </body>
</html>