
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up INA219 DC current sensors">
<meta name="keywords" content="ina219">
<meta itemprop="name" content="INA219 DC Current Sensor">
<meta itemprop="description" content="Instructions for setting up INA219 DC current sensors">
<meta itemprop="image" content="https://esphomelib.com/_images/ina219.jpg">
<meta name="twitter:title" content="INA219 DC Current Sensor">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/ina219.jpg">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up INA219 DC current sensors">
<meta property="og:title" content="INA219 DC Current Sensor"/>
<meta property="og:image" content="https://esphomelib.com/_images/ina219.jpg"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up INA219 DC current sensors"/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>INA219 DC Current Sensor &#8212; esphomelib 1.9.3 documentation</title>
    <link rel="stylesheet" href="../../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/sensor/ina219.html" />
    <link rel="shortcut icon" href="../../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="INA3221 3-Channel DC Current Sensor" href="ina3221.html" />
    <link rel="prev" title="HX711 Load Cell Amplifier" href="hx711.html" />
   
  <link rel="stylesheet" href="../../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../../_static/apple-touch-icon.png" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../../index.html">
              <img class="logo" src="../../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">INA219 DC Current Sensor</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="ina219-dc-current-sensor">
<h1>INA219 DC Current Sensor<a class="headerlink" href="#ina219-dc-current-sensor" title="Permalink to this headline">¶</a></h1>
<p>The <code class="docutils literal notranslate"><span class="pre">ina219</span></code> sensor platform allows you to use your INA219 High Side DC Current Sensor
(<a class="reference external" href="https://cdn-learn.adafruit.com/downloads/pdf/adafruit-ina219-current-sensor-breakout.pdf">datasheet</a>,
<a class="reference external" href="https://www.adafruit.com/product/904">Adafruit</a>) sensors with
esphomelib. The <a class="reference internal" href="../i2c.html#i2c"><span class="std std-ref">I²C Bus</span></a> is
required to be set up in your configuration for this sensor to work.</p>
<div class="figure align-center" id="id1">
<a class="reference internal image-reference" href="../../../_images/ina219-full.jpg"><img alt="../../../_images/ina219-full.jpg" src="../../../_images/ina219-full.jpg" style="width: 50.0%;" /></a>
<p class="caption"><span class="caption-text">INA219 DC Current Sensor.</span></p>
</div>
<div class="figure align-center">
<a class="reference internal image-reference" href="../../../_images/ina219-ui.png"><img alt="../../../_images/ina219-ui.png" src="../../../_images/ina219-ui.png" style="width: 80.0%;" /></a>
</div>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="l l-Scalar l-Scalar-Plain">sensor</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">ina219</span>
    <span class="l l-Scalar l-Scalar-Plain">address</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">0x40</span>
    <span class="l l-Scalar l-Scalar-Plain">shunt_resistance</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">0.1 ohm</span>
    <span class="l l-Scalar l-Scalar-Plain">current</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="s">&quot;INA219</span><span class="nv"> </span><span class="s">Current&quot;</span>
    <span class="l l-Scalar l-Scalar-Plain">power</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="s">&quot;INA219</span><span class="nv"> </span><span class="s">Power&quot;</span>
    <span class="l l-Scalar l-Scalar-Plain">bus_voltage</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="s">&quot;INA219</span><span class="nv"> </span><span class="s">Bus</span><span class="nv"> </span><span class="s">Voltage&quot;</span>
    <span class="l l-Scalar l-Scalar-Plain">shunt_voltage</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="s">&quot;INA219</span><span class="nv"> </span><span class="s">Shunt</span><span class="nv"> </span><span class="s">Voltage&quot;</span>
    <span class="l l-Scalar l-Scalar-Plain">max_voltage</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">32.0V</span>
    <span class="l l-Scalar l-Scalar-Plain">max_current</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">3.2A</span>
    <span class="l l-Scalar l-Scalar-Plain">update_interval</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">15s</span>
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>address</strong> (<em>Optional</em>, int): Manually specify the i^2c address of the sensor. Defaults to <code class="docutils literal notranslate"><span class="pre">0x40</span></code>.</li>
<li><strong>shunt_resistance</strong> (<em>Optional</em>, float): The value of the shunt resistor on the board for current calculation.
Defaults to <code class="docutils literal notranslate"><span class="pre">0.1</span> <span class="pre">ohm</span></code>.</li>
<li><strong>max_voltage</strong> (<em>Optional</em>, float): The maximum bus voltage you are expecting. esphomelib will use this to
configure the sensor optimally. Defaults to <code class="docutils literal notranslate"><span class="pre">32V</span></code> (the max).</li>
<li><strong>max_current</strong> (<em>Optional</em>, float): The maximum current you are expecting. esphomelib will use this to
configure the sensor optimally. Defaults to <code class="docutils literal notranslate"><span class="pre">3.2A</span></code>.</li>
<li><strong>current</strong> (<em>Optional</em>): Use the current value of the sensor in amperes. All options from
<a class="reference internal" href="index.html#config-sensor"><span class="std std-ref">Sensor</span></a> and <a class="reference internal" href="../mqtt.html#config-mqtt-component"><span class="std std-ref">MQTT Component</span></a>.</li>
<li><strong>power</strong> (<em>Optional</em>): Use the power value of the sensor in watts. All options from
<a class="reference internal" href="index.html#config-sensor"><span class="std std-ref">Sensor</span></a> and <a class="reference internal" href="../mqtt.html#config-mqtt-component"><span class="std std-ref">MQTT Component</span></a>.</li>
<li><strong>bus_voltage</strong> (<em>Optional</em>): Use the bus voltage (voltage of the high side contact) value of the sensor in V.
All options from <a class="reference internal" href="index.html#config-sensor"><span class="std std-ref">Sensor</span></a> and <a class="reference internal" href="../mqtt.html#config-mqtt-component"><span class="std std-ref">MQTT Component</span></a>.</li>
<li><strong>shunt_voltage</strong> (<em>Optional</em>): Use the shunt voltage (voltage across the shunt resistor) value of the sensor in V.
All options from <a class="reference internal" href="index.html#config-sensor"><span class="std std-ref">Sensor</span></a> and <a class="reference internal" href="../mqtt.html#config-mqtt-component"><span class="std std-ref">MQTT Component</span></a>.</li>
<li><strong>update_interval</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-time"><span class="std std-ref">Time</span></a>): The interval to check the sensor. Defaults to <code class="docutils literal notranslate"><span class="pre">15s</span></code>.
See <a class="reference internal" href="index.html#sensor-default-filter"><span class="std std-ref">update_interval gotchas</span></a>.</li>
</ul>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="index.html#sensor-filters"><span class="std std-ref">Sensor Filters</span></a></li>
<li><a class="reference internal" href="ina3221.html"><span class="doc">INA3221 3-Channel DC Current Sensor</span></a></li>
<li><a class="reference internal" href="../../../api/sensor/ina219.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/adafruit/Adafruit_INA219">INA291 Arduino Library</a> by <a class="reference external" href="https://www.adafruit.com/">Adafruit</a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/sensor/ina219.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-sensor-ina219" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
    <div class="footer">
      
      
      
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.8.2</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.12</a>
      
    </div>

    

    
  </body>
</html>