
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up sensor components in esphomelib.">
<meta itemprop="name" content="Sensor Component">
<meta itemprop="description" content="Instructions for setting up sensor components in esphomelib.">
<meta itemprop="image" content="https://esphomelib.com/_images/folder-open.png">
<meta name="twitter:title" content="Sensor Component">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/folder-open.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up sensor components in esphomelib.">
<meta property="og:title" content="Sensor Component"/>
<meta property="og:image" content="https://esphomelib.com/_images/folder-open.png"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up sensor components in esphomelib."/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>Sensor Component &#8212; ESPHome 1.9.3 documentation</title>
    <link rel="stylesheet" href="../../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/sensor/index.html" />
    <link rel="shortcut icon" href="../../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="Analog To Digital Sensor" href="adc.html" />
    <link rel="prev" title="PCA9685 PWM Output" href="../output/pca9685.html" />
   
  <link rel="stylesheet" href="../../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../../_static/apple-touch-icon.png" />
  
  
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/sensor/index.html"/>
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../../index.html">
              <img class="logo" src="../../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Sensor Component</a><ul>
<li><a class="reference internal" href="#base-sensor-configuration">Base Sensor Configuration</a></li>
<li><a class="reference internal" href="#sensor-filters">Sensor Filters</a></li>
<li><a class="reference internal" href="#example-converting-celsius-to-fahrenheit">Example: Converting Celsius to Fahrenheit</a></li>
<li><a class="reference internal" href="#update-interval-gotchas"><code class="docutils literal notranslate"><span class="pre">update_interval</span></code> gotchas</a></li>
<li><a class="reference internal" href="#sensor-automation">Sensor Automation</a><ul>
<li><a class="reference internal" href="#on-value"><code class="docutils literal notranslate"><span class="pre">on_value</span></code></a></li>
<li><a class="reference internal" href="#on-value-range"><code class="docutils literal notranslate"><span class="pre">on_value_range</span></code></a></li>
<li><a class="reference internal" href="#on-raw-value"><code class="docutils literal notranslate"><span class="pre">on_raw_value</span></code></a></li>
<li><a class="reference internal" href="#lambda-calls">lambda calls</a></li>
</ul>
</li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="sensor-component">
<h1>Sensor Component<a class="headerlink" href="#sensor-component" title="Permalink to this headline">¶</a></h1>
<p>esphomelib has support for many different sensors. Each of them is a
platform of the <code class="docutils literal notranslate"><span class="pre">sensor</span></code> domain and each sensor has several base
configuration options.</p>
<div class="section" id="base-sensor-configuration">
<span id="config-sensor"></span><h2>Base Sensor Configuration<a class="headerlink" href="#base-sensor-configuration" title="Permalink to this headline">¶</a></h2>
<p>All sensors in esphomeyaml/esphomelib have a name and some other
optional configuration options. By default, the sensor platform will
chose appropriate values for all of these by default, but you can always
override them if you want to.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># Example sensor configuration</span>
<span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">Livingroom Temperature</span>

<span class="c1"># Optional variables:</span>
<span class="l l-Scalar l-Scalar-Plain">unit_of_measurement</span><span class="p p-Indicator">:</span> <span class="s">&quot;°C&quot;</span>
<span class="l l-Scalar l-Scalar-Plain">icon</span><span class="p p-Indicator">:</span> <span class="s">&quot;mdi:water-percent&quot;</span>
<span class="l l-Scalar l-Scalar-Plain">accuracy_decimals</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">1</span>
<span class="l l-Scalar l-Scalar-Plain">expire_after</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">30s</span>
<span class="l l-Scalar l-Scalar-Plain">filters</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">sliding_window_moving_average</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">window_size</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">15</span>
      <span class="l l-Scalar l-Scalar-Plain">send_every</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">15</span>
</pre></div>
</div>
<p>Configuration variables:</p>
<ul class="simple">
<li><strong>name</strong> (<strong>Required</strong>, string): The name for the sensor.</li>
<li><strong>unit_of_measurement</strong> (<em>Optional</em>, string): Manually set the unit
of measurement the sensor should advertise its values with. This does
not actually do any maths (conversion between units).</li>
<li><strong>icon</strong> (<em>Optional</em>, icon): Manually set the icon to use for the sensor in the frontend.</li>
<li><strong>accuracy_decimals</strong> (<em>Optional</em>, int): Manually set the accuracy of decimals to use when reporting values.</li>
<li><strong>expire_after</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-time"><span class="std std-ref">Time</span></a>): Manually set the time in which
the sensor values should be marked as “expired”/“unknown”. Not providing any value means no expiry.</li>
<li><strong>filters</strong> (<em>Optional</em>): Specify filters to use for some basic
transforming of values. Defaults to a basic sliding window moving
average over the last few values. See <a class="reference internal" href="#sensor-filters"><span class="std std-ref">Sensor Filters</span></a> for more information.</li>
</ul>
<p>Automations:</p>
<ul class="simple">
<li><strong>on_value</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/automations.html#automation"><span class="std std-ref">Automation</span></a>): An automation to perform
when a new value is published. See <a class="reference internal" href="#sensor-on-value"><span class="std std-ref">on_value</span></a>.</li>
<li><strong>on_value_range</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/automations.html#automation"><span class="std std-ref">Automation</span></a>): An automation to perform
when a published value transition from outside to a range to inside. See <a class="reference internal" href="#sensor-on-value-range"><span class="std std-ref">on_value_range</span></a>.</li>
<li><strong>on_raw_value</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/automations.html#automation"><span class="std std-ref">Automation</span></a>): An automation to perform
when a raw value is received that hasn’t passed through any filters. See <a class="reference internal" href="#sensor-on-raw-value"><span class="std std-ref">on_raw_value</span></a>.</li>
<li>All other options from <a class="reference internal" href="../mqtt.html#config-mqtt-component"><span class="std std-ref">MQTT Component</span></a>.</li>
</ul>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p>If you’re trying to setup filters for a sensor that has multiple outputs - for example a DHT22 which
reports temperature <em>and</em> humidity - put the <code class="docutils literal notranslate"><span class="pre">filters</span></code> option into each sensor output like this:</p>
<div class="last highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">sensor</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">dht</span>
    <span class="c1"># ...</span>
    <span class="l l-Scalar l-Scalar-Plain">temperature</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">filters</span><span class="p p-Indicator">:</span>
        <span class="c1"># ...</span>
    <span class="l l-Scalar l-Scalar-Plain">humidity</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">filters</span><span class="p p-Indicator">:</span>
        <span class="c1"># ...</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="sensor-filters">
<span id="id1"></span><h2>Sensor Filters<a class="headerlink" href="#sensor-filters" title="Permalink to this headline">¶</a></h2>
<p>esphomeyaml/esphomelib allow you to do some basic pre-processing of
sensor values before they’re sent to Home Assistant. This is for example
useful if you want to apply some average over the last few values to
relief Home Assistant’s state machine and keep the history graphs in the
front-end a bit more clean. More sophisticated filters should be done
with Home Assistant’s <a class="reference external" href="https://www.home-assistant.io/components/sensor.filter/">filter
sensor</a>.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># Example filters:</span>
<span class="l l-Scalar l-Scalar-Plain">filters</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">offset</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">2.0</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">multiply</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">1.2</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">filter_out</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">42.0</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">filter_nan</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">sliding_window_moving_average</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">window_size</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">15</span>
      <span class="l l-Scalar l-Scalar-Plain">send_every</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">15</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">exponential_moving_average</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">alpha</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">0.1</span>
      <span class="l l-Scalar l-Scalar-Plain">send_every</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">15</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">throttle</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">1s</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">heartbeat</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">5s</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">debounce</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">0.1s</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">delta</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">5.0</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">unique</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">or</span><span class="p p-Indicator">:</span>
    <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">throttle</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">1s</span>
    <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">delta</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">5.0</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">lambda</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">return x * (9.0/5.0) + 32.0;</span>
</pre></div>
</div>
<p>Above example configuration entry is probably a bit useless, but shows
every filter there is currently:</p>
<ul class="simple">
<li><strong>offset</strong>: Add an offset to every sensor value.</li>
<li><strong>multiply</strong>: Multiply each sensor value by this number.</li>
<li><strong>filter_out</strong>: Remove every sensor value that equals this number.</li>
<li><strong>filter_nan</strong>: Remove every value that is considered <code class="docutils literal notranslate"><span class="pre">NAN</span></code> (not a
number) in C.</li>
<li><strong>sliding_window_moving_average</strong>: A <a class="reference external" href="https://en.wikipedia.org/wiki/Moving_average#Simple_moving_average">simple moving
average</a>
over the last few values.<ul>
<li><strong>window_size</strong>: The number of values over which to perform an
average when pushing out a value.</li>
<li><strong>send_every</strong>: How often a sensor value should be pushed out. For
example, in above configuration the weighted average is only
pushed out on every 15th received sensor value.</li>
<li><strong>send_first_at</strong>: By default, the very first raw value on boot is immediately
published. With this parameter you can specify when the very first value is to be sent.
Defaults to <code class="docutils literal notranslate"><span class="pre">1</span></code>.</li>
</ul>
</li>
<li><strong>exponential_moving_average</strong>: A simple <a class="reference external" href="https://en.wikipedia.org/wiki/Moving_average#Exponential_moving_average">exponential moving
average</a>
over the last few values.<ul>
<li><strong>alpha</strong>: The forget factor/alpha value of the filter.</li>
<li><strong>send_every</strong>: How often a sensor value should be pushed out.</li>
</ul>
</li>
<li><strong>throttle</strong>: Throttle the incoming values. When this filter gets an incoming value,
it checks if the last incoming value is at least <code class="docutils literal notranslate"><span class="pre">specified</span> <span class="pre">time</span> <span class="pre">period</span></code> old.
If it is not older than the configured value, the value is not passed forward.</li>
<li><strong>heartbeat</strong>: Send the last value that this sensor in the specified time interval.
So a value of <code class="docutils literal notranslate"><span class="pre">10s</span></code> will cause the filter to output values every 10s regardless
of the input values.</li>
<li><strong>debounce</strong>: Only send values if the last incoming value is at least <code class="docutils literal notranslate"><span class="pre">specified</span> <span class="pre">time</span> <span class="pre">period</span></code>
old. For example if two values come in at almost the same time, this filter will only output
the last value and only after the specified time period has passed without any new incoming
values.</li>
<li><strong>delta</strong>: This filter stores the last value passed through this filter and only
passes incoming values through if the absolute difference is greater than the configured
value. For example if a value of 1.0 first comes in, it’s passed on. If the delta filter
is configured with a value of 5, it will now not pass on an incoming value of 2.0, only values
that are at least 6.0 big or -4.0.</li>
<li><strong>unique</strong>: This filter has no parameter and does one very simple thing: It only passes
forward values if they are different from the last one that got through the pipeline.</li>
<li><strong>or</strong>: Pass forward a value with the first child filter that returns. Above example
will only pass forward values that are <em>either</em> at least 1s old or are if the absolute
difference is at least 5.0.</li>
<li><strong>lambda</strong>: Perform a simple mathematical operation over the sensor
values. The input value is <code class="docutils literal notranslate"><span class="pre">x</span></code> and the result of the lambda is used
as output. Each floating point operation should have <code class="docutils literal notranslate"><span class="pre">.0</span></code> attached
as in above configuration. This will be copied over to the C++ code
as a raw string.</li>
</ul>
</div>
<div class="section" id="example-converting-celsius-to-fahrenheit">
<h2>Example: Converting Celsius to Fahrenheit<a class="headerlink" href="#example-converting-celsius-to-fahrenheit" title="Permalink to this headline">¶</a></h2>
<p>While I personally don’t like the Fahrenheit temperature scale, I do
understand that having temperature values appear in the fahrenheit unit
is quite useful to some users. esphomelib uses the celsius temperature
unit internally, and I’m not planning on making converting between the
two simple (😉), but you can use this filter to convert celsius values to
fahrenheit.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">filters</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">lambda</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">return x * (9.0/5.0) + 32.0;</span>
<span class="l l-Scalar l-Scalar-Plain">unit_of_measurement</span><span class="p p-Indicator">:</span> <span class="s">&quot;°F&quot;</span>
</pre></div>
</div>
</div>
<div class="section" id="update-interval-gotchas">
<span id="sensor-default-filter"></span><h2><code class="docutils literal notranslate"><span class="pre">update_interval</span></code> gotchas<a class="headerlink" href="#update-interval-gotchas" title="Permalink to this headline">¶</a></h2>
<p>By default, esphomelib takes an average over the last 15 values before publishing updates.
This was done in order to automatically decrease sensor noise.
Therefore if you have an <code class="docutils literal notranslate"><span class="pre">update_interval</span></code> of 15 seconds, you will only see the values
every 3 and a half minutes or so. To disable the default filter and publish all raw values
directly, put an empty <code class="docutils literal notranslate"><span class="pre">filters:</span></code> block in your configuration:</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="l l-Scalar l-Scalar-Plain">sensor</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">adc</span>
    <span class="c1"># ...</span>
    <span class="l l-Scalar l-Scalar-Plain">filters</span><span class="p p-Indicator">:</span> <span class="p p-Indicator">[]</span>
</pre></div>
</div>
</div>
<div class="section" id="sensor-automation">
<h2>Sensor Automation<a class="headerlink" href="#sensor-automation" title="Permalink to this headline">¶</a></h2>
<p>You can access the most recent state of the sensor in <a class="reference internal" href="../../guides/automations.html#config-lambda"><span class="std std-ref">lambdas</span></a> using
<code class="docutils literal notranslate"><span class="pre">id(sensor_id).state</span></code> and the most recent raw state using <code class="docutils literal notranslate"><span class="pre">id(sensor_id).raw_state</span></code>.</p>
<div class="section" id="on-value">
<span id="sensor-on-value"></span><h3><code class="docutils literal notranslate"><span class="pre">on_value</span></code><a class="headerlink" href="#on-value" title="Permalink to this headline">¶</a></h3>
<p>This automation will be triggered when a new value that has passed through all filters
is published. In <a class="reference internal" href="../../guides/automations.html#config-lambda"><span class="std std-ref">Lambdas</span></a> you can get the value from the trigger
with <code class="docutils literal notranslate"><span class="pre">x</span></code>.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">sensor</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">dallas</span>
    <span class="c1"># ...</span>
    <span class="l l-Scalar l-Scalar-Plain">on_value</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">then</span><span class="p p-Indicator">:</span>
        <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">light.turn_on</span><span class="p p-Indicator">:</span>
            <span class="l l-Scalar l-Scalar-Plain">id</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">light_1</span>
            <span class="l l-Scalar l-Scalar-Plain">red</span><span class="p p-Indicator">:</span> <span class="kt">!lambda</span> <span class="s">&quot;return</span><span class="nv"> </span><span class="s">x/255;&quot;</span>
</pre></div>
</div>
<p>Configuration variables: See <a class="reference internal" href="../../guides/automations.html#automation"><span class="std std-ref">Automation</span></a>.</p>
</div>
<div class="section" id="on-value-range">
<span id="sensor-on-value-range"></span><h3><code class="docutils literal notranslate"><span class="pre">on_value_range</span></code><a class="headerlink" href="#on-value-range" title="Permalink to this headline">¶</a></h3>
<p>With this automation you can observe if a sensor value passes from outside
a defined range of values to inside a range. For example you can have an
automation that triggers when a humidity crosses a threshold, and then turns on a dehumidifier.
This trigger will only trigger when the new value is inside the range and the previous value
was outside the range. It will also trigger on startup if the first value received is inside the range.</p>
<p>Define the range with <code class="docutils literal notranslate"><span class="pre">above</span></code> and <code class="docutils literal notranslate"><span class="pre">below</span></code>. If only one of them is defined, the interval is half-open.
So for example <code class="docutils literal notranslate"><span class="pre">above:</span> <span class="pre">5</span></code> with no below would mean the range from 5 to positive infinity.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">sensor</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">dallas</span>
    <span class="c1"># ...</span>
    <span class="l l-Scalar l-Scalar-Plain">on_value_range</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">above</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">5</span>
      <span class="l l-Scalar l-Scalar-Plain">below</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">10</span>
      <span class="l l-Scalar l-Scalar-Plain">then</span><span class="p p-Indicator">:</span>
        <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">switch.turn_on</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">relay_1</span>
</pre></div>
</div>
<p>Configuration variables:</p>
<ul class="simple">
<li><strong>above</strong> (<em>Optional</em>, float): The minimum for the trigger.</li>
<li><strong>below</strong> (<em>Optional</em>, float): The maximum for the trigger.</li>
<li>See <a class="reference internal" href="../../guides/automations.html#automation"><span class="std std-ref">Automation</span></a>.</li>
</ul>
</div>
<div class="section" id="on-raw-value">
<span id="sensor-on-raw-value"></span><h3><code class="docutils literal notranslate"><span class="pre">on_raw_value</span></code><a class="headerlink" href="#on-raw-value" title="Permalink to this headline">¶</a></h3>
<p>This automation will be triggered when a new value that has passed through all filters
is published. In <a class="reference internal" href="../../guides/automations.html#config-lambda"><span class="std std-ref">Lambdas</span></a> you can get the value from the trigger
with <code class="docutils literal notranslate"><span class="pre">x</span></code>.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">sensor</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">dallas</span>
    <span class="c1"># ...</span>
    <span class="l l-Scalar l-Scalar-Plain">on_value</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">then</span><span class="p p-Indicator">:</span>
        <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">light.turn_on</span><span class="p p-Indicator">:</span>
            <span class="l l-Scalar l-Scalar-Plain">id</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">light_1</span>
            <span class="l l-Scalar l-Scalar-Plain">red</span><span class="p p-Indicator">:</span> <span class="kt">!lambda</span> <span class="s">&quot;return</span><span class="nv"> </span><span class="s">x/255;&quot;</span>
</pre></div>
</div>
<p>Configuration variables: See <a class="reference internal" href="../../guides/automations.html#automation"><span class="std std-ref">Automation</span></a>.</p>
</div>
<div class="section" id="lambda-calls">
<h3>lambda calls<a class="headerlink" href="#lambda-calls" title="Permalink to this headline">¶</a></h3>
<p>From <a class="reference internal" href="../../guides/automations.html#config-lambda"><span class="std std-ref">lambdas</span></a>, you can call several methods on all sensors to do some
advanced stuff (see the full <a class="reference internal" href="../../../api/sensor/index.html"><span class="doc">API Reference</span></a> for more info).</p>
<ul>
<li><p class="first"><code class="docutils literal notranslate"><span class="pre">publish_state()</span></code>: Manually cause the sensor to push out a value. It will then
be processed by the sensor filters, and once done be published to MQTT.</p>
<div class="highlight-cpp notranslate"><div class="highlight"><pre><span class="c1">// Within lambda, push a value of 42.0</span>
<span class="n">id</span><span class="p">(</span><span class="n">my_sensor</span><span class="p">).</span><span class="n">publish_state</span><span class="p">(</span><span class="mf">42.0</span><span class="p">);</span>
</pre></div>
</div>
</li>
<li><p class="first"><code class="docutils literal notranslate"><span class="pre">.state</span></code>: Retrieve the current value of the sensor that has passed through all sensor filters.
Is <code class="docutils literal notranslate"><span class="pre">NAN</span></code> if no value has gotten through all filters yet.</p>
<div class="highlight-cpp notranslate"><div class="highlight"><pre><span class="c1">// For example, create a custom log message when a value is received:</span>
<span class="n">ESP_LOGI</span><span class="p">(</span><span class="s">&quot;main&quot;</span><span class="p">,</span> <span class="s">&quot;Value of my sensor: %f&quot;</span><span class="p">,</span> <span class="n">id</span><span class="p">(</span><span class="n">my_sensor</span><span class="p">).</span><span class="n">state</span><span class="p">);</span>
</pre></div>
</div>
</li>
<li><p class="first"><code class="docutils literal notranslate"><span class="pre">raw_state</span></code>: Retrieve the current value of the sensor that has not passed through any filters
Is <code class="docutils literal notranslate"><span class="pre">NAN</span></code> if no value if no value has been pushed by the sensor itself yet.</p>
<div class="highlight-cpp notranslate"><div class="highlight"><pre><span class="c1">// For example, create a custom log message when a value is received:</span>
<span class="n">ESP_LOGI</span><span class="p">(</span><span class="s">&quot;main&quot;</span><span class="p">,</span> <span class="s">&quot;Raw Value of my sensor: %f&quot;</span><span class="p">,</span> <span class="n">id</span><span class="p">(</span><span class="n">my_sensor</span><span class="p">).</span><span class="n">raw_state</span><span class="p">);</span>
</pre></div>
</div>
</li>
</ul>
</div>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="../../../api/sensor/index.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/sensor/index.rst">Edit this page on GitHub</a></li>
</ul>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="adc.html">Analog To Digital Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="ads1115.html">ADS1115 Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="bh1750.html">BH1750 Ambient Light Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="ble_rssi.html">ESP32 Bluetooth Low Energy RSSI Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="bme280.html">BME280 Temperature+Pressure+Humidity Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="bme680.html">BME680 Temperature+Pressure+Humidity+Gas Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="bmp085.html">BMP085 Temperature+Pressure Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="bmp280.html">BMP280 Temperature+Pressure Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="cse7766.html">CSE7766 Power Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="custom.html">Custom Sensor Component</a></li>
<li class="toctree-l1"><a class="reference internal" href="dallas.html">Dallas Temperature Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="dht.html">DHT Temperature+Humidity Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="dht12.html">DHT12 Temperature+Humidity Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="duty_cycle.html">Duty Cycle Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="esp32_hall.html">ESP32 Hall Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="hdc1080.html">HDC1080 Temperature+Humidity Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="hlw8012.html">HLW8012 Power Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="hmc5883l.html">HMC5883L Magnetometer</a></li>
<li class="toctree-l1"><a class="reference internal" href="htu21d.html">HTU21D Temperature+Humidity Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="hx711.html">HX711 Load Cell Amplifier</a></li>
<li class="toctree-l1"><a class="reference internal" href="ina219.html">INA219 DC Current Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="ina3221.html">INA3221 3-Channel DC Current Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="max6675.html">MAX6675 K-Type Thermocouple Temperature Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="mhz19.html">MH-Z19 CO_2 and Temperature Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="mpu6050.html">MPU6050 Accelerometer/Gyroscope Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="mqtt_subscribe.html">MQTT Subscribe Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="ms5611.html">MS5611 Atmospheric Pressure Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="pmsx003.html">PMSX003 Particulate Matter Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="pulse_counter.html">Pulse Counter Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="rotary_encoder.html">Rotary Encoder Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="sht3xd.html">SHT3X-D Temperature+Humidity Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="tcs34725.html">TCS34725 RGB Color Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="template.html">Template Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="total_daily_energy.html">Total Daily Energy Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="tsl2561.html">TSL2561 Ambient Light Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="ultrasonic.html">Ultrasonic Distance Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="uptime.html">Uptime Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="wifi_signal.html">WiFi Signal Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="xiaomi_miflora.html">Xiaomi MiFlora BLE Sensor</a></li>
<li class="toctree-l1"><a class="reference internal" href="xiaomi_mijia.html">Xiaomi MiJia BLE Sensor</a></li>
</ul>
</div>
<div data-disqus-identifier="esphomeyaml-components-sensor-index" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
  <div class="footer">
    <a href="/misc/privacy.html">Privacy Policy</a>
  </div>
  <div id="upgrade-footer">
    A new version has been release since you last visited this page: 1.9.3 🎉
    <a id="upgrade-footer-changelog" href="/esphomeyaml/changelog/index.html">View Changelog</a>
  </div>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113203480-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113203480-2', {'anonymize_ip': true});
  </script>

  <script>
    var old = window.localStorage.getItem("release");
    if (old === null) {
      window.localStorage.setItem("release", "1.9.3");
    } else if (old !== "1.9.3") {
      document.getElementById("upgrade-footer").classList.add("not-hidden");
      document.getElementById("upgrade-footer-changelog").addEventListener('click', function () {
        window.localStorage.setItem("release", "1.9.3");
      });
    }
  </script>

  </body>
</html>