
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up MS5611 atmospheric pressure sensors.">
<meta name="keywords" content="MS5611">
<meta itemprop="name" content="MS5611 Atmospheric Pressure Sensor">
<meta itemprop="description" content="Instructions for setting up MS5611 atmospheric pressure sensors.">
<meta itemprop="image" content="https://esphomelib.com/_images/ms5611.jpg">
<meta name="twitter:title" content="MS5611 Atmospheric Pressure Sensor">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/ms5611.jpg">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up MS5611 atmospheric pressure sensors.">
<meta property="og:title" content="MS5611 Atmospheric Pressure Sensor"/>
<meta property="og:image" content="https://esphomelib.com/_images/ms5611.jpg"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up MS5611 atmospheric pressure sensors."/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>MS5611 Atmospheric Pressure Sensor &#8212; ESPHome 1.10.0 documentation</title>
    <link rel="stylesheet" href="../../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../../_static/language_data.js"></script>
    <script type="text/javascript" src="../../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/sensor/ms5611.html" />
    <link rel="shortcut icon" href="../../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="PMSX003 Particulate Matter Sensor" href="pmsx003.html" />
    <link rel="prev" title="MQTT Subscribe Sensor" href="mqtt_subscribe.html" />
   
  <link rel="stylesheet" href="../../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../../_static/apple-touch-icon.png" />
  
  
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/sensor/ms5611.html"/>
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../../index.html">
              <img class="logo" src="../../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">MS5611 Atmospheric Pressure Sensor</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="ms5611-atmospheric-pressure-sensor">
<h1>MS5611 Atmospheric Pressure Sensor<a class="headerlink" href="#ms5611-atmospheric-pressure-sensor" title="Permalink to this headline">¶</a></h1>
<p>The <code class="docutils literal notranslate"><span class="pre">ms5611</span></code> sensor platform allows you to use your MS5611 atmospheric pressure sensors
(<a class="reference external" href="https://www.te.com/commerce/DocumentDelivery/DDEController?Action=showdoc&amp;DocId=Data+Sheet%7FMS5611-01BA03%7FB3%7Fpdf%7FEnglish%7FENG_DS_MS5611-01BA03_B3.pdf%7FCAT-BLPS0036">datasheet</a>,
<a class="reference external" href="http://www.hobbytronics.co.uk/ms5611-altitude-sensor">hobbytronics</a>) temperature and pressure sensors with esphomelib. The <a class="reference internal" href="../i2c.html#i2c"><span class="std std-ref">I²C</span></a> is
required to be set up in your configuration for this sensor to work.</p>
<div class="figure align-center" id="id1">
<a class="reference internal image-reference" href="../../../_images/ms5611-full.jpg"><img alt="../../../_images/ms5611-full.jpg" src="../../../_images/ms5611-full.jpg" style="width: 50.0%;" /></a>
<p class="caption"><span class="caption-text">MS5611 Atmospheric Pressure Sensor</span></p>
</div>
<div class="figure align-center">
<a class="reference internal image-reference" href="../../../_images/ms5611-ui.png"><img alt="../../../_images/ms5611-ui.png" src="../../../_images/ms5611-ui.png" style="width: 80.0%;" /></a>
</div>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="l l-Scalar l-Scalar-Plain">sensor</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">ms5611</span>
    <span class="l l-Scalar l-Scalar-Plain">temperature</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="s">&quot;Outside</span><span class="nv"> </span><span class="s">Temperature&quot;</span>
    <span class="l l-Scalar l-Scalar-Plain">pressure</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="s">&quot;Outside</span><span class="nv"> </span><span class="s">Pressure&quot;</span>
    <span class="l l-Scalar l-Scalar-Plain">address</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">0x77</span>
    <span class="l l-Scalar l-Scalar-Plain">update_interval</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">60s</span>
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>pressure</strong> (<strong>Required</strong>): The information for the pressure sensor.<ul>
<li><strong>name</strong> (<strong>Required</strong>, string): The name for the pressure sensor.</li>
<li><strong>id</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Set the ID of this sensor for use in lambdas.</li>
<li>All other options from <a class="reference internal" href="index.html#config-sensor"><span class="std std-ref">Sensor</span></a> and <a class="reference internal" href="../mqtt.html#config-mqtt-component"><span class="std std-ref">MQTT Component</span></a>.</li>
</ul>
</li>
<li><strong>temperature</strong> (<strong>Required</strong>): The information for the temperature.
sensor<ul>
<li><strong>name</strong> (<strong>Required</strong>, string): The name for the temperature
sensor.</li>
<li><strong>id</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Set the ID of this sensor for use in lambdas.</li>
<li>All other options from <a class="reference internal" href="index.html#config-sensor"><span class="std std-ref">Sensor</span></a> and <a class="reference internal" href="../mqtt.html#config-mqtt-component"><span class="std std-ref">MQTT Component</span></a>.</li>
</ul>
</li>
<li><strong>address</strong> (<em>Optional</em>, int): Manually specify the i^2c address of
the sensor. Defaults to <code class="docutils literal notranslate"><span class="pre">0x77</span></code>.</li>
<li><strong>update_interval</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-time"><span class="std std-ref">Time</span></a>): The interval to check the
sensor. Defaults to <code class="docutils literal notranslate"><span class="pre">60s</span></code>.</li>
</ul>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="index.html#sensor-filters"><span class="std std-ref">Sensor Filters</span></a></li>
<li><a class="reference internal" href="bmp280.html"><span class="doc">BMP280 Temperature+Pressure Sensor</span></a></li>
<li><a class="reference internal" href="bme280.html"><span class="doc">BME280 Temperature+Pressure+Humidity Sensor</span></a></li>
<li><a class="reference internal" href="bmp085.html"><span class="doc">BMP085 Temperature+Pressure Sensor</span></a></li>
<li><a class="reference external" href="https://github.com/jarzebski/Arduino-MS5611">Arduino MS5611 Library</a> by <a class="reference external" href="https://github.com/jarzebski">Korneliusz Jarzębski</a></li>
<li><a class="reference internal" href="../../../api/sensor/ms5611.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/sensor/ms5611.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-sensor-ms5611" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
  <div class="footer">
    <a href="/misc/privacy.html">Privacy Policy</a>
  </div>
  <div id="upgrade-footer">
    A new version has been release since you last visited this page: 1.10.0 🎉
    <a id="upgrade-footer-changelog" href="/esphomeyaml/changelog/index.html">View Changelog</a>
  </div>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113203480-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113203480-2', {'anonymize_ip': true});
  </script>

  <script>
    var old = window.localStorage.getItem("release");
    if (old === null) {
      window.localStorage.setItem("release", "1.10.0");
    } else if (old !== "1.10.0") {
      document.getElementById("upgrade-footer").classList.add("not-hidden");
      document.getElementById("upgrade-footer-changelog").addEventListener('click', function () {
        window.localStorage.setItem("release", "1.10.0");
      });
    }
  </script>

  </body>
</html>