
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up pulse counter sensors.">
<meta itemprop="name" content="Pulse Counter Sensor">
<meta itemprop="description" content="Instructions for setting up pulse counter sensors.">
<meta itemprop="image" content="https://esphomelib.com/_images/pulse.svg">
<meta name="twitter:title" content="Pulse Counter Sensor">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/pulse.svg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up pulse counter sensors.">
<meta property="og:title" content="Pulse Counter Sensor"/>
<meta property="og:image" content="https://esphomelib.com/_images/pulse.svg"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up pulse counter sensors."/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>Pulse Counter Sensor &#8212; esphomelib 1.9.0 documentation</title>
    <link rel="stylesheet" href="../../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <script async="async" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript" src="../../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/sensor/pulse_counter.html" />
    <link rel="shortcut icon" href="../../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="Rotary Encoder Sensor" href="rotary_encoder.html" />
    <link rel="prev" title="PMSX003 Particulate Matter Sensor" href="pmsx003.html" />
   
  <link rel="stylesheet" href="../../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../../_static/apple-touch-icon.png" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../../index.html">
              <img class="logo" src="../../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Pulse Counter Sensor</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#converting-units">Converting units</a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="pulse-counter-sensor">
<h1>Pulse Counter Sensor<a class="headerlink" href="#pulse-counter-sensor" title="Permalink to this headline">¶</a></h1>
<p>The pulse counter sensor allows you to count the number of pulses and the frequency of a signal
on any pin.</p>
<p>On the ESP32, this sensor is even highly accurate because it’s using the hardware <a class="reference external" href="https://esp-idf.readthedocs.io/en/latest/api-reference/peripherals/pcnt.html">pulse counter
peripheral</a>
on the ESP32.</p>
<div class="figure align-center">
<a class="reference internal image-reference" href="../../../_images/pulse-counter.png"><img alt="../../../_images/pulse-counter.png" src="../../../_images/pulse-counter.png" style="width: 80.0%;" /></a>
</div>
<div class="code yaml highlight-default notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="n">sensor</span><span class="p">:</span>
  <span class="o">-</span> <span class="n">platform</span><span class="p">:</span> <span class="n">pulse_counter</span>
    <span class="n">pin</span><span class="p">:</span> <span class="mi">12</span>
    <span class="n">name</span><span class="p">:</span> <span class="s2">&quot;Pulse Counter&quot;</span>
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>pin</strong> (<strong>Required</strong>, <a class="reference internal" href="../../guides/configuration-types.html#config-pin"><span class="std std-ref">Pin</span></a>): The pin to count pulses on.</li>
<li><strong>name</strong> (<strong>Required</strong>, string): The name of the sensor.</li>
<li><strong>count_mode</strong> (<em>Optional</em>): Configure how the counter should behave
on a detected rising edge/falling edge.<ul>
<li><strong>rising_edge</strong> (<em>Optional</em>): What to do when a rising edge is
detected. One of <code class="docutils literal notranslate"><span class="pre">DISABLE</span></code>, <code class="docutils literal notranslate"><span class="pre">INCREMENT</span></code> and <code class="docutils literal notranslate"><span class="pre">DECREMENT</span></code>.
Defaults to <code class="docutils literal notranslate"><span class="pre">INCREMENT</span></code>.</li>
<li><strong>falling_edge</strong> (<em>Optional</em>): What to do when a falling edge is
detected. One of <code class="docutils literal notranslate"><span class="pre">DISABLE</span></code>, <code class="docutils literal notranslate"><span class="pre">INCREMENT</span></code> and <code class="docutils literal notranslate"><span class="pre">DECREMENT</span></code>.
Defaults to <code class="docutils literal notranslate"><span class="pre">DISABLE</span></code>.</li>
</ul>
</li>
<li><strong>internal_filter</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-time"><span class="std std-ref">Time</span></a>): If a pulse shorter than this
time is detected, it’s discarded and no pulse is counted. Defaults to <code class="docutils literal notranslate"><span class="pre">13us</span></code>. On the ESP32,
this value can not be higher than <code class="docutils literal notranslate"><span class="pre">13us</span></code>, for the ESP8266 you can use larger intervals too.</li>
<li><strong>update_interval</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-time"><span class="std std-ref">Time</span></a>): The interval to check the sensor. Defaults to <code class="docutils literal notranslate"><span class="pre">15s</span></code>.
See <a class="reference internal" href="index.html#sensor-default-filter"><span class="std std-ref">update_interval gotchas</span></a>.</li>
<li><strong>id</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Manually specify the ID used for code generation.</li>
<li>All other options from <a class="reference internal" href="index.html#config-sensor"><span class="std std-ref">Sensor</span></a> and <a class="reference internal" href="../mqtt.html#config-mqtt-component"><span class="std std-ref">MQTT Component</span></a>.</li>
</ul>
</div>
<div class="section" id="converting-units">
<h2>Converting units<a class="headerlink" href="#converting-units" title="Permalink to this headline">¶</a></h2>
<p>The sensor defaults to measuring its values using a unit of measurement
of “pulses/min”. You can change this by using <a class="reference internal" href="index.html#sensor-filters"><span class="std std-ref">Sensor Filters</span></a>.
For example, if you’re using the pulse counter with a photodiode to
count the light pulses on a power meter, you can do the following:</p>
<div class="code yaml highlight-default notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="n">sensor</span><span class="p">:</span>
  <span class="o">-</span> <span class="n">platform</span><span class="p">:</span> <span class="n">pulse_counter</span>
    <span class="n">pin</span><span class="p">:</span> <span class="mi">12</span>
    <span class="n">unit_of_measurement</span><span class="p">:</span> <span class="s1">&#39;kW&#39;</span>
    <span class="n">name</span><span class="p">:</span> <span class="s1">&#39;Power Meter House&#39;</span>
    <span class="n">filters</span><span class="p">:</span>
      <span class="o">-</span> <span class="n">multiply</span><span class="p">:</span> <span class="mf">0.06</span>
</pre></div>
</div>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="index.html#sensor-filters"><span class="std std-ref">Sensor Filters</span></a></li>
<li><a class="reference internal" href="rotary_encoder.html"><span class="doc">Rotary Encoder Sensor</span></a></li>
<li><a class="reference external" href="https://esp-idf.readthedocs.io/en/latest/api-reference/peripherals/pcnt.html">esp-idf Pulse Counter API</a>.</li>
<li><a class="reference internal" href="../../../api/sensor/pulse_counter.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/sensor/pulse_counter.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-sensor-pulse_counter" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
    <div class="footer">
      &copy;2018, Otto Winter.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.8.1</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.11</a>
      
    </div>

    

    
  </body>
</html>