
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up sensors that track the total daily energy usage per day and accumulate the power usage.">
<meta itemprop="name" content="Total Daily Energy Sensor">
<meta itemprop="description" content="Instructions for setting up sensors that track the total daily energy usage per day and accumulate the power usage.">
<meta itemprop="image" content="https://esphomelib.com/_images/sigma.png">
<meta name="twitter:title" content="Total Daily Energy Sensor">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/sigma.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up sensors that track the total daily energy usage per day and accumulate the power usage.">
<meta property="og:title" content="Total Daily Energy Sensor"/>
<meta property="og:image" content="https://esphomelib.com/_images/sigma.png"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up sensors that track the total daily energy usage per day and accumulate the power usage."/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>Total Daily Energy Sensor &#8212; esphomelib 1.9.0 documentation</title>
    <link rel="stylesheet" href="../../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/sensor/total_daily_energy.html" />
    <link rel="shortcut icon" href="../../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="TSL2561 Ambient Light Sensor" href="tsl2561.html" />
    <link rel="prev" title="Template Sensor" href="template.html" />
   
  <link rel="stylesheet" href="../../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../../_static/apple-touch-icon.png" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../../index.html">
              <img class="logo" src="../../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Total Daily Energy Sensor</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#converting-from-w-to-kw">Converting from W to kW</a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="total-daily-energy-sensor">
<h1>Total Daily Energy Sensor<a class="headerlink" href="#total-daily-energy-sensor" title="Permalink to this headline">¶</a></h1>
<p>The <code class="docutils literal notranslate"><span class="pre">total_daily_energy</span></code> sensor is a helper sensor that can use the energy value of
other sensors like the <a class="reference internal" href="hlw8012.html"><span class="doc">HLW8012</span></a>, <a class="reference internal" href="cse7766.html"><span class="doc">CSE7766</span></a>, etc and integrate
it over time.</p>
<p>So this component allows you to convert readings in <code class="docutils literal notranslate"><span class="pre">W</span></code> or <code class="docutils literal notranslate"><span class="pre">kW</span></code> to readings of the total
daily energy usage in <code class="docutils literal notranslate"><span class="pre">Wh</span></code> or <code class="docutils literal notranslate"><span class="pre">kWh</span></code>.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="l l-Scalar l-Scalar-Plain">sensor</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">total_daily_energy</span>
    <span class="l l-Scalar l-Scalar-Plain">pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">12</span>
    <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="s">&quot;Total</span><span class="nv"> </span><span class="s">Daily</span><span class="nv"> </span><span class="s">Energy&quot;</span>
    <span class="l l-Scalar l-Scalar-Plain">power_id</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">my_power</span>

  <span class="c1"># The power sensor to convert, can be any power sensor</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">hlw8012</span>
    <span class="c1"># ...</span>
    <span class="l l-Scalar l-Scalar-Plain">power</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">id</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">my_power</span>

<span class="c1"># Enable time component to reset energy at midnight</span>
<span class="l l-Scalar l-Scalar-Plain">time</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">sntp</span>
    <span class="l l-Scalar l-Scalar-Plain">id</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">my_time</span>
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>power_id</strong> (<strong>Required</strong>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): The ID of the power sensor
to integrate over time.</li>
<li><strong>name</strong> (<strong>Required</strong>, string): The name of the sensor.</li>
<li><strong>id</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Manually specify the ID used for code generation.</li>
<li>All other options from <a class="reference internal" href="index.html#config-sensor"><span class="std std-ref">Sensor</span></a> and <a class="reference internal" href="../mqtt.html#config-mqtt-component"><span class="std std-ref">MQTT Component</span></a>.</li>
</ul>
</div>
<div class="section" id="converting-from-w-to-kw">
<h2>Converting from W to kW<a class="headerlink" href="#converting-from-w-to-kw" title="Permalink to this headline">¶</a></h2>
<p>Some sensors such as the <a class="reference internal" href="hlw8012.html"><span class="doc">HLW8012</span></a> expose their power sensor with a unit of measurement of
<code class="docutils literal notranslate"><span class="pre">W</span></code>. To have your readings in <code class="docutils literal notranslate"><span class="pre">kW</span></code>, use a filter:</p>
<div class="code highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">sensor</span><span class="p p-Indicator">:</span>
  <span class="c1"># The power sensor to convert, can be any power sensor</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">hlw8012</span>
    <span class="c1"># ...</span>
    <span class="l l-Scalar l-Scalar-Plain">power</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">id</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">my_power</span>
      <span class="l l-Scalar l-Scalar-Plain">filters</span><span class="p p-Indicator">:</span>
        <span class="c1"># Multiplication factor from W to kW is 0.001</span>
        <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">multiply</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">0.001</span>
      <span class="l l-Scalar l-Scalar-Plain">unit_of_measurement</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">kW</span>
</pre></div>
</div>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="index.html#sensor-filters"><span class="std std-ref">Sensor Filters</span></a></li>
<li><a class="reference internal" href="hlw8012.html"><span class="doc">HLW8012 Power Sensor</span></a></li>
<li><a class="reference internal" href="cse7766.html"><span class="doc">CSE7766 Power Sensor</span></a></li>
<li><a class="reference internal" href="../../cookbook/power_meter.html"><span class="doc">Non-Invasive Power Meter</span></a></li>
<li><a class="reference internal" href="../../../api/sensor/total_daily_energy.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/sensor/total_daily_energy.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-sensor-total_daily_energy" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
    <div class="footer">
      
      
      
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.8.2</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.12</a>
      
    </div>

    

    
  </body>
</html>