
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up ultrasonic distance measurement sensors in esphomelib.">
<meta name="keywords" content="ultrasonic, hc-sr04">
<meta itemprop="name" content="Ultrasonic Distance Sensor">
<meta itemprop="description" content="Instructions for setting up ultrasonic distance measurement sensors in esphomelib.">
<meta itemprop="image" content="https://esphomelib.com/_images/ultrasonic.jpg">
<meta name="twitter:title" content="Ultrasonic Distance Sensor">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/ultrasonic.jpg">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up ultrasonic distance measurement sensors in esphomelib.">
<meta property="og:title" content="Ultrasonic Distance Sensor"/>
<meta property="og:image" content="https://esphomelib.com/_images/ultrasonic.jpg"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up ultrasonic distance measurement sensors in esphomelib."/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>Ultrasonic Distance Sensor &#8212; esphomelib 1.9.3 documentation</title>
    <link rel="stylesheet" href="../../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/sensor/ultrasonic.html" />
    <link rel="shortcut icon" href="../../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="Uptime Sensor" href="uptime.html" />
    <link rel="prev" title="TSL2561 Ambient Light Sensor" href="tsl2561.html" />
   
  <link rel="stylesheet" href="../../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../../_static/apple-touch-icon.png" />
  
  
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/sensor/ultrasonic.html"/>
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../../index.html">
              <img class="logo" src="../../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Ultrasonic Distance Sensor</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#ultrasonic-timeouts">Ultrasonic Timeouts</a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="ultrasonic-distance-sensor">
<h1>Ultrasonic Distance Sensor<a class="headerlink" href="#ultrasonic-distance-sensor" title="Permalink to this headline">¶</a></h1>
<p>The ultrasonic distance sensor allows you to use simple ultrasonic
sensors like the HC-SR04
(<a class="reference external" href="https://www.electroschematics.com/wp-content/uploads/2013/07/HC-SR04-datasheet-version-2.pdf">datasheet</a>,
<a class="reference external" href="https://www.sparkfun.com/products/13959">sparkfun</a>) with esphomelib
to measure distances. These sensors usually can’t measure anything more
than about two meters and may sometimes make some annoying clicking
sounds.</p>
<p>This sensor platform expects a sensor that can be sent a <strong>trigger
pulse</strong> on a specific pin and will send out a <strong>echo pulse</strong> once a
measurement has been taken. Because sometimes (for example if no object
is detected) the echo pulse is never returned, this sensor also has a
timeout option which specifies how long to wait for values. During this
timeout period the whole core will be blocked and therefore shouldn’t be
set too high.</p>
<div class="figure align-center" id="id1">
<a class="reference internal image-reference" href="../../../_images/ultrasonic-full.jpg"><img alt="../../../_images/ultrasonic-full.jpg" src="../../../_images/ultrasonic-full.jpg" style="width: 50.0%;" /></a>
<p class="caption"><span class="caption-text">HC-SR04 Ultrasonic Distance Sensor.</span></p>
</div>
<div class="figure align-center">
<a class="reference internal image-reference" href="../../../_images/ultrasonic-ui.png"><img alt="../../../_images/ultrasonic-ui.png" src="../../../_images/ultrasonic-ui.png" style="width: 80.0%;" /></a>
</div>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="l l-Scalar l-Scalar-Plain">sensor</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">ultrasonic</span>
    <span class="l l-Scalar l-Scalar-Plain">trigger_pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">D1</span>
    <span class="l l-Scalar l-Scalar-Plain">echo_pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">D2</span>
    <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="s">&quot;Ultrasonic</span><span class="nv"> </span><span class="s">Sensor&quot;</span>
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>trigger_pin</strong> (<strong>Required</strong>, <a class="reference internal" href="../../guides/configuration-types.html#config-pin-schema"><span class="std std-ref">Pin Schema</span></a>): The output pin to
periodically send the trigger pulse to.</li>
<li><strong>echo_pin</strong> (<strong>Required</strong>, <a class="reference internal" href="../../guides/configuration-types.html#config-pin-schema"><span class="std std-ref">Pin Schema</span></a>): The input pin on which to
wait for the echo.</li>
<li><strong>name</strong> (<strong>Required</strong>, string): The name of the sensor.</li>
<li><strong>timeout_meter</strong> (<em>Optional</em>, float): The number of meters for the
timeout. Use either this or <code class="docutils literal notranslate"><span class="pre">timeout_time</span></code>. Defaults to 2 meters.</li>
<li><strong>timeout_time</strong> (<em>Optional</em>, int): The number of microseconds for
the timeout. Use either this or <code class="docutils literal notranslate"><span class="pre">timeout_meter</span></code>. Defaults to
11662µs.</li>
<li><strong>update_interval</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-time"><span class="std std-ref">Time</span></a>): The interval to check the
sensor. Defaults to <code class="docutils literal notranslate"><span class="pre">15s</span></code>. See <a class="reference internal" href="index.html#sensor-default-filter"><span class="std std-ref">update_interval gotchas</span></a>.</li>
<li><strong>id</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Manually specify the ID used for code generation.</li>
<li>All other options from <a class="reference internal" href="index.html#config-sensor"><span class="std std-ref">Sensor</span></a> and <a class="reference internal" href="../mqtt.html#config-mqtt-component"><span class="std std-ref">MQTT Component</span></a>.</li>
</ul>
</div>
<div class="section" id="ultrasonic-timeouts">
<h2>Ultrasonic Timeouts<a class="headerlink" href="#ultrasonic-timeouts" title="Permalink to this headline">¶</a></h2>
<p>The ultrasonic sensor works by sending a small ultrasonic pulse out and then waiting until
the pulse arrives back. However, there are cases where no such signal arrives back. This is most commonly caused
by either having the sensor pointed at a soft surface that muffles the incoming signal. The other case where this
can happen is when the the object is too far away and the timeout set by the <code class="docutils literal notranslate"><span class="pre">timeout_meter</span></code> or <code class="docutils literal notranslate"><span class="pre">timeout_time</span></code>
option kicks in.</p>
<p>To remove <code class="docutils literal notranslate"><span class="pre">NAN</span></code> values from the sensor stream, use the <code class="docutils literal notranslate"><span class="pre">filter_nan</span></code> <a class="reference internal" href="index.html#sensor-filters"><span class="std std-ref">sensor filter</span></a>:</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">sensor</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">ultrasonic</span>
    <span class="l l-Scalar l-Scalar-Plain">trigger_pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">D1</span>
    <span class="l l-Scalar l-Scalar-Plain">echo_pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">D2</span>
    <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="s">&quot;Ultrasonic</span><span class="nv"> </span><span class="s">Sensor&quot;</span>
    <span class="l l-Scalar l-Scalar-Plain">filters</span><span class="p p-Indicator">:</span>
      <span class="p p-Indicator">-</span>
</pre></div>
</div>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="index.html#sensor-filters"><span class="std std-ref">Sensor Filters</span></a></li>
<li><a class="reference internal" href="template.html"><span class="doc">Template Sensor</span></a></li>
<li><a class="reference internal" href="../../../api/sensor/ultrasonic.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/sensor/ultrasonic.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-sensor-ultrasonic" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
  <div class="footer">
    <a href="/misc/privacy.html">Privacy Policy</a>
  </div>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113203480-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113203480-2', {'anonymize_ip': true});
  </script>

  </body>
</html>