
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up the deep sleep support for minimizing power consumption on ESPs.">
<meta itemprop="name" content="Deep Sleep Component">
<meta itemprop="description" content="Instructions for setting up the deep sleep support for minimizing power consumption on ESPs.">
<meta itemprop="image" content="https://esphomelib.com/_images/hotel.svg">
<meta name="twitter:title" content="Deep Sleep Component">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/hotel.svg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up the deep sleep support for minimizing power consumption on ESPs.">
<meta property="og:title" content="Deep Sleep Component"/>
<meta property="og:image" content="https://esphomelib.com/_images/hotel.svg"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up the deep sleep support for minimizing power consumption on ESPs."/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>Deep Sleep Component &#8212; esphomelib 1.9.0 documentation</title>
    <link rel="stylesheet" href="../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <script async="async" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript" src="../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/deep_sleep.html" />
    <link rel="shortcut icon" href="../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="ESP32 Bluetooth Low Energy Beacon" href="esp32_ble_beacon.html" />
    <link rel="prev" title="Debug Component" href="debug.html" />
   
  <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../_static/apple-touch-icon.png" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../index.html">
              <img class="logo" src="../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Deep Sleep Component</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#esp32-wakeup-pin-mode">ESP32 Wakeup Pin Mode</a></li>
<li><a class="reference internal" href="#deep-sleep-enter-action"><code class="docutils literal notranslate"><span class="pre">deep_sleep.enter</span></code> Action</a></li>
<li><a class="reference internal" href="#deep-sleep-prevent-action"><code class="docutils literal notranslate"><span class="pre">deep_sleep.prevent</span></code> Action</a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="deep-sleep-component">
<h1>Deep Sleep Component<a class="headerlink" href="#deep-sleep-component" title="Permalink to this headline">¶</a></h1>
<p>The <code class="docutils literal notranslate"><span class="pre">deep_sleep</span></code> component can be used to automatically enter a deep sleep mode on the
ESP8266/ESP32 after a certain amount of time. This is especially useful with nodes that operate
on batteries and therefore need to conserve as much energy as possible.</p>
<p>To use <code class="docutils literal notranslate"><span class="pre">deep_sleep</span></code> first specify how long the node should be active, i.e. how long it should
check sensor values and report them, using the <code class="docutils literal notranslate"><span class="pre">run_duration</span></code> and <code class="docutils literal notranslate"><span class="pre">run_cycles</span></code> options. If you
use both in your configuration, any time either one of them is finished, the node will go into deep
sleep mode.</p>
<p>Next, tell the node how it should wakeup. On the ESP8266, you can only put the node into deep sleep
for a duration using <code class="docutils literal notranslate"><span class="pre">sleep_duration</span></code>, note that on the ESP8266 <code class="docutils literal notranslate"><span class="pre">GPIO16</span></code> must be connected to
the <code class="docutils literal notranslate"><span class="pre">RST</span></code> pin so that it will wake up again. On the ESP32, you additionally have the option
to wake up on any RTC pin (<code class="docutils literal notranslate"><span class="pre">GPIO0</span></code>, <code class="docutils literal notranslate"><span class="pre">GPIO2</span></code>, <code class="docutils literal notranslate"><span class="pre">GPIO4</span></code>, <code class="docutils literal notranslate"><span class="pre">GPIO12</span></code>, <code class="docutils literal notranslate"><span class="pre">GPIO13</span></code>, <code class="docutils literal notranslate"><span class="pre">GPIO14</span></code>,
<code class="docutils literal notranslate"><span class="pre">GPIO15</span></code>, <code class="docutils literal notranslate"><span class="pre">GPIO25</span></code>, <code class="docutils literal notranslate"><span class="pre">GPIO26</span></code>, <code class="docutils literal notranslate"><span class="pre">GPIO27</span></code>, <code class="docutils literal notranslate"><span class="pre">GPIO32</span></code>, <code class="docutils literal notranslate"><span class="pre">GPIO39</span></code>).</p>
<p>While in deep sleep mode, the node will not do any work and not respond to any network traffic,
even Over The Air updates.</p>
<div class="code yaml highlight-default notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="n">deep_sleep</span><span class="p">:</span>
  <span class="n">run_duration</span><span class="p">:</span> <span class="mi">10</span><span class="n">s</span>
  <span class="n">sleep_duration</span><span class="p">:</span> <span class="mi">10</span><span class="nb">min</span>
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>run_duration</strong> (<em>Optional</em>, <a class="reference internal" href="../guides/configuration-types.html#config-time"><span class="std std-ref">Time</span></a>): The time duration the node should be active, i.e. run code.</li>
<li><strong>run_cycles</strong> (<em>Optional</em>, int): The number of <code class="docutils literal notranslate"><span class="pre">loop()</span></code> cycles to go through before
entering deep sleep mode. Note: for advanced use-cases with custom code only.</li>
<li><strong>sleep_duration</strong> (<em>Optional</em>, <a class="reference internal" href="../guides/configuration-types.html#config-time"><span class="std std-ref">Time</span></a>): The time duration to stay in deep sleep mode.</li>
<li><strong>wakeup_pin</strong> (<em>Optional</em>, <a class="reference internal" href="../guides/configuration-types.html#config-pin-schema"><span class="std std-ref">Pin Schema</span></a>):
Only on ESP32. A pin to wake up to once in deep sleep mode. Use the inverted property to wake up
to LOW signals.</li>
<li><strong>wakeup_pin_mode</strong> (<em>Optional</em>): Only on ESP32. Specify how to handle waking up from a <code class="docutils literal notranslate"><span class="pre">wakeup_pin</span></code> if
the wakeup pin is already in the state with which it would wake up when attempting to enter deep sleep.
See <a class="reference internal" href="#deep-sleep-esp32-wakeup-pin-mode"><span class="std std-ref">ESP32 Wakeup Pin Mode</span></a>. Defaults to <code class="docutils literal notranslate"><span class="pre">IGNORE</span></code></li>
<li><strong>id</strong> (<em>Optional</em>, <a class="reference internal" href="../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Manually specify the ID used for code generation.</li>
</ul>
<p>Advanced features:</p>
<ul class="simple">
<li><strong>esp32_ext1_wakeup</strong> (<em>Optional</em>): Use the EXT1 wakeup source of the ESP32 to wake from deep sleep to
wake up on multiple pins. This cannot be used together with wakeup pin.<ul>
<li><strong>pins</strong> (<strong>Required</strong>, list of pin numbers): The pins to wake up on.</li>
<li><strong>mode</strong> (<em>Optional</em>): The mode to use for the wakeup source. Must be one of <code class="docutils literal notranslate"><span class="pre">ALL_LOW</span></code> (wake up when
all pins go LOW) or <code class="docutils literal notranslate"><span class="pre">ANY_HIGH</span></code> (wake up when any pin goes HIGH).</li>
</ul>
</li>
</ul>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p>The <a class="reference internal" href="mqtt.html#mqtt-last-will-birth"><span class="std std-ref">availability feature</span></a> of the MQTT client will cause all values
from the node to be displayed as “unavailable” while the node is in deep sleep mode. To disable availability
reporting and not have any “unavailable” values, set <code class="docutils literal notranslate"><span class="pre">birth_message</span></code> and <code class="docutils literal notranslate"><span class="pre">will_message</span></code> to empty values:</p>
<div class="code yaml last highlight-default notranslate"><div class="highlight"><pre><span class="n">mqtt</span><span class="p">:</span>
  <span class="c1"># ...</span>
  <span class="n">birth_message</span><span class="p">:</span>
  <span class="n">will_message</span><span class="p">:</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="esp32-wakeup-pin-mode">
<span id="deep-sleep-esp32-wakeup-pin-mode"></span><h2>ESP32 Wakeup Pin Mode<a class="headerlink" href="#esp32-wakeup-pin-mode" title="Permalink to this headline">¶</a></h2>
<p>On the ESP32, you have the option of waking up on any RTC pin. However, there’s one scenario that you need
to tell esphomelib how to handle: What if the wakeup pin is already in the state with which it would wake up
when the deep sleep should start? There are three ways of handling this using the <code class="docutils literal notranslate"><span class="pre">wakeup_pin_mode</span></code> option:</p>
<ul class="simple">
<li><code class="docutils literal notranslate"><span class="pre">IGNORE</span></code> (Default): Ignore the fact that we will immediately exit the deep sleep mode because the wakeup
pin is already active.</li>
<li><code class="docutils literal notranslate"><span class="pre">KEEP_AWAKE</span></code>: Keep the ESP32 awake while the wakeup pin is still active. Or in other words: defer the
activation of the deep sleep until the wakeup pin is no longer active.</li>
<li><code class="docutils literal notranslate"><span class="pre">INVERT_WAKEUP</span></code>: When deep sleep was set up to wake up on a HIGH signal, but the wakeup pin is already HIGH,
then re-configure deep sleep to wake up on a LOW signal and vice versa. Useful in situations when you want to
use observe the state changes of a pin using deep sleep and the ON/OFF values last longer.</li>
</ul>
</div>
<div class="section" id="deep-sleep-enter-action">
<span id="id1"></span><h2><code class="docutils literal notranslate"><span class="pre">deep_sleep.enter</span></code> Action<a class="headerlink" href="#deep-sleep-enter-action" title="Permalink to this headline">¶</a></h2>
<p>This action makes the given deep sleep component enter deep sleep immediately.</p>
<div class="code yaml highlight-default notranslate"><div class="highlight"><pre><span class="n">on_</span><span class="o">...</span><span class="p">:</span>
  <span class="n">then</span><span class="p">:</span>
    <span class="o">-</span> <span class="n">deep_sleep</span><span class="o">.</span><span class="n">enter</span><span class="p">:</span> <span class="n">deep_sleep_1</span>
</pre></div>
</div>
</div>
<div class="section" id="deep-sleep-prevent-action">
<span id="id2"></span><h2><code class="docutils literal notranslate"><span class="pre">deep_sleep.prevent</span></code> Action<a class="headerlink" href="#deep-sleep-prevent-action" title="Permalink to this headline">¶</a></h2>
<p>This action prevents the given deep sleep component from entering deep sleep.
Useful for</p>
<div class="code yaml highlight-default notranslate"><div class="highlight"><pre><span class="n">on_</span><span class="o">...</span><span class="p">:</span>
  <span class="n">then</span><span class="p">:</span>
    <span class="o">-</span> <span class="n">deep_sleep</span><span class="o">.</span><span class="n">prevent</span><span class="p">:</span> <span class="n">deep_sleep_1</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p>For example, if you want to upload a binary via OTA with deep sleep mode it can be difficult to
catch the ESP being active.</p>
<p>You can use this automation to automatically prevent deep sleep when a MQTT message on the topic
<code class="docutils literal notranslate"><span class="pre">livingroom/ota_mode</span></code> is received. Then, to do the OTA update, just
use a MQTT client to publish a retained MQTT message described above. When the node wakes up again
it will no longer enter deep sleep mode and you can upload your OTA update.</p>
<p>Remember to turn “OTA mode” off again after the OTA update by sending a MQTT message with the payload
<code class="docutils literal notranslate"><span class="pre">OFF</span></code>.</p>
<div class="code yaml last highlight-default notranslate"><div class="highlight"><pre><span class="n">deep_sleep</span><span class="p">:</span>
  <span class="c1"># ...</span>
  <span class="nb">id</span><span class="p">:</span> <span class="n">deep_sleep_1</span>
<span class="n">mqtt</span><span class="p">:</span>
  <span class="c1"># ...</span>
  <span class="n">on_message</span><span class="p">:</span>
    <span class="n">topic</span><span class="p">:</span> <span class="n">livingroom</span><span class="o">/</span><span class="n">ota_mode</span>
    <span class="n">then</span><span class="p">:</span>
      <span class="o">-</span> <span class="n">deep_sleep</span><span class="o">.</span><span class="n">prevent</span><span class="p">:</span> <span class="n">deep_sleep_1</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="switch/shutdown.html"><span class="doc">Shutdown Switch</span></a></li>
<li><a class="reference internal" href="../guides/automations.html#automation"><span class="std std-ref">Automations And Templates</span></a></li>
<li><a class="reference internal" href="../../api/core/deep-sleep.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/deep_sleep.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-deep_sleep" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
    <div class="footer">
      &copy;2018, Otto Winter.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.8.1</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.11</a>
      
    </div>

    

    
  </body>
</html>