
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up the touch pad feature on the ESP32.">
<meta itemprop="name" content="ESP32 Touch Pad Hub">
<meta itemprop="description" content="Instructions for setting up the touch pad feature on the ESP32.">
<meta itemprop="image" content="https://esphomelib.com/_images/touch.png">
<meta name="twitter:title" content="ESP32 Touch Pad Hub">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/touch.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up the touch pad feature on the ESP32.">
<meta property="og:title" content="ESP32 Touch Pad Hub"/>
<meta property="og:image" content="https://esphomelib.com/_images/touch.png"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up the touch pad feature on the ESP32."/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>ESP32 Touch Pad Hub &#8212; ESPHome 1.10.1 documentation</title>
    <link rel="stylesheet" href="../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../_static/language_data.js"></script>
    <script type="text/javascript" src="../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/esp32_touch.html" />
    <link rel="shortcut icon" href="../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="esphomeyaml Core Configuration" href="esphomeyaml.html" />
    <link rel="prev" title="ESP32 Bluetooth Low Energy Tracker Hub" href="esp32_ble_tracker.html" />
   
  <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../_static/apple-touch-icon.png" />
  
  
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/esp32_touch.html"/>
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../index.html">
              <img class="logo" src="../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">ESP32 Touch Pad Hub</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="esp32-touch-pad-hub">
<h1>ESP32 Touch Pad Hub<a class="headerlink" href="#esp32-touch-pad-hub" title="Permalink to this headline">¶</a></h1>
<p>The <code class="docutils literal notranslate"><span class="pre">esp32_touch</span></code> component creates a global hub for detecting touches on
the eight touch pads of the ESP32 as <a class="reference internal" href="binary_sensor/esp32_touch.html"><span class="doc">binary senors</span></a>.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="l l-Scalar l-Scalar-Plain">esp32_touch</span><span class="p p-Indicator">:</span>
  <span class="l l-Scalar l-Scalar-Plain">setup_mode</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">False</span>

<span class="l l-Scalar l-Scalar-Plain">binary_sensor</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">esp32_touch</span>
    <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="s">&quot;ESP32</span><span class="nv"> </span><span class="s">Touch</span><span class="nv"> </span><span class="s">Pad</span><span class="nv"> </span><span class="s">GPIO27&quot;</span>
    <span class="l l-Scalar l-Scalar-Plain">pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">GPIO27</span>
    <span class="l l-Scalar l-Scalar-Plain">threshold</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">1000</span>
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>setup_mode</strong> (<em>Optional</em>, boolean): Whether debug messages with the touch pad value should
be displayed in the logs. Useful for finding out suitable thresholds for the binary sensors, but
spam the logs. See <a class="reference internal" href="binary_sensor/esp32_touch.html"><span class="doc">setting up touch pads</span></a>
for more information. Defaults to false.</li>
<li><strong>id</strong> (<em>Optional</em>, <a class="reference internal" href="../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Manually specify the ID for code generation.</li>
</ul>
<p>Advanced options (the defaults are usually quite good, but if you’re having accuracy issues, use these):</p>
<ul class="simple">
<li><strong>iir_filter</strong> (<em>Optional</em>, <a class="reference internal" href="../guides/configuration-types.html#config-time"><span class="std std-ref">Time</span></a>): Optionally set up an
<a class="reference external" href="https://en.wikipedia.org/wiki/Infinite_impulse_response">Infinite Impulse Response</a>
filter should be applied to all touch pads. This can increase the accuracy of the touch pads a lot, but
higher values decrease the response time. A good value to start with is <code class="docutils literal notranslate"><span class="pre">10ms</span></code>. Default is no IIR filter.</li>
<li><strong>sleep_duration</strong> (<em>Optional</em>, <a class="reference internal" href="../guides/configuration-types.html#config-time"><span class="std std-ref">Time</span></a>): Set a time period
denoting the amount of time the touch peripheral should sleep between measurements. This can decrease
power usage but make the sensor slower. Default is about 27 milliseconds.</li>
<li><strong>measurement_duration</strong> (<em>Optional</em>, <a class="reference internal" href="../guides/configuration-types.html#config-time"><span class="std std-ref">Time</span></a>): Set the conversion
time for all touch pads. A longer conversion time means that more charge/discharge cycles of the touch pad
can be performed, therefore increasing accuracy. Default is about 8ms, the maximum amount.</li>
<li><strong>low_voltage_reference</strong> (<em>Optional</em>): The low voltage reference to use for the charge cycles. See
the <a class="reference external" href="https://docs.espressif.com/projects/esp-idf/en/latest/api-reference/peripherals/touch_pad.html#optimization-of-measurements">esp-idf docs</a>
for a nice explanation of this. One of <code class="docutils literal notranslate"><span class="pre">0.5V</span></code>, <code class="docutils literal notranslate"><span class="pre">0.6V</span></code>, <code class="docutils literal notranslate"><span class="pre">0.7V</span></code>, <code class="docutils literal notranslate"><span class="pre">0.8V</span></code>. Default is <code class="docutils literal notranslate"><span class="pre">0.5V</span></code>.</li>
<li><strong>high_voltage_reference</strong> (<em>Optional</em>): The high voltage reference to use for the charge cycles. See
the <a class="reference external" href="https://docs.espressif.com/projects/esp-idf/en/latest/api-reference/peripherals/touch_pad.html#optimization-of-measurements">esp-idf docs</a>
for a nice explanation of this. One of <code class="docutils literal notranslate"><span class="pre">2.4V</span></code>, <code class="docutils literal notranslate"><span class="pre">2.5V</span></code>, <code class="docutils literal notranslate"><span class="pre">2.6V</span></code>, <code class="docutils literal notranslate"><span class="pre">2.7V</span></code>. Default is <code class="docutils literal notranslate"><span class="pre">2.7V</span></code>.</li>
<li><strong>voltage_attenuation</strong> (<em>Optional</em>): The voltage attenuation to use for the charge cycles. See
the <a class="reference external" href="https://docs.espressif.com/projects/esp-idf/en/latest/api-reference/peripherals/touch_pad.html#optimization-of-measurements">esp-idf docs</a>
for a nice explanation of this. One of <code class="docutils literal notranslate"><span class="pre">1.5V</span></code>, <code class="docutils literal notranslate"><span class="pre">1V</span></code>, <code class="docutils literal notranslate"><span class="pre">0.5V</span></code>, <code class="docutils literal notranslate"><span class="pre">0V</span></code>. Default is <code class="docutils literal notranslate"><span class="pre">0V</span></code>.</li>
</ul>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="binary_sensor/esp32_touch.html"><span class="doc">ESP32 Touch Pad Binary Sensor</span></a></li>
<li><a class="reference internal" href="../../api/binary_sensor/esp32_touch.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/esp32_touch.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-esp32_touch" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
  <div class="footer">
    <a href="/misc/privacy.html">Privacy Policy</a>
  </div>
  <div id="upgrade-footer">
    A new version has been release since you last visited this page: 1.10.1 🎉
    <a id="upgrade-footer-changelog" href="/esphomeyaml/changelog/index.html">View Changelog</a>
  </div>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113203480-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113203480-2', {'anonymize_ip': true});
  </script>

  <script>
    var old = window.localStorage.getItem("release");
    if (old === null) {
      window.localStorage.setItem("release", "1.10.1");
    } else if (old !== "1.10.1") {
      document.getElementById("upgrade-footer").classList.add("not-hidden");
      document.getElementById("upgrade-footer-changelog").addEventListener('click', function () {
        window.localStorage.setItem("release", "1.10.1");
      });
    }
  </script>

  </body>
</html>