
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up the core esphomeyaml configuration.">
<meta itemprop="name" content="esphomeyaml Core Configuration">
<meta itemprop="description" content="Instructions for setting up the core esphomeyaml configuration.">
<meta itemprop="image" content="https://esphomelib.com/_images/cloud-circle.svg">
<meta name="twitter:title" content="esphomeyaml Core Configuration">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/cloud-circle.svg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up the core esphomeyaml configuration.">
<meta property="og:title" content="esphomeyaml Core Configuration"/>
<meta property="og:image" content="https://esphomelib.com/_images/cloud-circle.svg"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up the core esphomeyaml configuration."/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>esphomeyaml Core Configuration &#8212; esphomelib 1.9.0 documentation</title>
    <link rel="stylesheet" href="../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <script async="async" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript" src="../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/esphomeyaml.html" />
    <link rel="shortcut icon" href="../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="I²C Bus" href="i2c.html" />
    <link rel="prev" title="ESP32 Touch Pad Hub" href="esp32_touch.html" />
   
  <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../_static/apple-touch-icon.png" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../index.html">
              <img class="logo" src="../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">esphomeyaml Core Configuration</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#esphomelib-version"><code class="docutils literal notranslate"><span class="pre">esphomelib_version</span></code></a></li>
<li><a class="reference internal" href="#arduino-version"><code class="docutils literal notranslate"><span class="pre">arduino_version</span></code></a></li>
<li><a class="reference internal" href="#on-boot"><code class="docutils literal notranslate"><span class="pre">on_boot</span></code></a></li>
<li><a class="reference internal" href="#on-shutdown"><code class="docutils literal notranslate"><span class="pre">on_shutdown</span></code></a></li>
<li><a class="reference internal" href="#on-loop"><code class="docutils literal notranslate"><span class="pre">on_loop</span></code></a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="esphomeyaml-core-configuration">
<h1>esphomeyaml Core Configuration<a class="headerlink" href="#esphomeyaml-core-configuration" title="Permalink to this headline">¶</a></h1>
<p>Here you specify some core information that esphomeyaml needs to create
firmwares. Most importantly, this is the section of the configuration
where you specify the <strong>name</strong> of the node, the <strong>platform</strong> and
<strong>board</strong> you’re using.</p>
<div class="code yaml highlight-default notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="n">esphomeyaml</span><span class="p">:</span>
    <span class="n">name</span><span class="p">:</span> <span class="n">livingroom</span>
    <span class="n">platform</span><span class="p">:</span> <span class="n">ESP32</span>
    <span class="n">board</span><span class="p">:</span> <span class="n">nodemcu</span><span class="o">-</span><span class="mi">32</span><span class="n">s</span>
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>name</strong> (<strong>Required</strong>, string): This is the name of the node. It
should always be unique to the node and no other node in your system
can use the same name. It can also only contain upper/lowercase
characters, digits and underscores.</li>
<li><strong>platform</strong> (<strong>Required</strong>, string): The platform your board is on,
either <code class="docutils literal notranslate"><span class="pre">ESP32</span></code> or <code class="docutils literal notranslate"><span class="pre">ESP8266</span></code>. See <a class="reference internal" href="#esphomeyaml-arduino-version"><span class="std std-ref">arduino_version</span></a>.</li>
<li><strong>board</strong> (<strong>Required</strong>, string): The board esphomeyaml should
specify for platformio. For the ESP32, choose the appropriate one
from <a class="reference external" href="http://docs.platformio.org/en/latest/platforms/espressif32.html#boards">this list</a>
and use <a class="reference external" href="http://docs.platformio.org/en/latest/platforms/espressif8266.html#boards">this list</a>
for ESP8266-based boards.</li>
</ul>
<p>Advanced options:</p>
<ul class="simple">
<li><strong>esphomelib_version</strong> (<em>Optional</em>): The version of the C++ <a class="reference external" href="https://github.com/OttoWinter/esphomelib">esphomelib framework</a>
to use. See <a class="reference internal" href="#esphomeyaml-esphomelib-version"><span class="std std-ref">esphomelib_version</span></a>.</li>
<li><strong>arduino_version</strong> (<em>Optional</em>): The version of the arduino framework to link the project against.
See <a class="reference internal" href="#esphomeyaml-arduino-version"><span class="std std-ref">arduino_version</span></a>.</li>
<li><strong>build_path</strong> (<em>Optional</em>, string): Customize where esphomeyaml will store the build files
for your node. By default, esphomeyaml puts all platformio project files under a folder <code class="docutils literal notranslate"><span class="pre">&lt;NODE_NAME&gt;/</span></code>,
but you can customize this behavior using this option.</li>
<li><strong>use_custom_code</strong> (<em>Optional</em>, boolean): Whether to configure the project for writing custom components.
This sets up some flags so that custom code should compile correctly</li>
</ul>
<p>Automations:</p>
<ul class="simple">
<li><strong>on_boot</strong> (<em>Optional</em>, <a class="reference internal" href="../guides/automations.html#automation"><span class="std std-ref">Automation</span></a>): An automation to perform
when the node starts. See <a class="reference internal" href="#esphomeyaml-on-boot"><span class="std std-ref">on_boot</span></a>.</li>
<li><strong>on_shutdown</strong> (<em>Optional</em>, <a class="reference internal" href="../guides/automations.html#automation"><span class="std std-ref">Automation</span></a>): An automation to perform
right before the node shuts down. See <a class="reference internal" href="#esphomeyaml-on-shutdown"><span class="std std-ref">on_shutdown</span></a>.</li>
<li><strong>on_loop</strong> (<em>Optional</em>, <a class="reference internal" href="../guides/automations.html#automation"><span class="std std-ref">Automation</span></a>): An automation to perform
on each <code class="docutils literal notranslate"><span class="pre">loop()</span></code> iteration. See <a class="reference internal" href="#esphomeyaml-on-loop"><span class="std std-ref">on_loop</span></a>.</li>
</ul>
</div>
<div class="section" id="esphomelib-version">
<span id="esphomeyaml-esphomelib-version"></span><h2><code class="docutils literal notranslate"><span class="pre">esphomelib_version</span></code><a class="headerlink" href="#esphomelib-version" title="Permalink to this headline">¶</a></h2>
<p>With the <code class="docutils literal notranslate"><span class="pre">esphomelib_version</span></code> parameter you can tell esphomeyaml which version of the C++ framework
to use when compiling code. For example, you can configure using the most recent (potentially unstable)
version of esphomelib straight from github. Or you can configure the use of a local copy of esphomelib
using this configuration option.</p>
<p>First, you can configure the use of either the latest esphomelib stable release (<code class="docutils literal notranslate"><span class="pre">latest</span></code>),
the latest development code from GitHub (<code class="docutils literal notranslate"><span class="pre">dev</span></code>), or a specific version number (<code class="docutils literal notranslate"><span class="pre">1.8.0</span></code>).</p>
<div class="code yaml highlight-default notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="n">esphomeyaml</span><span class="p">:</span>
  <span class="c1"># ...</span>
  <span class="c1"># Use the latest esphomelib stable release</span>
  <span class="n">esphomelib_version</span><span class="p">:</span> <span class="n">latest</span>

  <span class="c1"># Or use the latest code from github</span>
  <span class="n">esphomelib_version</span><span class="p">:</span> <span class="n">dev</span>

  <span class="c1"># Use a specific version number</span>
  <span class="n">esphomelib_version</span><span class="p">:</span> <span class="mf">1.8</span><span class="o">.</span><span class="mi">0</span>
</pre></div>
</div>
<p>Alternatively, if you want to develop for esphomelib, you can download the
<cite>latest code from GitHub &lt;https://github.com/OttoWinter/esphomelib/archive/master.zip&gt;</cite>, extract the contents,
and point esphomeyaml to your local copy. Then you can modify the esphomelib to your needs or to fix bugs.</p>
<div class="code yaml highlight-default notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="n">esphomeyaml</span><span class="p">:</span>
  <span class="c1"># ...</span>
  <span class="c1"># Use a local copy of esphomelib</span>
  <span class="n">esphomelib_version</span><span class="p">:</span>
    <span class="n">local</span><span class="p">:</span> <span class="n">path</span><span class="o">/</span><span class="n">to</span><span class="o">/</span><span class="n">esphomelib</span>
</pre></div>
</div>
<p>And last, you can make esphomeyaml use a specific branch/commit/tag from a remote git repository:</p>
<div class="code yaml highlight-default notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="n">esphomeyaml</span><span class="p">:</span>
  <span class="c1"># ...</span>
  <span class="c1"># Use a specific commit/branch/tag from a remote repository</span>
  <span class="n">esphomelib_version</span><span class="p">:</span>
    <span class="c1"># Repository defaults to https://github.com/OttoWinter/esphomelib.git</span>
    <span class="n">repository</span><span class="p">:</span> <span class="n">https</span><span class="p">:</span><span class="o">//</span><span class="n">github</span><span class="o">.</span><span class="n">com</span><span class="o">/</span><span class="n">OttoWinter</span><span class="o">/</span><span class="n">esphomelib</span><span class="o">.</span><span class="n">git</span>
    <span class="n">branch</span><span class="p">:</span> <span class="n">master</span>

  <span class="n">esphomelib_version</span><span class="p">:</span>
    <span class="n">repository</span><span class="p">:</span> <span class="n">https</span><span class="p">:</span><span class="o">//</span><span class="n">github</span><span class="o">.</span><span class="n">com</span><span class="o">/</span><span class="n">somebody</span><span class="o">/</span><span class="n">esphomelib</span><span class="o">.</span><span class="n">git</span>
    <span class="n">commit</span><span class="p">:</span> <span class="n">d27bac9263e8a0a5a00672245b38db3078f8992c</span>

  <span class="n">esphomelib_version</span><span class="p">:</span>
    <span class="n">repository</span><span class="p">:</span> <span class="n">https</span><span class="p">:</span><span class="o">//</span><span class="n">github</span><span class="o">.</span><span class="n">com</span><span class="o">/</span><span class="n">OttoWinter</span><span class="o">/</span><span class="n">esphomelib</span><span class="o">.</span><span class="n">git</span>
    <span class="n">tag</span><span class="p">:</span> <span class="n">v1</span><span class="o">.</span><span class="mf">8.0</span>
</pre></div>
</div>
</div>
<div class="section" id="arduino-version">
<span id="esphomeyaml-arduino-version"></span><h2><code class="docutils literal notranslate"><span class="pre">arduino_version</span></code><a class="headerlink" href="#arduino-version" title="Permalink to this headline">¶</a></h2>
<p>esphomelib uses the arduino framework internally to handle all low-level interactions like
initializing the WiFi driver and so on. Unfortunately, every arduino framework version often
has its own quirks and bugs, especially concerning WiFi performance. With the <code class="docutils literal notranslate"><span class="pre">arduino_version</span></code>
option you can tell esphomeyaml which arduino framework to use for compiling.</p>
<div class="code yaml highlight-default notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="n">esphomeyaml</span><span class="p">:</span>
  <span class="c1"># ...</span>
  <span class="c1"># Default: use the recommended version, usually this equals</span>
  <span class="c1"># the latest version.</span>
  <span class="n">arduino_version</span><span class="p">:</span> <span class="n">recommended</span>

  <span class="c1"># Use the latest stable version</span>
  <span class="n">arduino_version</span><span class="p">:</span> <span class="n">latest</span>

  <span class="c1"># Use the latest staged version from GitHub, try this if you have WiFi problems</span>
  <span class="n">arduino_version</span><span class="p">:</span> <span class="n">dev</span>

  <span class="c1"># Use a specific version</span>
  <span class="n">arduino_version</span><span class="p">:</span> <span class="mf">2.3</span><span class="o">.</span><span class="mi">0</span>
</pre></div>
</div>
<p>For the ESP8266, you currently can manually pin the arduino version to these values (see the full
list of arduino frameworks <a class="reference external" href="https://github.com/esp8266/Arduino/releases">here</a>):</p>
<ul class="simple">
<li><a class="reference external" href="https://github.com/esp8266/Arduino/releases/tag/2.4.2">2.4.2</a> (the latest version)</li>
<li><a class="reference external" href="https://github.com/esp8266/Arduino/releases/tag/2.4.1">2.4.1</a></li>
<li><a class="reference external" href="https://github.com/esp8266/Arduino/releases/tag/2.4.0">2.4.0</a></li>
<li><a class="reference external" href="https://github.com/esp8266/Arduino/releases/tag/2.3.0">2.3.0</a> (tasmota uses this)</li>
</ul>
<div class="admonition warning">
<p class="first admonition-title">Warning</p>
<p class="last">Over-the-Air update passwords do not work with the arduino framework
version 2.3.0</p>
</div>
<p>For the ESP32, there’s currently only one arduino framework version:
<a class="reference external" href="https://github.com/espressif/arduino-esp32/releases/tag/1.0.0">1.0.0</a>.</p>
</div>
<div class="section" id="on-boot">
<span id="esphomeyaml-on-boot"></span><h2><code class="docutils literal notranslate"><span class="pre">on_boot</span></code><a class="headerlink" href="#on-boot" title="Permalink to this headline">¶</a></h2>
<p>This automation will be triggered when the ESP boots up. By default, it is executed after everything else
is already set up. You can however change this using the <code class="docutils literal notranslate"><span class="pre">priority</span></code> parameter.</p>
<div class="code yaml highlight-default notranslate"><div class="highlight"><pre><span class="n">esphomeyaml</span><span class="p">:</span>
  <span class="c1"># ...</span>
  <span class="n">on_boot</span><span class="p">:</span>
    <span class="n">priority</span><span class="p">:</span> <span class="o">-</span><span class="mi">10</span>
    <span class="c1"># ...</span>
    <span class="n">then</span><span class="p">:</span>
      <span class="o">-</span> <span class="n">switch</span><span class="o">.</span><span class="n">turn_off</span><span class="p">:</span> <span class="n">switch_1</span>
</pre></div>
</div>
<p>Configuration variables:</p>
<ul class="simple">
<li><strong>priority</strong> (<em>Optional</em>, float): The priority to execute your custom initialization code. A higher value (for example
positive values) mean a high priority and thus also your code being executed earlier. So for example negative priorities
are executed very late. Defaults to <code class="docutils literal notranslate"><span class="pre">-10</span></code>. Priorities (you can use any value between them too):<ul>
<li><code class="docutils literal notranslate"><span class="pre">100</span></code>: This is where all hardware initialization of vital components is executed. For example setting switches
to their initial state.</li>
<li><code class="docutils literal notranslate"><span class="pre">50.0</span></code>: This is where most sensors are set up.</li>
<li><code class="docutils literal notranslate"><span class="pre">10</span></code>: At this priority, WiFi is initialized.</li>
<li><code class="docutils literal notranslate"><span class="pre">7.5</span></code>: MQTT initialization takes place at this priority.</li>
<li><code class="docutils literal notranslate"><span class="pre">-5.0</span></code>: The individual frontend counterparts for the backend components are configured at this priority</li>
<li><code class="docutils literal notranslate"><span class="pre">-10.0</span></code>: At this priority, pretty much everything should already be initialized.</li>
</ul>
</li>
<li>See <a class="reference internal" href="../guides/automations.html#automation"><span class="std std-ref">Automation</span></a>.</li>
</ul>
</div>
<div class="section" id="on-shutdown">
<span id="esphomeyaml-on-shutdown"></span><h2><code class="docutils literal notranslate"><span class="pre">on_shutdown</span></code><a class="headerlink" href="#on-shutdown" title="Permalink to this headline">¶</a></h2>
<p>This automation will be triggered when the ESP is about to shut down. Shutting down is usually caused by
too many WiFi/MQTT connection attempts, Over-The-Air updates being applied or through the <a class="reference internal" href="deep_sleep.html"><span class="doc">Deep Sleep Component</span></a>.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">It’s not guaranteed that all components are in a connected state when this automation is triggered. For
example, the MQTT client may have already disconnected.</p>
</div>
<div class="code yaml highlight-default notranslate"><div class="highlight"><pre><span class="n">esphomeyaml</span><span class="p">:</span>
  <span class="c1"># ...</span>
  <span class="n">on_shutdown</span><span class="p">:</span>
    <span class="n">then</span><span class="p">:</span>
      <span class="o">-</span> <span class="n">switch</span><span class="o">.</span><span class="n">turn_off</span><span class="p">:</span> <span class="n">switch_1</span>
</pre></div>
</div>
<p>Configuration variables: See <a class="reference internal" href="../guides/automations.html#automation"><span class="std std-ref">Automation</span></a>.</p>
</div>
<div class="section" id="on-loop">
<span id="esphomeyaml-on-loop"></span><h2><code class="docutils literal notranslate"><span class="pre">on_loop</span></code><a class="headerlink" href="#on-loop" title="Permalink to this headline">¶</a></h2>
<p>This automation will be triggered on every <code class="docutils literal notranslate"><span class="pre">loop()</span></code> iteration (usually around every 16 milliseconds).</p>
<div class="code yaml highlight-default notranslate"><div class="highlight"><pre><span class="n">esphomeyaml</span><span class="p">:</span>
  <span class="c1"># ...</span>
  <span class="n">on_loop</span><span class="p">:</span>
    <span class="n">then</span><span class="p">:</span>
      <span class="c1"># do something</span>
</pre></div>
</div>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/esphomeyaml.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-esphomeyaml" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
    <div class="footer">
      &copy;2018, Otto Winter.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.8.1</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.11</a>
      
    </div>

    

    
  </body>
</html>