
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up MY9231 and MY9291 LED drives in esphomelib.">
<meta name="keywords" content="MY9231, MY9291, Sonoff B1, Ai-thinker AiLight WiFi light bulb, Arilux E27 Smart Bulb">
<meta itemprop="name" content="MY9231/MY9291 LED driver Component">
<meta itemprop="description" content="Instructions for setting up MY9231 and MY9291 LED drives in esphomelib.">
<meta itemprop="image" content="https://esphomelib.com/_images/my9231.svg">
<meta name="twitter:title" content="MY9231/MY9291 LED driver Component">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/my9231.svg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up MY9231 and MY9291 LED drives in esphomelib.">
<meta property="og:title" content="MY9231/MY9291 LED driver Component"/>
<meta property="og:image" content="https://esphomelib.com/_images/my9231.svg"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up MY9231 and MY9291 LED drives in esphomelib."/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>MY9231/MY9291 LED driver Component &#8212; esphomelib 1.9.0 documentation</title>
    <link rel="stylesheet" href="../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <script async="async" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript" src="../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/my9231.html" />
    <link rel="shortcut icon" href="../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="OTA Update Component" href="ota.html" />
    <link rel="prev" title="MQTT Client Component" href="mqtt.html" />
   
  <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../_static/apple-touch-icon.png" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../index.html">
              <img class="logo" src="../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">MY9231/MY9291 LED driver Component</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#sonoff-b1-configuration-example">Sonoff B1 configuration example</a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="my9231-my9291-led-driver-component">
<h1>MY9231/MY9291 LED driver Component<a class="headerlink" href="#my9231-my9291-led-driver-component" title="Permalink to this headline">¶</a></h1>
<p>The MY9231/MY9291 component represents a MY9231/MY9291 LED diver chain
(<a class="reference external" href="http://www.my-semi.com.tw/file/MY9231_BF_0.91.pdf">MY9231 description</a>,
<a class="reference external" href="http://www.my-semi.com.tw/file/MY9291_BF_0.91.pdf">MY9291 description</a>) in
esphomelib. Communication is done with two GPIO pins (DI and DCKI) and multiple
driver chips can be chained. There are two models with different number of
output channels (MY9291 with 4 channels and MY9231 with 3 channels). They are
popular driver chips used in smart light blubs:</p>
<ul class="simple">
<li>Sonoff B1 (MY9231)</li>
<li>Ai-Thinker AiLight WiFi light bulb (MY9291)</li>
<li>Arilux E27 Smart Bulb (MY9231)</li>
</ul>
<p>To use the channels of this components, you first need to setup the
global <code class="docutils literal notranslate"><span class="pre">my9231</span></code> hub and give it an id, and then define the
<a class="reference internal" href="output/my9231.html"><span class="doc">individual output channels</span></a>.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p>One of the features of the MY9231/MY9291 driver is that the chips
remember their state after a power cycling. Unfortunately, the
state of the driver can not be read. Therefore, if esphomelib can
not restore the previous state, it will result in a mismatch of
the driver output and the internal state (= MQTT state). So you
can configure the behaviour on boot time:</p>
<dl class="last docutils">
<dt><code class="docutils literal notranslate"><span class="pre">update_on_boot:</span> <span class="pre">True</span></code></dt>
<dd>On device power up/boot, the light may flash shortly, to the
state before powering off.</dd>
<dt><code class="docutils literal notranslate"><span class="pre">update_on_boot:</span> <span class="pre">False</span></code></dt>
<dd>On device power up/boot, the light show the last state, but the
internal data will not reflect this state. Thus, the first fade
is wrong, as well as the MQTT state.</dd>
</dl>
</div>
<div class="code yaml highlight-default notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="n">my9231</span><span class="p">:</span>
  <span class="o">-</span> <span class="n">data_pin</span><span class="p">:</span> <span class="n">GPIO12</span>
    <span class="n">clock_pin</span><span class="p">:</span> <span class="n">GPIO14</span>

<span class="c1"># Individual outputs</span>
<span class="n">output</span><span class="p">:</span>
  <span class="o">-</span> <span class="n">platform</span><span class="p">:</span> <span class="n">my9231</span>
    <span class="nb">id</span><span class="p">:</span> <span class="s1">&#39;my9231_output1&#39;</span>
    <span class="n">channel</span><span class="p">:</span> <span class="mi">0</span>
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>data_pin</strong> (<strong>Required</strong>, <a class="reference internal" href="../guides/configuration-types.html#config-pin-schema"><span class="std std-ref">Pin Schema</span></a>): The pin which DI is connected
to.</li>
<li><strong>clock_pin</strong> (<strong>Required</strong>, <a class="reference internal" href="../guides/configuration-types.html#config-pin-schema"><span class="std std-ref">Pin Schema</span></a>): The pin which DCKI is
connected to.</li>
<li><strong>num_channels</strong> (<em>Optional</em>, int): Total number of channels of the whole
chain. Must be in range from 3 to 1020. Defaults to 6.</li>
<li><strong>num_chips</strong> (<em>Optional</em>, int): Number of chips in the chain. Must be
in range from 1 to 255. Defaults to 2.</li>
<li><strong>bit_depths</strong> (<em>Optional</em>, int): The bit depth to use for all output
channels in this chain. Must be one of 8, 12, 14 or 16. Defaults to 16.</li>
<li><strong>update_on_boot</strong> (<em>Optional</em>, boolean): Update/reset duty data at boot. Defaults to <code class="docutils literal notranslate"><span class="pre">True</span></code>.</li>
<li><strong>id</strong> (<em>Optional</em>, <a class="reference internal" href="../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): The id to use for
this <code class="docutils literal notranslate"><span class="pre">my9231</span></code> component. Use this if you have multiple MY9231/MY9291 chains
connected at the same time.</li>
</ul>
</div>
<div class="section" id="sonoff-b1-configuration-example">
<h2>Sonoff B1 configuration example<a class="headerlink" href="#sonoff-b1-configuration-example" title="Permalink to this headline">¶</a></h2>
<p>This component can be used with a Sonoff B1 smart light blub. To flash
the Sonoff B1, open the plastic cover and connect/solder wires to the
PCB pads (3.3V, RX, TX, GND, GPIO0). If you connect GPIO0 to GND
during power up, the device enters flash mode. For more information
about flashing Sonoff devices, see:
<a class="reference internal" href="../devices/sonoff_s20.html"><span class="doc">Using With Sonoff S20</span></a>. All LEDs are connected to a
chain of two MY9321 chips that are connected to GPIO12 and GPIO14. A
complete configuration for a Sonoff B1 looks like:</p>
<div class="code yaml highlight-default notranslate"><div class="highlight"><pre><span class="n">esphomeyaml</span><span class="p">:</span>
  <span class="n">name</span><span class="p">:</span> <span class="o">&lt;</span><span class="n">NAME_OF_NODE</span><span class="o">&gt;</span>
  <span class="n">platform</span><span class="p">:</span> <span class="n">ESP8266</span>
  <span class="n">board</span><span class="p">:</span> <span class="n">esp01_1m</span>
  <span class="n">board_flash_mode</span><span class="p">:</span> <span class="n">dout</span>

<span class="n">wifi</span><span class="p">:</span>
  <span class="n">ssid</span><span class="p">:</span> <span class="o">&lt;</span><span class="n">YOUR_SSID</span><span class="o">&gt;</span>
  <span class="n">password</span><span class="p">:</span> <span class="o">&lt;</span><span class="n">YOUR_WIFI_PASSPHRASE</span><span class="o">&gt;</span>

<span class="n">mqtt</span><span class="p">:</span>
  <span class="n">broker</span><span class="p">:</span> <span class="o">&lt;</span><span class="n">YOUR_MQTT_BROKER</span><span class="o">&gt;</span>
  <span class="n">username</span><span class="p">:</span> <span class="o">&lt;</span><span class="n">YOUR_MQTT_USERNAME</span><span class="o">&gt;</span>
  <span class="n">password</span><span class="p">:</span> <span class="o">&lt;</span><span class="n">YOUR_MQTT_PASSWORD</span><span class="o">&gt;</span>

<span class="n">logger</span><span class="p">:</span>

<span class="n">ota</span><span class="p">:</span>
  <span class="n">password</span><span class="p">:</span> <span class="o">&lt;</span><span class="n">YOUR_OTA_PASSWORD</span><span class="o">&gt;</span>

<span class="n">my9231</span><span class="p">:</span>
 <span class="n">data_pin</span><span class="p">:</span> <span class="n">GPIO12</span>
 <span class="n">clock_pin</span><span class="p">:</span> <span class="n">GPIO14</span>
 <span class="n">num_channels</span><span class="p">:</span> <span class="mi">6</span>
 <span class="n">num_chips</span><span class="p">:</span> <span class="mi">2</span>

<span class="n">output</span><span class="p">:</span>
  <span class="o">-</span> <span class="n">platform</span><span class="p">:</span> <span class="n">my9231</span>
    <span class="nb">id</span><span class="p">:</span> <span class="n">output_blue</span>
    <span class="n">channel</span><span class="p">:</span> <span class="mi">0</span>
  <span class="o">-</span> <span class="n">platform</span><span class="p">:</span> <span class="n">my9231</span>
    <span class="nb">id</span><span class="p">:</span> <span class="n">output_red</span>
    <span class="n">channel</span><span class="p">:</span> <span class="mi">1</span>
  <span class="o">-</span> <span class="n">platform</span><span class="p">:</span> <span class="n">my9231</span>
    <span class="nb">id</span><span class="p">:</span> <span class="n">output_green</span>
    <span class="n">channel</span><span class="p">:</span> <span class="mi">2</span>
  <span class="o">-</span> <span class="n">platform</span><span class="p">:</span> <span class="n">my9231</span>
    <span class="nb">id</span><span class="p">:</span> <span class="n">output_warm_white</span>
    <span class="n">channel</span><span class="p">:</span> <span class="mi">4</span>
  <span class="o">-</span> <span class="n">platform</span><span class="p">:</span> <span class="n">my9231</span>
    <span class="nb">id</span><span class="p">:</span> <span class="n">output_cold_white</span>
    <span class="n">channel</span><span class="p">:</span> <span class="mi">5</span>

<span class="n">light</span><span class="p">:</span>
  <span class="o">-</span> <span class="n">platform</span><span class="p">:</span> <span class="n">rgbww</span>
    <span class="n">name</span><span class="p">:</span> <span class="o">&lt;</span><span class="n">LIGHT_NAME</span><span class="o">&gt;</span>
    <span class="n">red</span><span class="p">:</span> <span class="n">output_red</span>
    <span class="n">green</span><span class="p">:</span> <span class="n">output_green</span>
    <span class="n">blue</span><span class="p">:</span> <span class="n">output_blue</span>
    <span class="n">cold_white</span><span class="p">:</span> <span class="n">output_cold_white</span>
    <span class="n">warm_white</span><span class="p">:</span> <span class="n">output_warm_white</span>
    <span class="n">cold_white_color_temperature</span><span class="p">:</span> <span class="mi">6500</span> <span class="n">K</span>
    <span class="n">warm_white_color_temperature</span><span class="p">:</span> <span class="mi">2800</span> <span class="n">K</span>
</pre></div>
</div>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="output/my9231.html"><span class="doc">MY9231/MY9291 Output</span></a></li>
<li><a class="reference internal" href="../../api/output/my9231.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/my9231.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-my9231" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
    <div class="footer">
      &copy;2018, Otto Winter.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.8.1</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.11</a>
      
    </div>

    

    
  </body>
</html>