
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up Over-The-Air (OTA) updates for ESPs to upload firmwares remotely.">
<meta name="keywords" content="Xiaomi, Mi Flora, BLE, Bluetooth">
<meta itemprop="name" content="OTA Update Component">
<meta itemprop="description" content="Instructions for setting up Over-The-Air (OTA) updates for ESPs to upload firmwares remotely.">
<meta itemprop="image" content="https://esphomelib.com/_images/system-update.png">
<meta name="twitter:title" content="OTA Update Component">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/system-update.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up Over-The-Air (OTA) updates for ESPs to upload firmwares remotely.">
<meta property="og:title" content="OTA Update Component"/>
<meta property="og:image" content="https://esphomelib.com/_images/system-update.png"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up Over-The-Air (OTA) updates for ESPs to upload firmwares remotely."/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>OTA Update Component &#8212; esphomelib 1.9.3 documentation</title>
    <link rel="stylesheet" href="../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/ota.html" />
    <link rel="shortcut icon" href="../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="PCA9685 PWM Component" href="pca9685.html" />
    <link rel="prev" title="MY9231/MY9291 LED driver Component" href="my9231.html" />
   
  <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../_static/apple-touch-icon.png" />
  
  
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/ota.html"/>
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../index.html">
              <img class="logo" src="../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">OTA Update Component</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="ota-update-component">
<h1>OTA Update Component<a class="headerlink" href="#ota-update-component" title="Permalink to this headline">¶</a></h1>
<p>With the OTA (Over The Air) update component you can upload your
firmware binaries to your node without having to use an USB cable for
uploads. esphomeyaml natively supports this through its <code class="docutils literal notranslate"><span class="pre">run</span></code> and
<code class="docutils literal notranslate"><span class="pre">upload</span></code> helper scripts.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Please be aware that ESP8266 modules must be reset after a serial
upload before OTA can work.
When you are trying to conduct an OTA update and receive an error message
<code class="docutils literal notranslate"><span class="pre">Bad</span> <span class="pre">Answer:</span> <span class="pre">ERR:</span> <span class="pre">ERROR[11]:</span> <span class="pre">Invalid</span> <span class="pre">bootstrapping</span></code> the reason is
very likely that power-cycling the ESP module is required once after
the serial upload.</p>
</div>
<p>Optionally, you can also define a password to use for OTA updates so
that an intruder isn’t able to upload any firmware to the ESP without
having hardware access to it. This password is also hashed
automatically, so an intruder can’t extract the password from the
binary.</p>
<p>esphomelib also supports an “OTA safe mode”. If for some reason your
node gets into a boot loop, esphomelib will automatically try to detect
this and will go over into a safe mode after 10 unsuccessful boot
attempts. In that mode, all components are disabled and only Serial
Logging+WiFi+OTA are initialized, so that you can upload a new binary.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="l l-Scalar l-Scalar-Plain">ota</span><span class="p p-Indicator">:</span>
  <span class="l l-Scalar l-Scalar-Plain">safe_mode</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">True</span>
  <span class="l l-Scalar l-Scalar-Plain">password</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">VERYSECURE</span>
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>safe_mode</strong> (<em>Optional</em>, boolean): Whether to enable safe mode.
Defaults to <code class="docutils literal notranslate"><span class="pre">True</span></code>.</li>
<li><strong>password</strong> (<em>Optional</em>, string): The password to use for updates.</li>
<li><strong>port</strong> (<em>Optional</em>, int): The port to use for OTA updates. Defaults
to <code class="docutils literal notranslate"><span class="pre">3232</span></code> for the ESP32 and <code class="docutils literal notranslate"><span class="pre">8266</span></code> for the ESP8266.</li>
<li><strong>id</strong> (<em>Optional</em>, <a class="reference internal" href="../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Manually specify the ID used for code generation.</li>
</ul>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p>If you get errors like</p>
<div class="code highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">ERROR [esphomeyaml.espota] Failed</span>
<span class="l l-Scalar l-Scalar-Plain">ERROR [esphomeyaml.espota] Host livingroom.local Not Found</span>
</pre></div>
</div>
<p class="last">when attempting to upload via OTA, please try setting a <a class="reference internal" href="wifi.html#wifi-manual-ip"><span class="std std-ref">manual IP for WiFi</span></a>.</p>
</div>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="../../api/core/ota.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/ota.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-ota" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
  <div class="footer">
    <a href="/misc/privacy.html">Privacy Policy</a>
  </div>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113203480-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113203480-2', {'anonymize_ip': true});
  </script>

  </body>
</html>