
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up PN532 NFC tag readers in esphomelib">
<meta name="keywords" content="PN532, NFC, RFID">
<meta itemprop="name" content="PN532 NFC/RFID Controller Hub">
<meta itemprop="description" content="Instructions for setting up PN532 NFC tag readers in esphomelib">
<meta itemprop="image" content="https://esphomelib.com/_images/pn532.jpg">
<meta name="twitter:title" content="PN532 NFC/RFID Controller Hub">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/pn532.jpg">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up PN532 NFC tag readers in esphomelib">
<meta property="og:title" content="PN532 NFC/RFID Controller Hub"/>
<meta property="og:image" content="https://esphomelib.com/_images/pn532.jpg"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up PN532 NFC tag readers in esphomelib"/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>PN532 NFC/RFID Controller Hub &#8212; ESPHome 1.10.0 documentation</title>
    <link rel="stylesheet" href="../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../_static/language_data.js"></script>
    <script type="text/javascript" src="../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/pn532.html" />
    <link rel="shortcut icon" href="../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="Power Supply Component" href="power_supply.html" />
    <link rel="prev" title="PCF8574 I/O Expander" href="pcf8574.html" />
   
  <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../_static/apple-touch-icon.png" />
  
  
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/pn532.html"/>
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../index.html">
              <img class="logo" src="../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">PN532 NFC/RFID Controller Hub</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#on-tag"><code class="docutils literal notranslate"><span class="pre">on_tag</span></code></a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="pn532-nfc-rfid-controller-hub">
<h1>PN532 NFC/RFID Controller Hub<a class="headerlink" href="#pn532-nfc-rfid-controller-hub" title="Permalink to this headline">¶</a></h1>
<p>The <code class="docutils literal notranslate"><span class="pre">pn532</span></code> component allows you to use PN532 NFC/RFID controllers
(<a class="reference external" href="https://cdn-shop.adafruit.com/datasheets/pn532ds.pdf">datasheet</a>, <a class="reference external" href="https://www.adafruit.com/product/364">adafruit</a>)
with esphomelib. This component is a global hub that establishes the connection to the PN532 via <a class="reference internal" href="spi.html#spi"><span class="std std-ref">SPI</span></a> and
outputs its data. Using the <a class="reference internal" href="binary_sensor/pn532.html"><span class="doc">PN532 binary sensors</span></a> you can then
create individual binary sensors that track if an NFC/RFID tag is currently detected by the PN532.</p>
<div class="figure align-center">
<a class="reference internal image-reference" href="../../_images/pn532-full.jpg"><img alt="../../_images/pn532-full.jpg" src="../../_images/pn532-full.jpg" style="width: 60.0%;" /></a>
</div>
<p>See <a class="reference internal" href="binary_sensor/pn532.html#pn532-setting-up-tags"><span class="std std-ref">Setting Up Tags</span></a> for information on how to setup individual binary sensors for this component.</p>
<p>As the communication with the PN532 is done using SPI for this integration, you need to set the two switches on
the board to the SPI mode (usually by setting the first one to OFF and the second one to ON). Additionally, you need
to have an <a class="reference internal" href="spi.html#spi"><span class="std std-ref">spi bus</span></a> in your configuration with both the <strong>miso_pin</strong> and <strong>mosi_pin</strong> set.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="l l-Scalar l-Scalar-Plain">spi</span><span class="p p-Indicator">:</span>
  <span class="l l-Scalar l-Scalar-Plain">clk_pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">D0</span>
  <span class="l l-Scalar l-Scalar-Plain">miso_pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">D1</span>
  <span class="l l-Scalar l-Scalar-Plain">mosi_pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">D2</span>

<span class="l l-Scalar l-Scalar-Plain">pn532</span><span class="p p-Indicator">:</span>
  <span class="l l-Scalar l-Scalar-Plain">cs_pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">D3</span>
  <span class="l l-Scalar l-Scalar-Plain">update_interval</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">1s</span>

<span class="l l-Scalar l-Scalar-Plain">binary_sensor</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">pn532</span>
    <span class="l l-Scalar l-Scalar-Plain">uid</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">74-10-37-94</span>
    <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="s">&quot;PN532</span><span class="nv"> </span><span class="s">NFC</span><span class="nv"> </span><span class="s">Tag&quot;</span>
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>cs_pin</strong> (<strong>Required</strong>, <a class="reference internal" href="../guides/configuration-types.html#config-pin-schema"><span class="std std-ref">Pin Schema</span></a>): The pin on the ESP that the chip select line
is connected to.</li>
<li><strong>update_interval</strong> (<em>Optional</em>, <a class="reference internal" href="../guides/configuration-types.html#config-time"><span class="std std-ref">Time</span></a>): The duration of each scan on the PN532. This affects the
duration that the individual binary sensors stay active when they’re found.
If a device is not found within this time window, it will be marked as not present. Defaults to 1s.</li>
<li><strong>on_tag</strong> (<em>Optional</em>, <a class="reference internal" href="../guides/automations.html#automation"><span class="std std-ref">Automation</span></a>): An automation to perform
when a tag is read. See <a class="reference internal" href="#pn532-on-tag"><span class="std std-ref">on_tag</span></a>.</li>
<li><strong>spi_id</strong> (<em>Optional</em>, <a class="reference internal" href="../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Manually specify the ID of the <a class="reference internal" href="spi.html#spi"><span class="std std-ref">SPI Component</span></a> if you want
to use multiple SPI buses.</li>
<li><strong>id</strong> (<em>Optional</em>, <a class="reference internal" href="../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Manually specify the ID for this component.</li>
</ul>
<div class="figure align-center" id="id1">
<a class="reference internal image-reference" href="../../_images/pn532-spi.jpg"><img alt="../../_images/pn532-spi.jpg" src="../../_images/pn532-spi.jpg" style="width: 80.0%;" /></a>
<p class="caption"><span class="caption-text">Example for hooking up the PN532 via SPI. Notice the position of the two switches on the right.</span></p>
</div>
</div>
<div class="section" id="on-tag">
<span id="pn532-on-tag"></span><h2><code class="docutils literal notranslate"><span class="pre">on_tag</span></code><a class="headerlink" href="#on-tag" title="Permalink to this headline">¶</a></h2>
<p>This automation will be triggered when the PN532 module responds with a tag. Please note that this
can be called quite often (with an interval of <code class="docutils literal notranslate"><span class="pre">update_interval</span></code>) as it’s triggered repeatedly
if the tag is re-read many times.</p>
<p>The parameter <code class="docutils literal notranslate"><span class="pre">x</span></code> this trigger provides is of type <code class="docutils literal notranslate"><span class="pre">std::string</span></code> and is the tag UID in the format
<code class="docutils literal notranslate"><span class="pre">74-10-37-94</span></code>. The configuration below will for example publish the tag ID on the MQTT topic <code class="docutils literal notranslate"><span class="pre">pn532/tag</span></code>.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">pn532</span><span class="p p-Indicator">:</span>
  <span class="c1"># ...</span>
  <span class="l l-Scalar l-Scalar-Plain">on_tag</span><span class="p p-Indicator">:</span>
    <span class="l l-Scalar l-Scalar-Plain">then</span><span class="p p-Indicator">:</span>
      <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">mqtt.publish</span><span class="p p-Indicator">:</span>
          <span class="l l-Scalar l-Scalar-Plain">topic</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">pn532/tag</span>
          <span class="l l-Scalar l-Scalar-Plain">payload</span><span class="p p-Indicator">:</span> <span class="kt">!lambda</span> <span class="s">&#39;return</span><span class="nv"> </span><span class="s">x;&#39;</span>
</pre></div>
</div>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="binary_sensor/pn532.html"><span class="doc">PN532 NFC/RFID Tag</span></a></li>
<li><a class="reference internal" href="rdm6300.html"><span class="doc">RDM6300 NFC/RFID Hub</span></a></li>
<li><a class="reference external" href="https://github.com/adafruit/Adafruit-PN532/blob/master/Adafruit_PN532.cpp">PN532 Library</a> by <a class="reference external" href="https://www.adafruit.com/">Adafruit</a></li>
<li><a class="reference internal" href="../../api/binary_sensor/pn532.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/pn532.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-pn532" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
  <div class="footer">
    <a href="/misc/privacy.html">Privacy Policy</a>
  </div>
  <div id="upgrade-footer">
    A new version has been release since you last visited this page: 1.10.0 🎉
    <a id="upgrade-footer-changelog" href="/esphomeyaml/changelog/index.html">View Changelog</a>
  </div>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113203480-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113203480-2', {'anonymize_ip': true});
  </script>

  <script>
    var old = window.localStorage.getItem("release");
    if (old === null) {
      window.localStorage.setItem("release", "1.10.0");
    } else if (old !== "1.10.0") {
      document.getElementById("upgrade-footer").classList.add("not-hidden");
      document.getElementById("upgrade-footer-changelog").addEventListener('click', function () {
        window.localStorage.setItem("release", "1.10.0");
      });
    }
  </script>

  </body>
</html>