
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up power supplies which will automatically turn on together with outputs.">
<meta name="keywords" content="power, ATX">
<meta itemprop="name" content="Power Supply Component">
<meta itemprop="description" content="Instructions for setting up power supplies which will automatically turn on together with outputs.">
<meta itemprop="image" content="https://esphomelib.com/_images/power.svg">
<meta name="twitter:title" content="Power Supply Component">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/power.svg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up power supplies which will automatically turn on together with outputs.">
<meta property="og:title" content="Power Supply Component"/>
<meta property="og:image" content="https://esphomelib.com/_images/power.svg"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up power supplies which will automatically turn on together with outputs."/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>Power Supply Component &#8212; esphomelib 1.9.0 documentation</title>
    <link rel="stylesheet" href="../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <script async="async" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript" src="../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/power_supply.html" />
    <link rel="shortcut icon" href="../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="RDM6300 NFC/RFID Hub" href="rdm6300.html" />
    <link rel="prev" title="PN532 NFC/RFID Controller Hub" href="pn532.html" />
   
  <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../_static/apple-touch-icon.png" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../index.html">
              <img class="logo" src="../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Power Supply Component</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#atx-power-supplies">ATX Power Supplies</a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="power-supply-component">
<h1>Power Supply Component<a class="headerlink" href="#power-supply-component" title="Permalink to this headline">¶</a></h1>
<p>The <code class="docutils literal notranslate"><span class="pre">power_supply</span></code> component allows you to have a high power mode for
certain outputs. For example, if you’re using an <a class="reference external" href="https://en.wikipedia.org/wiki/ATX">ATX power
supply</a> to power your LED strips,
you usually don’t want to have the power supply on all the time while
the output is not on. The power supply component can be attached to any
<a class="reference internal" href="output/index.html#output"><span class="std std-ref">Output Component</span></a> and
will automatically switch on if any of the outputs are on. Furthermore,
it also has a cooldown time that keeps the power supply on for a while
after the last output has been disabled.</p>
<div class="code yaml highlight-default notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="n">power_supply</span><span class="p">:</span>
  <span class="o">-</span> <span class="nb">id</span><span class="p">:</span> <span class="s1">&#39;power_supply1&#39;</span>
    <span class="n">pin</span><span class="p">:</span> <span class="mi">13</span>
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>id</strong> (<strong>Required</strong>, <a class="reference internal" href="../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): The id of the
power supply so that it can be used by the outputs.</li>
<li><strong>pin</strong> (<strong>Required</strong>, <a class="reference internal" href="../guides/configuration-types.html#config-pin-schema"><span class="std std-ref">Pin Schema</span></a>): The
GPIO pin to control the power supply on.</li>
<li><strong>enable_time</strong> (<em>Optional</em>, <a class="reference internal" href="../guides/configuration-types.html#config-time"><span class="std std-ref">Time</span></a>): The time to
that the power supply needs for startup. The output component will
wait for this period of time after turning on the PSU and before
switching the output on. Defaults to <code class="docutils literal notranslate"><span class="pre">20ms</span></code>.</li>
<li><strong>keep_on_time</strong> (<em>Optional</em>, <a class="reference internal" href="../guides/configuration-types.html#config-time"><span class="std std-ref">Time</span></a>): The time the
power supply should be kept enabled after the last output that used
it has been switch off. Defaults to <code class="docutils literal notranslate"><span class="pre">10s</span></code>.</li>
</ul>
<p>See the <a class="reference internal" href="output/index.html#config-output"><span class="std std-ref">output component base configuration</span></a>
for information on how to apply the power supply for a specific output.</p>
</div>
<div class="section" id="atx-power-supplies">
<h2>ATX Power Supplies<a class="headerlink" href="#atx-power-supplies" title="Permalink to this headline">¶</a></h2>
<div class="figure align-center">
<a class="reference internal image-reference" href="../../_images/power_supply-atx.jpg"><img alt="../../_images/power_supply-atx.jpg" src="../../_images/power_supply-atx.jpg" style="width: 80.0%;" /></a>
</div>
<p>The power supply component will default to pulling the specified GPIO
pin up when high power mode is needed. Most ATX power supplies however
operate with an active-low configuration. Therefore their output needs
to be inverted.</p>
<div class="code yaml highlight-default notranslate"><div class="highlight"><pre><span class="n">power_supply</span><span class="p">:</span>
  <span class="o">-</span> <span class="nb">id</span><span class="p">:</span> <span class="s1">&#39;atx_power_supply&#39;</span>
    <span class="n">pin</span><span class="p">:</span>
      <span class="n">number</span><span class="p">:</span> <span class="mi">13</span>
      <span class="n">inverted</span><span class="p">:</span> <span class="n">true</span>
</pre></div>
</div>
<p>Then simply connect the green control wire from the ATX power supply to
your specified pin. It’s recommended to put a small resistor (about 1kΩ)
in between to protect the ESP board.</p>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="output/index.html"><span class="doc">Output Component</span></a></li>
<li><a class="reference internal" href="../../api/core/power-supply.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/power_supply.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-power_supply" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
    <div class="footer">
      &copy;2018, Otto Winter.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.8.1</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.11</a>
      
    </div>

    

    
  </body>
</html>