
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up RDM6300 NFC/RFID tag readers in esphomelib.">
<meta name="keywords" content="RDM6300, NFC, RFID">
<meta itemprop="name" content="RDM6300 NFC/RFID Hub">
<meta itemprop="description" content="Instructions for setting up RDM6300 NFC/RFID tag readers in esphomelib.">
<meta itemprop="image" content="https://esphomelib.com/_images/rdm6300.jpg">
<meta name="twitter:title" content="RDM6300 NFC/RFID Hub">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/rdm6300.jpg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up RDM6300 NFC/RFID tag readers in esphomelib.">
<meta property="og:title" content="RDM6300 NFC/RFID Hub"/>
<meta property="og:image" content="https://esphomelib.com/_images/rdm6300.jpg"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up RDM6300 NFC/RFID tag readers in esphomelib."/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>RDM6300 NFC/RFID Hub &#8212; esphomelib 1.9.1 documentation</title>
    <link rel="stylesheet" href="../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/rdm6300.html" />
    <link rel="shortcut icon" href="../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="Remote Receiver Component" href="remote_receiver.html" />
    <link rel="prev" title="Power Supply Component" href="power_supply.html" />
   
  <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../_static/apple-touch-icon.png" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../index.html">
              <img class="logo" src="../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">RDM6300 NFC/RFID Hub</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="rdm6300-nfc-rfid-hub">
<h1>RDM6300 NFC/RFID Hub<a class="headerlink" href="#rdm6300-nfc-rfid-hub" title="Permalink to this headline">¶</a></h1>
<p>The <code class="docutils literal notranslate"><span class="pre">rdm6300</span></code> component allows you to use RDM6300 NFC/RFID controllers
(<a class="reference external" href="https://elty.pl/upload/download/RFID/RDM630-Spec.pdf">datasheet</a>, <a class="reference external" href="https://www.itead.cc/rdm6300.html">iTead</a>)
with esphomelib. This component is a global hub that establishes the connection to the RDM6300 via <a class="reference internal" href="uart.html#uart"><span class="std std-ref">UART</span></a> and
translates the received data. Using the <a class="reference internal" href="binary_sensor/rdm6300.html"><span class="doc">RDM6300 binary sensors</span></a> you can then
create individual binary sensors that track if an NFC/RFID tag is currently detected by the RDM6300.</p>
<div class="figure align-center">
<a class="reference internal image-reference" href="../../_images/rdm6300-full.jpg"><img alt="../../_images/rdm6300-full.jpg" src="../../_images/rdm6300-full.jpg" style="width: 60.0%;" /></a>
</div>
<p>See <a class="reference internal" href="binary_sensor/rdm6300.html#rdm6300-setting-up-tags"><span class="std std-ref">Setting Up Tags</span></a> for information on how to setup individual binary sensors for this component.</p>
<p>As the communication with the RDM6300 is done using UART, you need
to have an <a class="reference internal" href="uart.html#uart"><span class="std std-ref">UART bus</span></a> in your configuration with the <code class="docutils literal notranslate"><span class="pre">rx_pin</span></code> connected to the data pin of the RDM6300 and
with the baud rate set to 9600</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="l l-Scalar l-Scalar-Plain">uart</span><span class="p p-Indicator">:</span>
  <span class="l l-Scalar l-Scalar-Plain">rx_pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">D0</span>
  <span class="l l-Scalar l-Scalar-Plain">baud_rate</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">9600</span>

<span class="l l-Scalar l-Scalar-Plain">rdm6300</span><span class="p p-Indicator">:</span>

<span class="l l-Scalar l-Scalar-Plain">binary_sensor</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">rdm6300</span>
    <span class="l l-Scalar l-Scalar-Plain">uid</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">7616525</span>
    <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="s">&quot;RDM6300</span><span class="nv"> </span><span class="s">NFC</span><span class="nv"> </span><span class="s">Tag&quot;</span>
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>uart_id</strong> (<em>Optional</em>, <a class="reference internal" href="../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Manually specify the ID of the <a class="reference internal" href="uart.html#uart"><span class="std std-ref">UART Component</span></a> if you want
to use multiple UART buses.</li>
<li><strong>id</strong> (<em>Optional</em>, <a class="reference internal" href="../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Manually specify the ID for this component.</li>
</ul>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="binary_sensor/rdm6300.html"><span class="doc">RDM6300 NFC/RFID Tag</span></a></li>
<li><a class="reference internal" href="pn532.html"><span class="doc">PN532 NFC/RFID Controller Hub</span></a></li>
<li><a class="reference external" href="https://github.com/arliones/RDM6300-Arduino">RDM6300 Arduino Library</a> by <a class="reference external" href="https://github.com/arliones">Arliones Hoeller Jr</a></li>
<li><a class="reference internal" href="../../api/binary_sensor/rdm6300.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/rdm6300.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-rdm6300" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
    <div class="footer">
      
      
      
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.8.2</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.12</a>
      
    </div>

    

    
  </body>
</html>