
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up the WiFi configuration for your ESP node in esphomelib.">
<meta name="keywords" content="WiFi, WLAN, ESP8266, ESP32">
<meta itemprop="name" content="WiFi Component">
<meta itemprop="description" content="Instructions for setting up the WiFi configuration for your ESP node in esphomelib.">
<meta itemprop="image" content="https://esphomelib.com/_images/network-wifi.png">
<meta name="twitter:title" content="WiFi Component">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/network-wifi.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up the WiFi configuration for your ESP node in esphomelib.">
<meta property="og:title" content="WiFi Component"/>
<meta property="og:image" content="https://esphomelib.com/_images/network-wifi.png"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up the WiFi configuration for your ESP node in esphomelib."/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>WiFi Component &#8212; esphomelib 1.9.3 documentation</title>
    <link rel="stylesheet" href="../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/wifi.html" />
    <link rel="shortcut icon" href="../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="Cookbook" href="../cookbook/index.html" />
    <link rel="prev" title="Web Server Component" href="web_server.html" />
   
  <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../_static/apple-touch-icon.png" />
  
  
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/wifi.html"/>
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../index.html">
              <img class="logo" src="../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">WiFi Component</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#access-point-mode">Access Point Mode</a></li>
<li><a class="reference internal" href="#manual-ips">Manual IPs</a></li>
<li><a class="reference internal" href="#power-save-mode">Power Save Mode</a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="wifi-component">
<h1>WiFi Component<a class="headerlink" href="#wifi-component" title="Permalink to this headline">¶</a></h1>
<p>This core esphomelib component sets up WiFi connections to access points
for you. It needs to be in your configuration or otherwise esphomeyaml
will fail in the config validation stage.</p>
<p>It’s recommended to provide a static IP for your node, as it can
dramatically improve connection times.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="l l-Scalar l-Scalar-Plain">wifi</span><span class="p p-Indicator">:</span>
  <span class="l l-Scalar l-Scalar-Plain">ssid</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">MyHomeNetwork</span>
  <span class="l l-Scalar l-Scalar-Plain">password</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">VerySafePassword</span>

  <span class="c1"># Optional manual IP</span>
  <span class="l l-Scalar l-Scalar-Plain">manual_ip</span><span class="p p-Indicator">:</span>
    <span class="l l-Scalar l-Scalar-Plain">static_ip</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">10.0.0.42</span>
    <span class="l l-Scalar l-Scalar-Plain">gateway</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">10.0.0.1</span>
    <span class="l l-Scalar l-Scalar-Plain">subnet</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">255.255.255.0</span>
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>ssid</strong> (<em>Optional</em>, string): The name (or <a class="reference external" href="https://www.lifewire.com/definition-of-service-set-identifier-816547">service set
identifier</a>)
of the WiFi access point your device should connect to.</li>
<li><strong>password</strong> (<em>Optional</em>, string): The password (or PSK) for your
WiFi network. Leave empty for no password.</li>
<li><strong>manual_ip</strong> (<em>Optional</em>): Manually configure the static IP of the node.<ul>
<li><strong>static_ip</strong> (<em>Required</em>, IPv4 address): The static IP of your node.</li>
<li><strong>gateway</strong> (<em>Required</em>, IPv4 address): The gateway of the local network.</li>
<li><strong>subnet</strong> (<em>Required</em>, IPv4 address): The subnet of the local network.</li>
<li><strong>dns1</strong> (<em>Optional</em>, IPv4 address): The main DNS server to use.</li>
<li><strong>dns2</strong> (<em>Optional</em>, IPv4 address): The backup DNS server to use.</li>
</ul>
</li>
<li><strong>hostname</strong> (<em>Optional</em>, string): Manually set the hostname of the
node. Can only be 63 long at max and must only contain alphanumeric
characters plus dashes and underscores.</li>
<li><strong>ap</strong> (<em>Optional</em>): Enable an access point mode on the node.<ul>
<li><strong>ssid</strong> (<em>Required</em>, string): The name of the access point to create.</li>
<li><strong>password</strong> (<em>Optional</em> string): The password for the access point. Leave empty for
no password.</li>
<li><strong>channel</strong> (<em>Optional</em>, int): The channel the AP should operate on from 1 to 14.
Defaults to 1.</li>
<li><strong>manual_ip</strong> (<em>Optional</em>): Manually set the IP options for the AP. Same options as
manual_ip for station mode.</li>
</ul>
</li>
<li><strong>domain</strong> (<em>Optional</em>, string): Set the domain of the node hostname used for uploading.
For example, if it’s set to <code class="docutils literal notranslate"><span class="pre">.local</span></code>, all uploads will be sent to <code class="docutils literal notranslate"><span class="pre">&lt;HOSTNAME&gt;.local</span></code>.
Defaults to <code class="docutils literal notranslate"><span class="pre">.local</span></code>.</li>
<li><strong>reboot_timeout</strong> (<em>Optional</em>, <a class="reference internal" href="../guides/configuration-types.html#config-time"><span class="std std-ref">time</span></a>): The amount of time to wait before rebooting when no
WiFi connection exists. Can be disabled by setting this to <code class="docutils literal notranslate"><span class="pre">0s</span></code>, but note that the low level IP stack currently
seems to have issues with WiFi where a full reboot is required to get the interface back working. Defaults to <code class="docutils literal notranslate"><span class="pre">5min</span></code>.</li>
<li><strong>power_save_mode</strong> (<em>Optional</em>, string): The power save mode for the WiFi interface. Defaults to no power saving.
See <a class="reference internal" href="#wifi-power-save-mode"><span class="std std-ref">Power Save Mode</span></a></li>
<li><strong>id</strong> (<em>Optional</em>, <a class="reference internal" href="../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Manually specify the ID used for code generation.</li>
</ul>
</div>
<div class="section" id="access-point-mode">
<h2>Access Point Mode<a class="headerlink" href="#access-point-mode" title="Permalink to this headline">¶</a></h2>
<p>Since version 1.3, esphomelib has an optional “Access Point Mode”. If you include <code class="docutils literal notranslate"><span class="pre">ap:</span></code>
in your wifi configuration, esphomelib will automatically set up an access point that you
can connect to. Additionally, you can specify both a “normal” station mode and AP mode at the
same time. This will cause esphomelib to only enable the access point when no connection
to the wifi router can be made.</p>
</div>
<div class="section" id="manual-ips">
<span id="wifi-manual-ip"></span><h2>Manual IPs<a class="headerlink" href="#manual-ips" title="Permalink to this headline">¶</a></h2>
<p>If you’re having problems with your node not connecting to WiFi or the connection
process taking a long time, it can be a good idea to assign a static IP address
to the ESP. This way, the ESP doesn’t need to go through the slow DHCP process.</p>
<p>You can do so with the <code class="docutils literal notranslate"><span class="pre">manual_ip:</span></code> option in the WiFi configuration.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">wifi</span><span class="p p-Indicator">:</span>
  <span class="c1"># ...</span>
  <span class="l l-Scalar l-Scalar-Plain">manual_ip</span><span class="p p-Indicator">:</span>
    <span class="c1"># Set this to the IP of the ESP</span>
    <span class="l l-Scalar l-Scalar-Plain">static_ip</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">10.0.0.42</span>
    <span class="c1"># Set this to the IP address of the router. Often ends with .1</span>
    <span class="l l-Scalar l-Scalar-Plain">gateway</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">10.0.0.1</span>
    <span class="c1"># The subnet of the network. 255.255.255.0 works for most home networks.</span>
    <span class="l l-Scalar l-Scalar-Plain">subnet</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">255.255.255.0</span>
</pre></div>
</div>
<p>After putting a manual IP in your configuration, the ESP will no longer need to negotiate
a dynamic IP address with the router, thus improving the time until connection.</p>
<p>Additionally, this can help with <a class="reference internal" href="ota.html"><span class="doc">Over-The-Air updates</span></a> if for example the
home network doesn’t allow for <code class="docutils literal notranslate"><span class="pre">.local</span></code> addresses. When a manual IP is in your configuration,
the OTA process will automatically choose that as the target for the upload.</p>
</div>
<div class="section" id="power-save-mode">
<span id="wifi-power-save-mode"></span><h2>Power Save Mode<a class="headerlink" href="#power-save-mode" title="Permalink to this headline">¶</a></h2>
<p>The WiFi interface of all ESPs offer three power save modes to reduce the amount of power spent on
WiFi. While some options <em>can</em> reduce the power usage of the ESP, they generally also decrease the
reliability of the WiFi connection, with frequent disconnections from the router in the highest
power saving mode.</p>
<p>The default is <code class="docutils literal notranslate"><span class="pre">none</span></code> (a bit of power saving). If you experience frequent WiFi disconnection problems,
please also try <code class="docutils literal notranslate"><span class="pre">light</span></code>.</p>
<ul class="simple">
<li><code class="docutils literal notranslate"><span class="pre">NONE</span></code> (least power saving, Default)</li>
<li><code class="docutils literal notranslate"><span class="pre">LIGHT</span></code></li>
<li><code class="docutils literal notranslate"><span class="pre">HIGH</span></code> (most power saving)</li>
</ul>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">wifi</span><span class="p p-Indicator">:</span>
  <span class="c1"># ...</span>
  <span class="l l-Scalar l-Scalar-Plain">power_save_mode</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">none</span>
</pre></div>
</div>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="../../api/core/wifi.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/wifi.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-wifi" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
  <div class="footer">
    <a href="/misc/privacy.html">Privacy Policy</a>
  </div>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113203480-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113203480-2', {'anonymize_ip': true});
  </script>

  </body>
</html>