
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up generic switches in esphomelib.">
<meta itemprop="name" content="Switch Component">
<meta itemprop="description" content="Instructions for setting up generic switches in esphomelib.">
<meta itemprop="image" content="https://esphomelib.com/_images/folder-open.png">
<meta name="twitter:title" content="Switch Component">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/folder-open.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up generic switches in esphomelib.">
<meta property="og:title" content="Switch Component"/>
<meta property="og:image" content="https://esphomelib.com/_images/folder-open.png"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up generic switches in esphomelib."/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>Switch Component &#8212; ESPHome 1.10.0 documentation</title>
    <link rel="stylesheet" href="../../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../../_static/language_data.js"></script>
    <script type="text/javascript" src="../../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/switch/index.html" />
    <link rel="shortcut icon" href="../../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="Custom Switch" href="custom.html" />
    <link rel="prev" title="Xiaomi MiJia BLE Sensor" href="../sensor/xiaomi_mijia.html" />
   
  <link rel="stylesheet" href="../../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../../_static/apple-touch-icon.png" />
  
  
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/switch/index.html"/>
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../../index.html">
              <img class="logo" src="../../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Switch Component</a><ul>
<li><a class="reference internal" href="#base-switch-configuration">Base Switch Configuration</a><ul>
<li><a class="reference internal" href="#switch-toggle-action"><code class="docutils literal notranslate"><span class="pre">switch.toggle</span></code> Action</a></li>
<li><a class="reference internal" href="#switch-turn-on-action"><code class="docutils literal notranslate"><span class="pre">switch.turn_on</span></code> Action</a></li>
<li><a class="reference internal" href="#switch-turn-off-action"><code class="docutils literal notranslate"><span class="pre">switch.turn_off</span></code> Action</a></li>
<li><a class="reference internal" href="#switch-is-on-switch-is-off-condition"><code class="docutils literal notranslate"><span class="pre">switch.is_on</span></code> / <code class="docutils literal notranslate"><span class="pre">switch.is_off</span></code> Condition</a></li>
<li><a class="reference internal" href="#lambda-calls">lambda calls</a></li>
<li><a class="reference internal" href="#switch-is-on-off-condition"><code class="docutils literal notranslate"><span class="pre">switch.is_on</span></code> / ``switch.is_off Condition</a></li>
</ul>
</li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="switch-component">
<h1>Switch Component<a class="headerlink" href="#switch-component" title="Permalink to this headline">¶</a></h1>
<p>The <code class="docutils literal notranslate"><span class="pre">switch</span></code> domain includes all platforms that should show up like a
switch and can only be turned ON or OFF.</p>
<div class="section" id="base-switch-configuration">
<span id="config-switch"></span><h2>Base Switch Configuration<a class="headerlink" href="#base-switch-configuration" title="Permalink to this headline">¶</a></h2>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">switch</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">...</span>
    <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="s">&quot;Switch</span><span class="nv"> </span><span class="s">Name&quot;</span>
    <span class="l l-Scalar l-Scalar-Plain">icon</span><span class="p p-Indicator">:</span> <span class="s">&quot;mdi:restart&quot;</span>
</pre></div>
</div>
<p>Configuration variables:</p>
<ul class="simple">
<li><strong>name</strong> (<strong>Required</strong>, string): The name of the switch.</li>
<li><strong>icon</strong> (<em>Optional</em>, icon): Manually set the icon to use for the
sensor in the frontend.</li>
<li><strong>inverted</strong> (<em>Optional</em>, boolean): Whether to invert the binary
state, i.e.&nbsp;report ON states as OFF and vice versa. Defaults
to <code class="docutils literal notranslate"><span class="pre">False</span></code>.</li>
<li>All other options from <a class="reference internal" href="../mqtt.html#config-mqtt-component"><span class="std std-ref">MQTT Component</span></a>.</li>
</ul>
<div class="section" id="switch-toggle-action">
<span id="id1"></span><h3><code class="docutils literal notranslate"><span class="pre">switch.toggle</span></code> Action<a class="headerlink" href="#switch-toggle-action" title="Permalink to this headline">¶</a></h3>
<p>This action toggles a switch with the given ID when executed.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">on_...</span><span class="p p-Indicator">:</span>
  <span class="l l-Scalar l-Scalar-Plain">then</span><span class="p p-Indicator">:</span>
    <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">switch.toggle</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">relay_1</span>
</pre></div>
</div>
</div>
<div class="section" id="switch-turn-on-action">
<span id="id2"></span><h3><code class="docutils literal notranslate"><span class="pre">switch.turn_on</span></code> Action<a class="headerlink" href="#switch-turn-on-action" title="Permalink to this headline">¶</a></h3>
<p>This action turns a switch with the given ID on when executed.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">on_...</span><span class="p p-Indicator">:</span>
  <span class="l l-Scalar l-Scalar-Plain">then</span><span class="p p-Indicator">:</span>
    <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">switch.turn_on</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">relay_1</span>
</pre></div>
</div>
</div>
<div class="section" id="switch-turn-off-action">
<span id="id3"></span><h3><code class="docutils literal notranslate"><span class="pre">switch.turn_off</span></code> Action<a class="headerlink" href="#switch-turn-off-action" title="Permalink to this headline">¶</a></h3>
<p>This action turns a switch with the given ID off when executed.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">on_...</span><span class="p p-Indicator">:</span>
  <span class="l l-Scalar l-Scalar-Plain">then</span><span class="p p-Indicator">:</span>
    <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">switch.turn_off</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">relay_1</span>
</pre></div>
</div>
</div>
<div class="section" id="switch-is-on-switch-is-off-condition">
<span id="switch-is-off-condition"></span><span id="switch-is-on-condition"></span><h3><code class="docutils literal notranslate"><span class="pre">switch.is_on</span></code> / <code class="docutils literal notranslate"><span class="pre">switch.is_off</span></code> Condition<a class="headerlink" href="#switch-is-on-switch-is-off-condition" title="Permalink to this headline">¶</a></h3>
<p>This <a class="reference internal" href="../../guides/automations.html#config-condition"><span class="std std-ref">Condition</span></a> checks if the given switch is ON (or OFF).</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># In some trigger:</span>
<span class="l l-Scalar l-Scalar-Plain">on_...</span><span class="p p-Indicator">:</span>
  <span class="l l-Scalar l-Scalar-Plain">if</span><span class="p p-Indicator">:</span>
    <span class="l l-Scalar l-Scalar-Plain">condition</span><span class="p p-Indicator">:</span>
      <span class="c1"># Same syntax for is_off</span>
      <span class="l l-Scalar l-Scalar-Plain">switch.is_on</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">my_switch</span>
</pre></div>
</div>
</div>
<div class="section" id="lambda-calls">
<h3>lambda calls<a class="headerlink" href="#lambda-calls" title="Permalink to this headline">¶</a></h3>
<p>From <a class="reference internal" href="../../guides/automations.html#config-lambda"><span class="std std-ref">lambdas</span></a>, you can call several methods on all covers to do some
advanced stuff (see the full <a class="reference internal" href="../../../api/cover/index.html"><span class="doc">API Reference</span></a> for more info).</p>
<ul>
<li><p class="first"><code class="docutils literal notranslate"><span class="pre">publish_state()</span></code>: Manually cause the switch to publish a new state and store it internally.
If it’s different from the last internal state, it’s additionally published to the frontend.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">// Within lambda, make the switch report a specific state</span>
<span class="l l-Scalar l-Scalar-Plain">id(my_switch).publish_state(false);</span>
<span class="l l-Scalar l-Scalar-Plain">id(my_switch).publish_state(true);</span>
</pre></div>
</div>
</li>
<li><p class="first"><code class="docutils literal notranslate"><span class="pre">state</span></code>: Retrieve the current state of the switch.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">// Within lambda, get the switch state and conditionally do something</span>
<span class="l l-Scalar l-Scalar-Plain">if (id(my_switch).state) {</span>
  <span class="l l-Scalar l-Scalar-Plain">// Switch is ON, do something here</span>
<span class="l l-Scalar l-Scalar-Plain">} else {</span>
  <span class="l l-Scalar l-Scalar-Plain">// Switch is OFF, do something else here</span>
<span class="l l-Scalar l-Scalar-Plain">}</span>
</pre></div>
</div>
</li>
<li><p class="first"><code class="docutils literal notranslate"><span class="pre">turn_off()</span></code>/<code class="docutils literal notranslate"><span class="pre">turn_on</span></code>: Manually turn the switch ON/OFF from code.
Similar to the <code class="docutils literal notranslate"><span class="pre">switch.turn_on</span></code> and <code class="docutils literal notranslate"><span class="pre">switch.turn_off</span></code> actions,
but can be used in complex lambda expressions.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">id(my_switch).turn_off();</span>
<span class="l l-Scalar l-Scalar-Plain">id(my_switch).turn_on(true);</span>
<span class="l l-Scalar l-Scalar-Plain">// Toggle the switch</span>
<span class="l l-Scalar l-Scalar-Plain">id(my_switch).toggle();</span>
</pre></div>
</div>
</li>
</ul>
</div>
<div class="section" id="switch-is-on-off-condition">
<span id="id6"></span><h3><code class="docutils literal notranslate"><span class="pre">switch.is_on</span></code> / <a href="#id4"><span class="problematic" id="id5">``</span></a>switch.is_off Condition<a class="headerlink" href="#switch-is-on-off-condition" title="Permalink to this headline">¶</a></h3>
<p>This <a class="reference internal" href="../../guides/automations.html#config-condition"><span class="std std-ref">condition</span></a> passes if the given switch is on/off.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># in a trigger:</span>
<span class="l l-Scalar l-Scalar-Plain">on_...</span><span class="p p-Indicator">:</span>
  <span class="l l-Scalar l-Scalar-Plain">if</span><span class="p p-Indicator">:</span>
    <span class="l l-Scalar l-Scalar-Plain">condition</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">switch.is_on</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">my_switch</span>
      <span class="c1"># same goes for is_off</span>
    <span class="l l-Scalar l-Scalar-Plain">then</span><span class="p p-Indicator">:</span>
    <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">script.execute</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">my_script</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="../../../api/switch/index.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/switch/index.rst">Edit this page on GitHub</a></li>
</ul>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="custom.html">Custom Switch</a></li>
<li class="toctree-l1"><a class="reference internal" href="gpio.html">GPIO Switch</a></li>
<li class="toctree-l1"><a class="reference internal" href="output.html">Generic Output Switch</a></li>
<li class="toctree-l1"><a class="reference internal" href="remote_transmitter.html">Remote Transmitter Switch</a></li>
<li class="toctree-l1"><a class="reference internal" href="restart.html">Restart Switch</a></li>
<li class="toctree-l1"><a class="reference internal" href="shutdown.html">Shutdown Switch</a></li>
<li class="toctree-l1"><a class="reference internal" href="template.html">Template Switch</a></li>
<li class="toctree-l1"><a class="reference internal" href="uart.html">UART Switch</a></li>
</ul>
</div>
<div data-disqus-identifier="esphomeyaml-components-switch-index" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
  <div class="footer">
    <a href="/misc/privacy.html">Privacy Policy</a>
  </div>
  <div id="upgrade-footer">
    A new version has been release since you last visited this page: 1.10.0 🎉
    <a id="upgrade-footer-changelog" href="/esphomeyaml/changelog/index.html">View Changelog</a>
  </div>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113203480-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113203480-2', {'anonymize_ip': true});
  </script>

  <script>
    var old = window.localStorage.getItem("release");
    if (old === null) {
      window.localStorage.setItem("release", "1.10.0");
    } else if (old !== "1.10.0") {
      document.getElementById("upgrade-footer").classList.add("not-hidden");
      document.getElementById("upgrade-footer-changelog").addEventListener('click', function () {
        window.localStorage.setItem("release", "1.10.0");
      });
    }
  </script>

  </body>
</html>