
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up template switches that can execute arbitrary actions when turned on or off.">
<meta itemprop="name" content="Template Switch">
<meta itemprop="description" content="Instructions for setting up template switches that can execute arbitrary actions when turned on or off.">
<meta itemprop="image" content="https://esphomelib.com/_images/description.png">
<meta name="twitter:title" content="Template Switch">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/description.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up template switches that can execute arbitrary actions when turned on or off.">
<meta property="og:title" content="Template Switch"/>
<meta property="og:image" content="https://esphomelib.com/_images/description.png"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up template switches that can execute arbitrary actions when turned on or off."/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>Template Switch &#8212; esphomelib 1.9.0 documentation</title>
    <link rel="stylesheet" href="../../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/switch/template.html" />
    <link rel="shortcut icon" href="../../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="UART Switch" href="uart.html" />
    <link rel="prev" title="Shutdown Switch" href="shutdown.html" />
   
  <link rel="stylesheet" href="../../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../../_static/apple-touch-icon.png" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../../index.html">
              <img class="logo" src="../../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Template Switch</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="template-switch">
<h1>Template Switch<a class="headerlink" href="#template-switch" title="Permalink to this headline">¶</a></h1>
<p>The <code class="docutils literal notranslate"><span class="pre">template</span></code> switch platform allows you to create simple switches out of just actions and
an optional value lambda. Once defined, it will automatically appear in Home Assistant
as a switch and can be controlled through the frontend.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="l l-Scalar l-Scalar-Plain">switch</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">template</span>
    <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="s">&quot;Template</span><span class="nv"> </span><span class="s">Switch&quot;</span>
    <span class="l l-Scalar l-Scalar-Plain">lambda</span><span class="p p-Indicator">:</span> <span class="p p-Indicator">|-</span>
      <span class="no">if (id(some_binary_sensor).state) {</span>
        <span class="no">return true;</span>
      <span class="no">} else {</span>
        <span class="no">return false;</span>
      <span class="no">}</span>
    <span class="l l-Scalar l-Scalar-Plain">turn_on_action</span><span class="p p-Indicator">:</span>
      <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">switch.turn_on</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">switch2</span>
    <span class="l l-Scalar l-Scalar-Plain">turn_off_action</span><span class="p p-Indicator">:</span>
      <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">switch.turn_on</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">switch1</span>
    <span class="l l-Scalar l-Scalar-Plain">optimistic</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">true</span>
</pre></div>
</div>
<p>Possible return values for the optional lambda:</p>
<blockquote>
<div><ul class="simple">
<li><code class="docutils literal notranslate"><span class="pre">return</span> <span class="pre">true;</span></code> if the switch should be reported as ON.</li>
<li><code class="docutils literal notranslate"><span class="pre">return</span> <span class="pre">false;</span></code> if the switch should be reported as OFF.</li>
<li><code class="docutils literal notranslate"><span class="pre">return</span> <span class="pre">{};</span></code> if the last state should be repeated.</li>
</ul>
</div></blockquote>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>name</strong> (<strong>Required</strong>, string): The name of the switch.</li>
<li><strong>lambda</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/automations.html#config-lambda"><span class="std std-ref">lambda</span></a>):
Lambda to be evaluated repeatedly to get the current state of the switch.
Only state <em>changes</em> will be published to MQTT.</li>
<li><strong>optimistic</strong> (<em>Optional</em>, boolean): Whether to operate in optimistic mode - when in this mode,
any command sent to the template cover will immediately update the reported state and no lambda
needs to be used. Defaults to <code class="docutils literal notranslate"><span class="pre">false</span></code>.</li>
<li><strong>turn_on_action</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/automations.html#config-action"><span class="std std-ref">Action</span></a>): The action that should
be performed when the remote (like Home Assistant’s frontend) requests the switch to be turned on.</li>
<li><strong>turn_off_action</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/automations.html#config-action"><span class="std std-ref">Action</span></a>): The action that should
be performed when the remote (like Home Assistant’s frontend) requests the switch to be turned on.</li>
<li><strong>restore_state</strong> (<em>Optional</em>, boolean): Sets whether esphomelib should attempt to restore the
state on boot-up and call the turn on/off actions with the recovered values. Defaults to <code class="docutils literal notranslate"><span class="pre">yes</span></code>.</li>
<li><strong>id</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Manually specify the ID used for code generation.</li>
<li>All other options from <a class="reference internal" href="../binary_sensor/index.html#config-binary-sensor"><span class="std std-ref">Binary Sensor</span></a> and <a class="reference internal" href="../mqtt.html#config-mqtt-component"><span class="std std-ref">MQTT Component</span></a>.</li>
</ul>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="../../guides/automations.html"><span class="doc">Automations And Templates</span></a></li>
<li><a class="reference internal" href="index.html"><span class="doc">Switch Component</span></a></li>
<li><a class="reference internal" href="../binary_sensor/index.html"><span class="doc">Binary Sensor Component</span></a></li>
<li><a class="reference internal" href="../../../api/switch/template.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/switch/template.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-switch-template" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
    <div class="footer">
      
      
      
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.8.2</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.12</a>
      
    </div>

    

    
  </body>
</html>