
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up the base fan component.">
<meta itemprop="name" content="Fan Component">
<meta itemprop="description" content="Instructions for setting up the base fan component.">
<meta itemprop="image" content="https://esphomelib.com/_images/folder-open.png">
<meta name="twitter:title" content="Fan Component">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/folder-open.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up the base fan component.">
<meta property="og:title" content="Fan Component"/>
<meta property="og:image" content="https://esphomelib.com/_images/folder-open.png"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up the base fan component."/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>Fan Component &#8212; ESPHome</title>
    <link rel="stylesheet" href="../../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../../_static/language_data.js"></script>
    <script type="text/javascript" src="../../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/fan/index.html" />
    <link rel="shortcut icon" href="../../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="Binary Fan" href="binary.html" />
    <link rel="prev" title="Template Cover" href="../cover/template.html" />
   
  <link rel="stylesheet" href="../../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../../_static/apple-touch-icon.png" />
  
  
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/fan/index.html"/>
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../../index.html">
              <img class="logo" src="../../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Fan Component</a><ul>
<li><a class="reference internal" href="#base-fan-configuration">Base Fan Configuration</a></li>
<li><a class="reference internal" href="#fan-toggle-action"><code class="docutils literal notranslate"><span class="pre">fan.toggle</span></code> Action</a></li>
<li><a class="reference internal" href="#fan-turn-off-action"><code class="docutils literal notranslate"><span class="pre">fan.turn_off</span></code> Action</a></li>
<li><a class="reference internal" href="#fan-turn-on-action"><code class="docutils literal notranslate"><span class="pre">fan.turn_on</span></code> Action</a></li>
<li><a class="reference internal" href="#full-fan-index">Full Fan Index</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="fan-component">
<h1>Fan Component<a class="headerlink" href="#fan-component" title="Permalink to this headline">¶</a></h1>
<p>With the <code class="docutils literal notranslate"><span class="pre">fan</span></code> domain you can create components that appear as fans in
the Home Assistant frontend. A fan can be switched ON or OFF, optionally
has a speed setting (<code class="docutils literal notranslate"><span class="pre">LOW</span></code>, <code class="docutils literal notranslate"><span class="pre">MEDIUM</span></code>, <code class="docutils literal notranslate"><span class="pre">HIGH</span></code>) and can have an
oscillate output.</p>
<div class="figure align-center">
<a class="reference internal image-reference" href="../../../_images/fan-ui.png"><img alt="../../../_images/fan-ui.png" src="../../../_images/fan-ui.png" style="width: 70.0%;" /></a>
</div>
<div class="section" id="base-fan-configuration">
<span id="config-fan"></span><h2>Base Fan Configuration<a class="headerlink" href="#base-fan-configuration" title="Permalink to this headline">¶</a></h2>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">fan</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">...</span>
    <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">...</span>
</pre></div>
</div>
<p>Configuration variables:</p>
<ul class="simple">
<li><strong>name</strong> (<strong>Required</strong>, string): The name of the fan.</li>
<li><strong>oscillation_state_topic</strong> (<em>Optional</em>, string): The topic to
publish fan oscillation state changes to.</li>
<li><strong>oscillation_command_topic</strong> (<em>Optional</em>, string): The topic to
receive oscillation commands on.</li>
<li><strong>speed_state_topic</strong> (<em>Optional</em>, string): The topic to publish fan
speed state changes to.</li>
<li><strong>speed_command_topic</strong> (<em>Optional</em>, string): The topic to receive
speed commands on.</li>
<li>All other options from <a class="reference internal" href="../mqtt.html#config-mqtt-component"><span class="std std-ref">MQTT Component</span></a>.</li>
</ul>
</div>
<div class="section" id="fan-toggle-action">
<span id="id1"></span><h2><code class="docutils literal notranslate"><span class="pre">fan.toggle</span></code> Action<a class="headerlink" href="#fan-toggle-action" title="Permalink to this headline">¶</a></h2>
<p>Toggles the ON/OFF state of the fan with the given ID when executed.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">on_...</span><span class="p p-Indicator">:</span>
  <span class="l l-Scalar l-Scalar-Plain">then</span><span class="p p-Indicator">:</span>
    <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">fan.toggle</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">fan_1</span>
</pre></div>
</div>
</div>
<div class="section" id="fan-turn-off-action">
<span id="id2"></span><h2><code class="docutils literal notranslate"><span class="pre">fan.turn_off</span></code> Action<a class="headerlink" href="#fan-turn-off-action" title="Permalink to this headline">¶</a></h2>
<p>Turns the fan with the given ID off when executed.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">on_...</span><span class="p p-Indicator">:</span>
  <span class="l l-Scalar l-Scalar-Plain">then</span><span class="p p-Indicator">:</span>
    <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">fan.turn_off</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">fan_1</span>
</pre></div>
</div>
</div>
<div class="section" id="fan-turn-on-action">
<span id="id3"></span><h2><code class="docutils literal notranslate"><span class="pre">fan.turn_on</span></code> Action<a class="headerlink" href="#fan-turn-on-action" title="Permalink to this headline">¶</a></h2>
<p>Turns the fan with the given ID off when executed.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">on_...</span><span class="p p-Indicator">:</span>
  <span class="l l-Scalar l-Scalar-Plain">then</span><span class="p p-Indicator">:</span>
    <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">fan.turn_on</span><span class="p p-Indicator">:</span>
        <span class="l l-Scalar l-Scalar-Plain">id</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">fan_1</span>
    <span class="c1"># Shorthand:</span>
    <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">fan.turn_on</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">fan_1</span>
</pre></div>
</div>
<p>Configuration options:</p>
<ul class="simple">
<li><strong>id</strong> (<strong>Required</strong>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): The ID of the fan.</li>
<li><strong>oscillating</strong> (<em>Optional</em>, boolean, <a class="reference internal" href="../../guides/automations.html#config-templatable"><span class="std std-ref">templatable</span></a>):
Set the oscillation state of the fan. Defaults to not affecting oscillation.</li>
<li><strong>speed</strong> (<em>Optional</em>, string, <a class="reference internal" href="../../guides/automations.html#config-templatable"><span class="std std-ref">templatable</span></a>):
Set the speed setting of the fan. One of <code class="docutils literal notranslate"><span class="pre">OFF</span></code>, <code class="docutils literal notranslate"><span class="pre">LOW</span></code>, <code class="docutils literal notranslate"><span class="pre">MEDIUM</span></code>, <code class="docutils literal notranslate"><span class="pre">HIGH</span></code>.
If you template this value, return <code class="docutils literal notranslate"><span class="pre">fan::FAN_SPEED_...</span></code>, for example <code class="docutils literal notranslate"><span class="pre">fan::FAN_SPEED_HIGH</span></code>.</li>
</ul>
</div>
<div class="section" id="full-fan-index">
<h2>Full Fan Index<a class="headerlink" href="#full-fan-index" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="../../../api/fan/index.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/fan/index.rst">Edit this page on GitHub</a></li>
</ul>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="binary.html">Binary Fan</a></li>
<li class="toctree-l1"><a class="reference internal" href="speed.html">Speed Fan</a></li>
</ul>
</div>
<div data-disqus-identifier="esphomeyaml-components-fan-index" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
  <div class="footer">
    <a href="/misc/privacy.html">Privacy Policy</a>
  </div>
  <div id="upgrade-footer">
    A new version has been release since you last visited this page: 1.10.1 🎉
    <a id="upgrade-footer-changelog" href="/esphomeyaml/changelog/index.html">View Changelog</a>
  </div>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113203480-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113203480-2', {'anonymize_ip': true});
  </script>

  <script>
    var old = window.localStorage.getItem("release");
    if (old === null) {
      window.localStorage.setItem("release", "1.10.1");
    } else if (old !== "1.10.1") {
      document.getElementById("upgrade-footer").classList.add("not-hidden");
      document.getElementById("upgrade-footer-changelog").addEventListener('click', function () {
        window.localStorage.setItem("release", "1.10.1");
      });
    }
  </script>

  </body>
</html>