
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up stepper motor drivers in esphomelib">
<meta name="keywords" content="stepper motor, stepper driver, a4988">
<meta itemprop="name" content="Stepper Component">
<meta itemprop="description" content="Instructions for setting up stepper motor drivers in esphomelib">
<meta itemprop="image" content="https://esphomelib.com/_images/folder-open.png">
<meta name="twitter:title" content="Stepper Component">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/folder-open.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up stepper motor drivers in esphomelib">
<meta property="og:title" content="Stepper Component"/>
<meta property="og:image" content="https://esphomelib.com/_images/folder-open.png"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up stepper motor drivers in esphomelib"/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>Stepper Component &#8212; esphomelib 1.9.0 documentation</title>
    <link rel="stylesheet" href="../../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/stepper/index.html" />
    <link rel="shortcut icon" href="../../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="ADS1115 Hub" href="../ads1115.html" />
    <link rel="prev" title="Template Text Sensor" href="../text_sensor/template.html" />
   
  <link rel="stylesheet" href="../../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../../_static/apple-touch-icon.png" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../../index.html">
              <img class="logo" src="../../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Stepper Component</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#stepper-set-target-action"><code class="docutils literal notranslate"><span class="pre">stepper.set_target</span></code> Action</a></li>
<li><a class="reference internal" href="#stepper-report-position-action"><code class="docutils literal notranslate"><span class="pre">stepper.report_position</span></code> Action</a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="stepper-component">
<h1>Stepper Component<a class="headerlink" href="#stepper-component" title="Permalink to this headline">¶</a></h1>
<p>The <code class="docutils literal notranslate"><span class="pre">stepper</span></code> component allows you to use stepper motors with esphomelib.
Currently only the A4988 stepper driver
(<a class="reference external" href="https://www.pololu.com/file/0J450/a4988_DMOS_microstepping_driver_with_translator.pdf">datasheet</a>)
is supported.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="l l-Scalar l-Scalar-Plain">stepper</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">a4988</span>
    <span class="l l-Scalar l-Scalar-Plain">id</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">my_stepper</span>
    <span class="l l-Scalar l-Scalar-Plain">step_pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">D0</span>
    <span class="l l-Scalar l-Scalar-Plain">dir_pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">D1</span>
    <span class="l l-Scalar l-Scalar-Plain">max_speed</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">250 steps/s</span>

    <span class="c1"># Optional:</span>
    <span class="l l-Scalar l-Scalar-Plain">sleep_pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">D2</span>
    <span class="l l-Scalar l-Scalar-Plain">acceleration</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">inf</span>
    <span class="l l-Scalar l-Scalar-Plain">deceleration</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">inf</span>
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>id</strong> (<strong>Required</strong>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Specify the ID of the stepper so that you can control it.</li>
<li><strong>step_pin</strong> (<strong>Required</strong>, <a class="reference internal" href="../../guides/configuration-types.html#config-pin-schema"><span class="std std-ref">Pin Schema</span></a>): The <code class="docutils literal notranslate"><span class="pre">STEP</span></code> pin of the A4988
stepper driver.</li>
<li><strong>dir_pin</strong> (<strong>Required</strong>, <a class="reference internal" href="../../guides/configuration-types.html#config-pin-schema"><span class="std std-ref">Pin Schema</span></a>): The <code class="docutils literal notranslate"><span class="pre">DIRECTION</span></code> pin of the A4988
stepper driver.</li>
<li><strong>max_speed</strong> (<strong>Required</strong>, float): The maximum speed in <code class="docutils literal notranslate"><span class="pre">steps/s</span></code> (steps per seconds) to drive the
stepper at. Note most steppers can’t step properly with speeds higher than 250 steps/s.</li>
<li><strong>sleep_pin</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-pin-schema"><span class="std std-ref">Pin Schema</span></a>): Optionally also use the <code class="docutils literal notranslate"><span class="pre">SLEEP</span></code> pin
of the A4988 stepper driver. If specified, the driver will be put into sleep mode as soon as the stepper
reaches the target steps.</li>
<li><strong>acceleration</strong> (<em>Optional</em>, float): The acceleration in <code class="docutils literal notranslate"><span class="pre">steps/s^2</span></code> (steps per seconds squared)
to use when starting to move. The default is <code class="docutils literal notranslate"><span class="pre">inf</span></code> which means infinite acceleration, so the
stepper will try to drive with the full speed immediately.</li>
<li><strong>deceleration</strong> (<em>Optional</em>, float): The same as <code class="docutils literal notranslate"><span class="pre">acceleration</span></code>, but for when the motor is decelerating
shortly before reaching the set position. Defaults to <code class="docutils literal notranslate"><span class="pre">inf</span></code> (immediate deceleration).</li>
</ul>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Esphomelib’s core loop only runs 60 times per second by default to conserve power. But this also means it’s limited
to 60 steps per second. To have higher step rater, you have to open up the <code class="docutils literal notranslate"><span class="pre">&lt;NODE_NAME&gt;/src/main.cpp</span></code> file,
scroll down to the <code class="docutils literal notranslate"><span class="pre">void</span> <span class="pre">loop()</span></code> section and remove the <code class="docutils literal notranslate"><span class="pre">delay(16);</span></code> line.</p>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p>If the stepper is driving in the wrong direction, you can invert the <code class="docutils literal notranslate"><span class="pre">dir_pin</span></code>:</p>
<div class="last highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">stepper</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">a4988</span>
    <span class="c1"># ...</span>
    <span class="l l-Scalar l-Scalar-Plain">dir_pin</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">number</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">D1</span>
      <span class="l l-Scalar l-Scalar-Plain">inverted</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">True</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="stepper-set-target-action">
<span id="id1"></span><h2><code class="docutils literal notranslate"><span class="pre">stepper.set_target</span></code> Action<a class="headerlink" href="#stepper-set-target-action" title="Permalink to this headline">¶</a></h2>
<p>To use your stepper motor in <a class="reference internal" href="../../guides/automations.html#automation"><span class="std std-ref">automations</span></a> or templates, you can use this action to set the target
position (in steps). The stepper will always run towards the target position and stop once it has reached the target.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">on_...</span><span class="p p-Indicator">:</span>
  <span class="l l-Scalar l-Scalar-Plain">then</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">stepper.set_target</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">id</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">my_stepper</span>
      <span class="l l-Scalar l-Scalar-Plain">target</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">250</span>

  <span class="c1"># Templated</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">stepper.set_target</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">id</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">my_stepper</span>
      <span class="l l-Scalar l-Scalar-Plain">target</span><span class="p p-Indicator">:</span> <span class="kt">!lambda</span> <span class="p p-Indicator">|-</span>
        <span class="no">if (id(my_binary_sensor).value) {</span>
          <span class="no">return 1000;</span>
        <span class="no">} else {</span>
          <span class="no">return -1000;</span>
        <span class="no">}</span>
</pre></div>
</div>
<p>Configuration options:</p>
<ul class="simple">
<li><strong>id</strong> (<strong>Required</strong>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): The ID of the stepper.</li>
<li><strong>target</strong> (<em>Optional</em>, int, <a class="reference internal" href="../../guides/automations.html#config-templatable"><span class="std std-ref">templatable</span></a>): The target position in steps.</li>
</ul>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p>This action can also be expressed as a <a class="reference internal" href="../../guides/automations.html#config-lambda"><span class="std std-ref">lambda</span></a>:</p>
<div class="last highlight-cpp notranslate"><div class="highlight"><pre><span class="n">id</span><span class="p">(</span><span class="n">my_stepper</span><span class="p">).</span><span class="n">set_target</span><span class="p">(</span><span class="mi">250</span><span class="p">);</span>

<span class="c1">// Get the currently set target position:</span>
<span class="kt">int</span> <span class="n">target</span> <span class="o">=</span> <span class="n">id</span><span class="p">(</span><span class="n">my_stepper</span><span class="p">).</span><span class="n">target_position</span><span class="p">;</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="stepper-report-position-action">
<span id="id2"></span><h2><code class="docutils literal notranslate"><span class="pre">stepper.report_position</span></code> Action<a class="headerlink" href="#stepper-report-position-action" title="Permalink to this headline">¶</a></h2>
<p>All steppers start out with a target and current position of <code class="docutils literal notranslate"><span class="pre">0</span></code> on boot. However, if you for example want to home
a stepper motor, it can be useful to <strong>report</strong> the stepper where it is currently at.</p>
<p>With this action, you can set the stepper’s internal position counter to a specific value (in steps). Please note
that reporting the position can create unexpected moves of the stepper. For example, if the stepper’s target and
current position is at 1000 steps and you “report” a position of 0, the stepper will move 1000 steps forward to match
the target again.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">on_...</span><span class="p p-Indicator">:</span>
  <span class="l l-Scalar l-Scalar-Plain">then</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">stepper.report_position</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">id</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">my_stepper</span>
      <span class="l l-Scalar l-Scalar-Plain">position</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">250</span>
  <span class="c1"># It&#39;s best to call set_target directly after report_position, so that the stepper doesn&#39;t move</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">stepper.set_target</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">id</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">my_stepper</span>
      <span class="l l-Scalar l-Scalar-Plain">target</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">250</span>

  <span class="c1"># Templated</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">stepper.report_position</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">id</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">my_stepper</span>
      <span class="l l-Scalar l-Scalar-Plain">position</span><span class="p p-Indicator">:</span> <span class="kt">!lambda</span> <span class="p p-Indicator">|-</span>
        <span class="no">if (id(my_binary_sensor).value) {</span>
          <span class="no">return 0;</span>
        <span class="no">} else {</span>
          <span class="no">return -1000;</span>
        <span class="no">}</span>
</pre></div>
</div>
<p>Configuration options:</p>
<ul class="simple">
<li><strong>id</strong> (<strong>Required</strong>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): The ID of the stepper.</li>
<li><strong>target</strong> (<em>Optional</em>, int, <a class="reference internal" href="../../guides/automations.html#config-templatable"><span class="std std-ref">templatable</span></a>): The target position in steps.</li>
</ul>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p>This action can also be expressed as a <a class="reference internal" href="../../guides/automations.html#config-lambda"><span class="std std-ref">lambda</span></a>:</p>
<div class="last highlight-cpp notranslate"><div class="highlight"><pre><span class="n">id</span><span class="p">(</span><span class="n">my_stepper</span><span class="p">).</span><span class="n">report_position</span><span class="p">(</span><span class="mi">250</span><span class="p">);</span>

<span class="c1">// Get the current position:</span>
<span class="kt">int</span> <span class="n">pos</span> <span class="o">=</span> <span class="n">id</span><span class="p">(</span><span class="n">my_stepper</span><span class="p">).</span><span class="n">current_position</span><span class="p">;</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="../../../api/misc/stepper.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/stepper.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-stepper-index" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
    <div class="footer">
      
      
      
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.8.2</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.12</a>
      
    </div>

    

    
  </body>
</html>