
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up MAX7129 7-segment displays.">
<meta itemprop="name" content="MAX7219 7-Segment Display">
<meta itemprop="description" content="Instructions for setting up MAX7129 7-segment displays.">
<meta itemprop="image" content="https://esphomelib.com/_images/max7219.jpg">
<meta name="twitter:title" content="MAX7219 7-Segment Display">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/max7219.jpg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up MAX7129 7-segment displays.">
<meta property="og:title" content="MAX7219 7-Segment Display"/>
<meta property="og:image" content="https://esphomelib.com/_images/max7219.jpg"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up MAX7129 7-segment displays."/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>MAX7219 7-Segment Display &#8212; esphomelib 1.9.0 documentation</title>
    <link rel="stylesheet" href="../../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <script async="async" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript" src="../../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/display/max7219.html" />
    <link rel="shortcut icon" href="../../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="Nextion TFT LCD Display" href="nextion.html" />
    <link rel="prev" title="PCF8574 Character-Based LCD Display" href="lcd_pcf8574.html" />
   
  <link rel="stylesheet" href="../../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../../_static/apple-touch-icon.png" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../../index.html">
              <img class="logo" src="../../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">MAX7219 7-Segment Display</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#rendering-lambda">Rendering Lambda</a></li>
<li><a class="reference internal" href="#all-7-segment-characters">All 7-Segment Characters</a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="max7219-7-segment-display">
<h1>MAX7219 7-Segment Display<a class="headerlink" href="#max7219-7-segment-display" title="Permalink to this headline">¶</a></h1>
<p>The <code class="docutils literal notranslate"><span class="pre">max7219</span></code> display platform allows you to use MAX7219 7-segment display drivers (<a class="reference external" href="https://datasheets.maximintegrated.com/en/ds/MAX7219-MAX7221.pdf">datasheet</a>,
<a class="reference external" href="https://hobbycomponents.com/displays/597-max7219-8-digit-seven-segment-display-module">hobbycomponents</a>)
with esphomelib. Please note that this integration is <em>only</em> for 7-segment display, not matrix configurations.</p>
<div class="figure align-center" id="id1">
<a class="reference internal image-reference" href="../../../_images/max7219-full.jpg"><img alt="../../../_images/max7219-full.jpg" src="../../../_images/max7219-full.jpg" style="width: 75.0%;" /></a>
<p class="caption"><span class="caption-text">MAX7219 7-Segment Display.</span></p>
</div>
<p>As the communication with the MAX7219 is done using SPI for this integration, you need
to have an <a class="reference internal" href="../spi.html#spi"><span class="std std-ref">SPI bus</span></a> in your configuration with both the <strong>mosi_pin</strong> set (miso_pin is not required).
Connect VCC to 3.3V (the manufacturer recommends 4+ V, but 3.3V seems to work fine), DIN to your <code class="docutils literal notranslate"><span class="pre">mosi_pin</span></code> and
CS to your set <code class="docutils literal notranslate"><span class="pre">cs_pin</span></code> and finally GND to GND.</p>
<p>You can even daisy-chain multiple MAX7219s by connecting the DOUT of the previous chip in the chain to the
next DIN. With more than ~3 chips the 3.3V will probably not be enough, so then you will have to potentially
use a logic level converted.</p>
<div class="code yaml highlight-default notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="n">spi</span><span class="p">:</span>
  <span class="n">clk_pin</span><span class="p">:</span> <span class="n">D0</span>
  <span class="n">mosi_pin</span><span class="p">:</span> <span class="n">D1</span>

<span class="n">display</span><span class="p">:</span>
  <span class="o">-</span> <span class="n">platform</span><span class="p">:</span> <span class="n">max7219</span>
    <span class="n">cs_pin</span><span class="p">:</span> <span class="n">D2</span>
    <span class="n">num_chips</span><span class="p">:</span> <span class="mi">1</span>
    <span class="k">lambda</span><span class="p">:</span> <span class="o">|-</span>
      <span class="n">it</span><span class="o">.</span><span class="n">print</span><span class="p">(</span><span class="s2">&quot;01234567&quot;</span><span class="p">);</span>
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>cs_pin</strong> (<strong>Required</strong>, <a class="reference internal" href="../../guides/configuration-types.html#config-pin-schema"><span class="std std-ref">Pin Schema</span></a>): The pin you have the CS line hooked up to.</li>
<li><strong>num_chips</strong> (<em>Optional</em>, integer): The number of chips you wish to use for daisy chaining. Defaults to
<code class="docutils literal notranslate"><span class="pre">1</span></code>.</li>
<li><strong>intensity</strong> (<em>Optional</em>, integer): The intensity with which the MAX7219 should drive the outputs. Range is from
0 (least intense) to 15 (the default).</li>
<li><strong>lambda</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/automations.html#config-lambda"><span class="std std-ref">lambda</span></a>): The lambda to use for rendering the content on the MAX7219.
See <a class="reference internal" href="#display-max7219-lambda"><span class="std std-ref">Rendering Lambda</span></a> for more information.</li>
<li><strong>update_interval</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-time"><span class="std std-ref">Time</span></a>): The interval to re-draw the screen. Defaults to <code class="docutils literal notranslate"><span class="pre">1s</span></code>.</li>
<li><strong>spi_id</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Manually specify the ID of the <a class="reference internal" href="../spi.html#spi"><span class="std std-ref">SPI Component</span></a> if you want
to use multiple SPI buses.</li>
<li><strong>id</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Manually specify the ID used for code generation.</li>
</ul>
</div>
<div class="section" id="rendering-lambda">
<span id="display-max7219-lambda"></span><h2>Rendering Lambda<a class="headerlink" href="#rendering-lambda" title="Permalink to this headline">¶</a></h2>
<p>The MAX7219 has a similar API to the fully fledged :<a class="reference internal" href="index.html#display-engine"><span class="std std-ref">Display Rendering Engine</span></a>, but it’s only a subset as the MAX7219
7-segment displays don’t have a concept of individual pixels. In the lambda you’re passed a variable called <code class="docutils literal notranslate"><span class="pre">it</span></code>
as with all other displays. In this case however, <code class="docutils literal notranslate"><span class="pre">it</span></code> is an <a class="reference internal" href="../../../api/display/max7219.html#api-display-max7219"><span class="std std-ref">MAX7219Component</span></a> instance.</p>
<p>The most basic operation with the MAX7219 is wiring a simple number to the screen as in the configuration example
at the top of this page. But even though you’re passing in a string (here <code class="docutils literal notranslate"><span class="pre">&quot;01234567&quot;</span></code>), esphomelib converts it
into a representation that the MAX7219 can understand: The exact pixels that should be turned on. And of course,
not all characters can be represented. You can see a full list of characters <a class="reference internal" href="#display-max7219-characters"><span class="std std-ref">below</span></a>.</p>
<p>Each of the three methods (<code class="docutils literal notranslate"><span class="pre">print</span></code>, <code class="docutils literal notranslate"><span class="pre">printf</span></code> and <code class="docutils literal notranslate"><span class="pre">strftime</span></code>) all optionally take a position argument at the
beginning which can be used to print the text at a specific position. This argument is <code class="docutils literal notranslate"><span class="pre">0</span></code> by default which
means the first character of the first MAX7219. For example to start the first character of your text at
the end of the first MAX7219, you would write <code class="docutils literal notranslate"><span class="pre">it.print(7,</span> <span class="pre">&quot;0&quot;);</span></code>.</p>
<p>Also note that the <code class="docutils literal notranslate"><span class="pre">.</span></code> (dot) character is special because when esphomelib encounters it in the string the dot
segment of the previous position will be enabled.</p>
<div class="code yaml highlight-default notranslate"><div class="highlight"><pre><span class="n">display</span><span class="p">:</span>
  <span class="o">-</span> <span class="n">platform</span><span class="p">:</span> <span class="n">max7219</span>
    <span class="c1"># ...</span>
    <span class="k">lambda</span><span class="p">:</span> <span class="o">|-</span>
      <span class="o">//</span> <span class="n">Print</span> <span class="mi">0</span> <span class="n">at</span> <span class="n">position</span> <span class="mi">0</span> <span class="p">(</span><span class="n">left</span><span class="p">)</span>
      <span class="n">it</span><span class="o">.</span><span class="n">print</span><span class="p">(</span><span class="s2">&quot;0&quot;</span><span class="p">);</span>
      <span class="o">//</span> <span class="n">Result</span><span class="p">:</span> <span class="s2">&quot;0       &quot;</span>

      <span class="o">//</span> <span class="n">Print</span> <span class="mi">1</span> <span class="n">at</span> <span class="n">position</span> <span class="mi">1</span> <span class="p">(</span><span class="n">second</span> <span class="n">character</span><span class="p">)</span>
      <span class="n">it</span><span class="o">.</span><span class="n">print</span><span class="p">(</span><span class="mi">1</span><span class="p">,</span> <span class="s2">&quot;1&quot;</span><span class="p">);</span>
      <span class="o">//</span> <span class="n">Result</span><span class="p">:</span> <span class="s2">&quot;01      &quot;</span>

      <span class="o">//</span> <span class="n">Let</span><span class="s1">&#39;s write a sensor value (let&#39;</span><span class="n">s</span> <span class="n">assume</span> <span class="n">it</span><span class="s1">&#39;s 42.1)</span>
      <span class="n">it</span><span class="o">.</span><span class="n">printf</span><span class="p">(</span><span class="mi">3</span><span class="p">,</span> <span class="s2">&quot;</span><span class="si">%.1f</span><span class="s2">&quot;</span><span class="p">,</span> <span class="nb">id</span><span class="p">(</span><span class="n">my_sensor</span><span class="p">)</span><span class="o">.</span><span class="n">state</span><span class="p">);</span>
      <span class="o">//</span> <span class="n">Result</span><span class="p">:</span> <span class="s2">&quot;01 42.1  &quot;</span> <span class="p">(</span><span class="n">the</span> <span class="n">dot</span> <span class="n">will</span> <span class="n">appear</span> <span class="n">on</span> <span class="n">the</span> <span class="s2">&quot;2&quot;</span> <span class="n">segment</span><span class="p">)</span>

      <span class="o">//</span> <span class="n">Overwrite</span> <span class="n">the</span> <span class="n">previous</span> <span class="n">content</span> <span class="k">with</span> <span class="n">blank</span>
      <span class="n">it</span><span class="o">.</span><span class="n">print</span><span class="p">(</span><span class="s2">&quot;        &quot;</span><span class="p">);</span>
      <span class="o">//</span> <span class="n">Print</span> <span class="n">a</span> <span class="n">right</span><span class="o">-</span><span class="n">padded</span> <span class="n">sensor</span> <span class="n">value</span> <span class="k">with</span> <span class="mi">0</span> <span class="n">digits</span> <span class="n">after</span> <span class="n">the</span> <span class="n">decimal</span>
      <span class="n">it</span><span class="o">.</span><span class="n">printf</span><span class="p">(</span><span class="s2">&quot;SENS</span><span class="si">%4.0f</span><span class="s2">&quot;</span><span class="p">,</span> <span class="nb">id</span><span class="p">(</span><span class="n">my_sensor</span><span class="p">)</span><span class="o">.</span><span class="n">state</span><span class="p">);</span>
      <span class="o">//</span> <span class="n">Result</span><span class="p">:</span> <span class="s2">&quot;SENS  42&quot;</span>

      <span class="o">//</span> <span class="n">Print</span> <span class="n">the</span> <span class="n">current</span> <span class="n">time</span>
      <span class="n">it</span><span class="o">.</span><span class="n">print</span><span class="p">(</span><span class="s2">&quot;        &quot;</span><span class="p">);</span>
      <span class="n">it</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s2">&quot;%H.%M.%S&quot;</span><span class="p">);</span>
      <span class="o">//</span> <span class="n">Result</span> <span class="k">for</span> <span class="mi">10</span><span class="p">:</span><span class="mi">06</span><span class="p">:</span><span class="mi">42</span> <span class="o">-&gt;</span> <span class="s2">&quot;10.06.42  &quot;</span>
</pre></div>
</div>
<p>Please see <a class="reference internal" href="index.html#display-printf"><span class="std std-ref">Formatted Text</span></a> for a quick introduction into the <code class="docutils literal notranslate"><span class="pre">printf</span></code> formatting rules and
<a class="reference internal" href="index.html#display-strftime"><span class="std std-ref">Displaying Time</span></a> for an introduction into the <code class="docutils literal notranslate"><span class="pre">strftime</span></code> time formatting.</p>
</div>
<div class="section" id="all-7-segment-characters">
<span id="display-max7219-characters"></span><h2>All 7-Segment Characters<a class="headerlink" href="#all-7-segment-characters" title="Permalink to this headline">¶</a></h2>
<table border="1" class="no-center docutils">
<colgroup>
<col width="50%" />
<col width="50%" />
</colgroup>
<tbody valign="top">
<tr class="row-odd"><td><strong>MAX7219 Representation</strong></td>
<td><strong>Character</strong></td>
</tr>
<tr class="row-even"><td><img alt="max721900" class="component-image" src="../../../_images/seg00.svg" /></td>
<td><em>(space)</em></td>
</tr>
<tr class="row-odd"><td><img alt="max721980" class="component-image" src="../../../_images/seg80.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">.</span></code></td>
</tr>
<tr class="row-even"><td><img alt="max7219B0" class="component-image" src="../../../_images/segB0.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">!</span></code></td>
</tr>
<tr class="row-odd"><td><img alt="max72197E" class="component-image" src="../../../_images/seg7E.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">0</span></code>, <code class="docutils literal notranslate"><span class="pre">O</span></code></td>
</tr>
<tr class="row-even"><td><img alt="max721930" class="component-image" src="../../../_images/seg30.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">1</span></code>, <code class="docutils literal notranslate"><span class="pre">I</span></code></td>
</tr>
<tr class="row-odd"><td><img alt="max72196D" class="component-image" src="../../../_images/seg6D.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">2</span></code>, <code class="docutils literal notranslate"><span class="pre">Z</span></code></td>
</tr>
<tr class="row-even"><td><img alt="max721979" class="component-image" src="../../../_images/seg79.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">3</span></code></td>
</tr>
<tr class="row-odd"><td><img alt="max721933" class="component-image" src="../../../_images/seg33.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">4</span></code></td>
</tr>
<tr class="row-even"><td><img alt="max72195B" class="component-image" src="../../../_images/seg5B.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">5</span></code>, <code class="docutils literal notranslate"><span class="pre">S</span></code>, <code class="docutils literal notranslate"><span class="pre">s</span></code></td>
</tr>
<tr class="row-odd"><td><img alt="max72195F" class="component-image" src="../../../_images/seg5F.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">6</span></code></td>
</tr>
<tr class="row-even"><td><img alt="max721970" class="component-image" src="../../../_images/seg70.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">7</span></code></td>
</tr>
<tr class="row-odd"><td><img alt="max72197F" class="component-image" src="../../../_images/seg7F.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">8</span></code></td>
</tr>
<tr class="row-even"><td><img alt="max721973" class="component-image" src="../../../_images/seg73.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">9</span></code></td>
</tr>
<tr class="row-odd"><td><img alt="max721937" class="component-image" src="../../../_images/seg37.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">H</span></code></td>
</tr>
<tr class="row-even"><td><img alt="max72194E" class="component-image" src="../../../_images/seg4E.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">(</span></code>, <code class="docutils literal notranslate"><span class="pre">[</span></code>, <code class="docutils literal notranslate"><span class="pre">C</span></code></td>
</tr>
<tr class="row-odd"><td><img alt="max721931" class="component-image" src="../../../_images/seg31.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">{</span></code></td>
</tr>
<tr class="row-even"><td><img alt="max721978" class="component-image" src="../../../_images/seg78.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">)</span></code>, <code class="docutils literal notranslate"><span class="pre">]</span></code></td>
</tr>
<tr class="row-odd"><td><img alt="max721907" class="component-image" src="../../../_images/seg07.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">}</span></code>, <code class="docutils literal notranslate"><span class="pre">T</span></code>, <code class="docutils literal notranslate"><span class="pre">t</span></code></td>
</tr>
<tr class="row-even"><td><img alt="max721920" class="component-image" src="../../../_images/seg20.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">\`</span></code></td>
</tr>
<tr class="row-odd"><td><img alt="max721902" class="component-image" src="../../../_images/seg02.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">'</span></code></td>
</tr>
<tr class="row-even"><td><img alt="max721922" class="component-image" src="../../../_images/seg22.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">&quot;</span></code></td>
</tr>
<tr class="row-odd"><td><img alt="max72196F" class="component-image" src="../../../_images/seg6F.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">&#64;</span></code></td>
</tr>
<tr class="row-even"><td><img alt="max721965" class="component-image" src="../../../_images/seg65.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">?</span></code></td>
</tr>
<tr class="row-odd"><td><img alt="max721910" class="component-image" src="../../../_images/seg10.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">,</span></code>, <code class="docutils literal notranslate"><span class="pre">i</span></code></td>
</tr>
<tr class="row-even"><td><img alt="max721949" class="component-image" src="../../../_images/seg49.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">%</span></code></td>
</tr>
<tr class="row-odd"><td><img alt="max721940" class="component-image" src="../../../_images/seg40.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">*</span></code></td>
</tr>
<tr class="row-even"><td><img alt="max721948" class="component-image" src="../../../_images/seg48.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">:</span></code></td>
</tr>
<tr class="row-odd"><td><img alt="max721958" class="component-image" src="../../../_images/seg58.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">;</span></code></td>
</tr>
<tr class="row-even"><td><img alt="max721977" class="component-image" src="../../../_images/seg77.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">A</span></code>, <code class="docutils literal notranslate"><span class="pre">a</span></code></td>
</tr>
<tr class="row-odd"><td><img alt="max72191F" class="component-image" src="../../../_images/seg1F.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">B</span></code>, <code class="docutils literal notranslate"><span class="pre">b</span></code></td>
</tr>
<tr class="row-even"><td><img alt="max72193D" class="component-image" src="../../../_images/seg3D.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">D</span></code>, <code class="docutils literal notranslate"><span class="pre">d</span></code></td>
</tr>
<tr class="row-odd"><td><img alt="max72194F" class="component-image" src="../../../_images/seg4F.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">E</span></code>, <code class="docutils literal notranslate"><span class="pre">e</span></code></td>
</tr>
<tr class="row-even"><td><img alt="max721947" class="component-image" src="../../../_images/seg47.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">F</span></code>, <code class="docutils literal notranslate"><span class="pre">f</span></code></td>
</tr>
<tr class="row-odd"><td><img alt="max72195E" class="component-image" src="../../../_images/seg5E.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">G</span></code>, <code class="docutils literal notranslate"><span class="pre">g</span></code></td>
</tr>
<tr class="row-even"><td><img alt="max72193C" class="component-image" src="../../../_images/seg3C.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">J</span></code>, <code class="docutils literal notranslate"><span class="pre">j</span></code></td>
</tr>
<tr class="row-odd"><td><img alt="max72190E" class="component-image" src="../../../_images/seg0E.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">L</span></code>, <code class="docutils literal notranslate"><span class="pre">l</span></code></td>
</tr>
<tr class="row-even"><td><img alt="max721915" class="component-image" src="../../../_images/seg15.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">N</span></code>, <code class="docutils literal notranslate"><span class="pre">n</span></code></td>
</tr>
<tr class="row-odd"><td><img alt="max721967" class="component-image" src="../../../_images/seg67.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">P</span></code>, <code class="docutils literal notranslate"><span class="pre">p</span></code></td>
</tr>
<tr class="row-even"><td><img alt="max7219FE" class="component-image" src="../../../_images/segFE.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">Q</span></code></td>
</tr>
<tr class="row-odd"><td><img alt="max721905" class="component-image" src="../../../_images/seg05.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">R</span></code>, <code class="docutils literal notranslate"><span class="pre">r</span></code></td>
</tr>
<tr class="row-even"><td><img alt="max72193E" class="component-image" src="../../../_images/seg3E.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">U</span></code>, <code class="docutils literal notranslate"><span class="pre">V</span></code></td>
</tr>
<tr class="row-odd"><td><img alt="max72193F" class="component-image" src="../../../_images/seg3F.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">W</span></code></td>
</tr>
<tr class="row-even"><td><img alt="max721927" class="component-image" src="../../../_images/seg27.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">Y</span></code>, <code class="docutils literal notranslate"><span class="pre">y</span></code></td>
</tr>
<tr class="row-odd"><td><img alt="max721901" class="component-image" src="../../../_images/seg01.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">-</span></code></td>
</tr>
<tr class="row-even"><td><img alt="max721908" class="component-image" src="../../../_images/seg08.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">_</span></code></td>
</tr>
<tr class="row-odd"><td><img alt="max721906" class="component-image" src="../../../_images/seg06.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">|</span></code></td>
</tr>
<tr class="row-even"><td><img alt="max72190D" class="component-image" src="../../../_images/seg0D.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">c</span></code></td>
</tr>
<tr class="row-odd"><td><img alt="max721917" class="component-image" src="../../../_images/seg17.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">h</span></code></td>
</tr>
<tr class="row-even"><td><img alt="max72191D" class="component-image" src="../../../_images/seg1D.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">o</span></code></td>
</tr>
<tr class="row-odd"><td><img alt="max72191C" class="component-image" src="../../../_images/seg1C.svg" /></td>
<td><code class="docutils literal notranslate"><span class="pre">u</span></code>, <code class="docutils literal notranslate"><span class="pre">v</span></code></td>
</tr>
</tbody>
</table>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Original 7-segment display base image taken from Wikipedia at <a class="reference external" href="https://de.wikipedia.org/wiki/Datei:7_Segment_Display.svg">https://de.wikipedia.org/wiki/Datei:7_Segment_Display.svg</a>
by user <a class="reference external" href="https://commons.wikimedia.org/wiki/User:H2g2bob">h2g2bob</a> under
<a class="reference external" href="https://creativecommons.org/licenses/by-sa/3.0/deed.de">Creative Commons BY-SA 3.0</a> and modified
for this documentation.</p>
</div>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="index.html"><span class="doc">Display Component</span></a></li>
<li><a class="reference internal" href="../../../api/display/max7219.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/nickgammon/MAX7219">MAX7219 Library</a> by <a class="reference external" href="https://github.com/nickgammon">Nick Gammon</a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/display/max7219.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-display-max7219" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
    <div class="footer">
      &copy;2018, Otto Winter.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.8.1</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.11</a>
      
    </div>

    

    
  </body>
</html>