
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up binary outputs for GPIO pins.">
<meta itemprop="name" content="GPIO Output">
<meta itemprop="description" content="Instructions for setting up binary outputs for GPIO pins.">
<meta itemprop="image" content="https://esphomelib.com/_images/pin.png">
<meta name="twitter:title" content="GPIO Output">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/pin.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up binary outputs for GPIO pins.">
<meta property="og:title" content="GPIO Output"/>
<meta property="og:image" content="https://esphomelib.com/_images/pin.png"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up binary outputs for GPIO pins."/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>GPIO Output &#8212; ESPHome 1.10.1 documentation</title>
    <link rel="stylesheet" href="../../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../../_static/language_data.js"></script>
    <script type="text/javascript" src="../../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/output/gpio.html" />
    <link rel="shortcut icon" href="../../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="ESP32 LEDC Output" href="ledc.html" />
    <link rel="prev" title="ESP8266 Software PWM Output" href="esp8266_pwm.html" />
   
  <link rel="stylesheet" href="../../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../../_static/apple-touch-icon.png" />
  
  
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/output/gpio.html"/>
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../../index.html">
              <img class="logo" src="../../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">GPIO Output</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="gpio-output">
<h1>GPIO Output<a class="headerlink" href="#gpio-output" title="Permalink to this headline">¶</a></h1>
<p>The GPIO output component is quite simple: It exposes a single GPIO pin
as an output component. Note that output components are <strong>not</strong> switches and
will not show up in Home Assistant. See <a class="reference internal" href="#"><span class="doc">GPIO Switch</span></a>.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="l l-Scalar l-Scalar-Plain">output</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">gpio</span>
    <span class="l l-Scalar l-Scalar-Plain">pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">D1</span>
    <span class="l l-Scalar l-Scalar-Plain">id</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">gpio_d1</span>
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>pin</strong> (<strong>Required</strong>, <a class="reference internal" href="../../guides/configuration-types.html#config-pin-schema"><span class="std std-ref">Pin Schema</span></a>): The pin to use PWM on.</li>
<li><strong>id</strong> (<strong>Required</strong>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): The id to use for this output component.</li>
<li>All other options from <a class="reference internal" href="index.html#config-output"><span class="std std-ref">Output</span></a>.</li>
</ul>
<div class="admonition warning">
<p class="first admonition-title">Warning</p>
<p class="last">This is an <strong>output component</strong> and will not visible from the frontend. Output components are intermediary
components that can be attached to for example lights. To have a GPIO pin in the Home Assistant frontend, please
see the <a class="reference internal" href="../switch/gpio.html"><span class="doc">GPIO Switch</span></a>.</p>
</div>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="../switch/gpio.html"><span class="doc">GPIO Switch</span></a></li>
<li><a class="reference internal" href="index.html"><span class="doc">Output Component</span></a></li>
<li><a class="reference internal" href="esp8266_pwm.html"><span class="doc">ESP8266 Software PWM Output</span></a></li>
<li><a class="reference internal" href="ledc.html"><span class="doc">ESP32 LEDC Output</span></a></li>
<li><a class="reference internal" href="../light/binary.html"><span class="doc">Binary Light</span></a></li>
<li><a class="reference internal" href="../fan/binary.html"><span class="doc">Binary Fan</span></a></li>
<li><a class="reference internal" href="../power_supply.html"><span class="doc">Power Supply Component</span></a></li>
<li><a class="reference internal" href="../../../api/output/gpio-binary.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/output/gpio.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-output-gpio" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
  <div class="footer">
    <a href="/misc/privacy.html">Privacy Policy</a>
  </div>
  <div id="upgrade-footer">
    A new version has been release since you last visited this page: 1.10.1 🎉
    <a id="upgrade-footer-changelog" href="/esphomeyaml/changelog/index.html">View Changelog</a>
  </div>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113203480-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113203480-2', {'anonymize_ip': true});
  </script>

  <script>
    var old = window.localStorage.getItem("release");
    if (old === null) {
      window.localStorage.setItem("release", "1.10.1");
    } else if (old !== "1.10.1") {
      document.getElementById("upgrade-footer").classList.add("not-hidden");
      document.getElementById("upgrade-footer-changelog").addEventListener('click', function () {
        window.localStorage.setItem("release", "1.10.1");
      });
    }
  </script>

  </body>
</html>