
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up NFC tags for the PN532 integration.">
<meta itemprop="name" content="PN532 NFC/RFID Tag">
<meta itemprop="description" content="Instructions for setting up NFC tags for the PN532 integration.">
<meta itemprop="image" content="https://esphomelib.com/_images/pn532.jpg">
<meta name="twitter:title" content="PN532 NFC/RFID Tag">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/pn532.jpg">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up NFC tags for the PN532 integration.">
<meta property="og:title" content="PN532 NFC/RFID Tag"/>
<meta property="og:image" content="https://esphomelib.com/_images/pn532.jpg"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up NFC tags for the PN532 integration."/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>PN532 NFC/RFID Tag &#8212; esphomelib 1.9.3 documentation</title>
    <link rel="stylesheet" href="../../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/binary_sensor/pn532.html" />
    <link rel="shortcut icon" href="../../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="RDM6300 NFC/RFID Tag" href="rdm6300.html" />
    <link rel="prev" title="Nextion Touch Component" href="nextion.html" />
   
  <link rel="stylesheet" href="../../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../../_static/apple-touch-icon.png" />
  
  
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/binary_sensor/pn532.html"/>
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../../index.html">
              <img class="logo" src="../../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">PN532 NFC/RFID Tag</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#setting-up-tags">Setting Up Tags</a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="pn532-nfc-rfid-tag">
<h1>PN532 NFC/RFID Tag<a class="headerlink" href="#pn532-nfc-rfid-tag" title="Permalink to this headline">¶</a></h1>
<p>The <code class="docutils literal notranslate"><span class="pre">pn532</span></code> binary sensor platform lets you track if an NFC/RFID tag with a given
unique id (<code class="docutils literal notranslate"><span class="pre">uid</span></code>) is currently being detected by the PN532 or not.</p>
<div class="figure align-center">
<a class="reference internal image-reference" href="../../../_images/pn532-full.jpg"><img alt="../../../_images/pn532-full.jpg" src="../../../_images/pn532-full.jpg" style="width: 60.0%;" /></a>
</div>
<p>See <a class="reference internal" href="../pn532.html"><span class="doc">PN532 NFC/RFID Controller Hub</span></a> for instructions for setting up the connection to the PN532.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="l l-Scalar l-Scalar-Plain">spi</span><span class="p p-Indicator">:</span>
  <span class="l l-Scalar l-Scalar-Plain">clk_pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">D0</span>
  <span class="l l-Scalar l-Scalar-Plain">miso_pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">D1</span>
  <span class="l l-Scalar l-Scalar-Plain">mosi_pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">D2</span>

<span class="l l-Scalar l-Scalar-Plain">pn532</span><span class="p p-Indicator">:</span>
  <span class="l l-Scalar l-Scalar-Plain">cs_pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">D3</span>
  <span class="l l-Scalar l-Scalar-Plain">update_interval</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">1s</span>

<span class="l l-Scalar l-Scalar-Plain">binary_sensor</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">pn532</span>
    <span class="l l-Scalar l-Scalar-Plain">uid</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">74-10-37-94</span>
    <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="s">&quot;PN532</span><span class="nv"> </span><span class="s">NFC</span><span class="nv"> </span><span class="s">Tag&quot;</span>
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>uid</strong> (<strong>Required</strong>, string): The unique ID of the NFC/RFID tag. This is a hyphen-separated list
of hexadecimal values. For example <code class="docutils literal notranslate"><span class="pre">74-10-37-94</span></code>.</li>
<li><strong>name</strong> (<strong>Required</strong>, string): The name of the binary sensor.</li>
<li><strong>id</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Manually specify the ID used for code generation.</li>
<li>All other options from <a class="reference internal" href="index.html#config-binary-sensor"><span class="std std-ref">Binary Sensor</span></a> and <a class="reference internal" href="../mqtt.html#config-mqtt-component"><span class="std std-ref">MQTT Component</span></a>.</li>
</ul>
</div>
<div class="section" id="setting-up-tags">
<span id="pn532-setting-up-tags"></span><h2>Setting Up Tags<a class="headerlink" href="#setting-up-tags" title="Permalink to this headline">¶</a></h2>
<p>To set up binary sensors for specific NFC tags you first have to know their unique IDs. To obtain this
id, first set up a simple pn532 configuration without any binary sensors like above.</p>
<p>When your code is running and you approach the PN532 with an NFC Tag, you should see a message like this:</p>
<div class="code highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">Found new tag &#39;74-10-37-94&#39;</span>
</pre></div>
</div>
<p>Then copy this id and create a <code class="docutils literal notranslate"><span class="pre">binary_sensor</span></code> entry as in the configuration example. Repeat this process for
each tag.</p>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="../pn532.html"><span class="doc">PN532 NFC/RFID Controller Hub</span></a></li>
<li><a class="reference internal" href="index.html"><span class="doc">Binary Sensor Component</span></a></li>
<li><a class="reference internal" href="../../../api/binary_sensor/pn532.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/binary_sensor/pn532.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-binary_sensor-pn532" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
  <div class="footer">
    <a href="/misc/privacy.html">Privacy Policy</a>
  </div>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113203480-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113203480-2', {'anonymize_ip': true});
  </script>

  </body>
</html>