
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up remote receiver binary sensors for infrared and RF codes.">
<meta itemprop="name" content="Remote Receiver Binary Sensor">
<meta itemprop="description" content="Instructions for setting up remote receiver binary sensors for infrared and RF codes.">
<meta itemprop="image" content="https://esphomelib.com/_images/remote.png">
<meta name="twitter:title" content="Remote Receiver Binary Sensor">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/remote.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up remote receiver binary sensors for infrared and RF codes.">
<meta property="og:title" content="Remote Receiver Binary Sensor"/>
<meta property="og:image" content="https://esphomelib.com/_images/remote.png"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up remote receiver binary sensors for infrared and RF codes."/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>Remote Receiver Binary Sensor &#8212; esphomelib 1.9.3 documentation</title>
    <link rel="stylesheet" href="../../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/binary_sensor/remote_receiver.html" />
    <link rel="shortcut icon" href="../../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="Status Binary Sensor" href="status.html" />
    <link rel="prev" title="RDM6300 NFC/RFID Tag" href="rdm6300.html" />
   
  <link rel="stylesheet" href="../../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../../_static/apple-touch-icon.png" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../../index.html">
              <img class="logo" src="../../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Remote Receiver Binary Sensor</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="remote-receiver-binary-sensor">
<h1>Remote Receiver Binary Sensor<a class="headerlink" href="#remote-receiver-binary-sensor" title="Permalink to this headline">¶</a></h1>
<p>The <code class="docutils literal notranslate"><span class="pre">remote_receiver</span></code> binary sensor lets you track when a button on a remote control is pressed.</p>
<p>Each time the pre-defined signal is received, the binary sensor will briefly go ON and
then immediately OFF.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="l l-Scalar l-Scalar-Plain">remote_receiver</span><span class="p p-Indicator">:</span>
  <span class="l l-Scalar l-Scalar-Plain">pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">GPIO32</span>
  <span class="l l-Scalar l-Scalar-Plain">dump</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">all</span>

<span class="l l-Scalar l-Scalar-Plain">binary_sensor</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">remote_receiver</span>
    <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="s">&quot;Panasonic</span><span class="nv"> </span><span class="s">Remote</span><span class="nv"> </span><span class="s">Input&quot;</span>
    <span class="l l-Scalar l-Scalar-Plain">panasonic</span><span class="p p-Indicator">:</span>
      <span class="l l-Scalar l-Scalar-Plain">address</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">0x4004</span>
      <span class="l l-Scalar l-Scalar-Plain">command</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">0x100BCBD</span>
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>name</strong> (<strong>Required</strong>, string): The name for the binary sensor.</li>
<li>The remote code, see <a class="reference internal" href="../switch/remote_transmitter.html#remote-transmitter-codes"><span class="std std-ref">Remote Codes</span></a>. Only one
of them can be specified per binary sensor.</li>
<li><strong>remote_receiver_id</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): The id of the <a class="reference internal" href="../remote_receiver.html"><span class="doc">Remote Receiver Component</span></a>.
Defaults to the first hub in your configuration.</li>
<li><strong>id</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Manually specify the ID used for code generation.</li>
<li>All other options from <a class="reference internal" href="index.html#config-binary-sensor"><span class="std std-ref">Binary Sensor</span></a>
and <a class="reference internal" href="../mqtt.html#config-mqtt-component"><span class="std std-ref">MQTT Component</span></a>.</li>
</ul>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">See <a class="reference internal" href="../switch/remote_transmitter.html#finding-remote-codes"><span class="std std-ref">Finding Remote Codes</span></a> for a guide for setting this up.</p>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p>For the Sonoff RF Bridge you can use <a class="reference external" href="https://github.com/xoseperez/espurna/wiki/Hardware-Itead-Sonoff-RF-Bridge---Direct-Hack">this hack</a>
created by the Github user wildwiz. Then use this configuration for the remote receiver/transmitter hubs:</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="l l-Scalar l-Scalar-Plain">remote_receiver</span><span class="p p-Indicator">:</span>
  <span class="l l-Scalar l-Scalar-Plain">pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">4</span>
  <span class="l l-Scalar l-Scalar-Plain">dump</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">all</span>

<span class="l l-Scalar l-Scalar-Plain">remote_transmitter</span><span class="p p-Indicator">:</span>
  <span class="l l-Scalar l-Scalar-Plain">pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">5</span>
  <span class="l l-Scalar l-Scalar-Plain">carrier_duty_percent</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">100%</span>
</pre></div>
</div>
<p class="last">Supporting the RF Bridge chip directly is currently only a long-term goal for esphomelib.</p>
</div>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="index.html"><span class="doc">Binary Sensor Component</span></a></li>
<li><a class="reference internal" href="../remote_receiver.html"><span class="doc">Remote Receiver Component</span></a></li>
<li><a class="reference internal" href="../remote_transmitter.html"><span class="doc">Remote Transmitter Component</span></a></li>
<li><a class="reference external" href="https://github.com/sui77/rc-switch">RCSwitch</a> by <a class="reference external" href="https://github.com/sui77">Suat Özgür</a></li>
<li><a class="reference external" href="https://github.com/markszabo/IRremoteESP8266/">IRRemoteESP8266</a> by <a class="reference external" href="https://github.com/markszabo">Mark Szabo-Simon</a></li>
<li><a class="reference internal" href="../../../api/binary_sensor/remote_receiver.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/binary_sensor/remote_receiver.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-binary_sensor-remote_receiver" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
    <div class="footer">
      
      
      
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.8.2</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.12</a>
      
    </div>

    

    
  </body>
</html>