
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up Cold White + Warm White lights.">
<meta itemprop="name" content="Cold White + Warm White Light">
<meta itemprop="description" content="Instructions for setting up Cold White + Warm White lights.">
<meta itemprop="image" content="https://esphomelib.com/_images/brightness-medium.svg">
<meta name="twitter:title" content="Cold White + Warm White Light">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/brightness-medium.svg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up Cold White + Warm White lights.">
<meta property="og:title" content="Cold White + Warm White Light"/>
<meta property="og:image" content="https://esphomelib.com/_images/brightness-medium.svg"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up Cold White + Warm White lights."/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>Cold White + Warm White Light &#8212; esphomelib 1.9.0 documentation</title>
    <link rel="stylesheet" href="../../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <script async="async" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript" src="../../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/light/cwww.html" />
    <link rel="shortcut icon" href="../../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="FastLED Clockless Light" href="fastled_clockless.html" />
    <link rel="prev" title="Binary Light" href="binary.html" />
   
  <link rel="stylesheet" href="../../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../../_static/apple-touch-icon.png" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../../index.html">
              <img class="logo" src="../../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Cold White + Warm White Light</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="cold-white-warm-white-light">
<h1>Cold White + Warm White Light<a class="headerlink" href="#cold-white-warm-white-light" title="Permalink to this headline">¶</a></h1>
<p>The <code class="docutils literal notranslate"><span class="pre">cwww</span></code> light platform creates an Cold-White+Warm-White
light from 2 <a class="reference internal" href="../output/index.html#output"><span class="std std-ref">float output components</span></a> (one for each channel). The two
channels will be mixed using the color temperature configuration options.</p>
<div class="code yaml highlight-default notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="n">light</span><span class="p">:</span>
  <span class="o">-</span> <span class="n">platform</span><span class="p">:</span> <span class="n">rgbw</span>
    <span class="n">name</span><span class="p">:</span> <span class="s2">&quot;Livingroom Lights&quot;</span>
    <span class="n">cold_white</span><span class="p">:</span> <span class="n">output_component1</span>
    <span class="n">warm_white</span><span class="p">:</span> <span class="n">output_component2</span>
    <span class="n">cold_white_color_temperature</span><span class="p">:</span> <span class="mi">153</span> <span class="n">mireds</span>
    <span class="n">warm_white_color_temperature</span><span class="p">:</span> <span class="mi">500</span> <span class="n">mireds</span>
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>name</strong> (<strong>Required</strong>, string): The name of the light.</li>
<li><strong>cold_white</strong> (<strong>Required</strong>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): The id of the float <a class="reference internal" href="../output/index.html#output"><span class="std std-ref">Output Component</span></a> to use for the cold white channel.</li>
<li><strong>warm_white</strong> (<strong>Required</strong>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): The id of the float <a class="reference internal" href="../output/index.html#output"><span class="std std-ref">Output Component</span></a> to use for the warm white channel.</li>
<li><strong>cold_white_color_temperature</strong> (<strong>Required</strong>, float): The color temperate (in <a class="reference external" href="https://en.wikipedia.org/wiki/Mired">mireds</a>)
of the cold white channel.</li>
<li><strong>warm_white_color_temperature</strong> (<strong>Required</strong>, float): The color temperate (in <a class="reference external" href="https://en.wikipedia.org/wiki/Mired">mireds</a>)
of the warm white channel.</li>
<li><strong>gamma_correct</strong> (<em>Optional</em>, float): The <a class="reference external" href="https://en.wikipedia.org/wiki/Gamma_correction">gamma correction
factor</a> for the light. Defaults to <code class="docutils literal notranslate"><span class="pre">2.8</span></code>.</li>
<li><strong>default_transition_length</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-time"><span class="std std-ref">Time</span></a>): The length of
the transition if no transition parameter is provided by Home Assistant. Defaults to <code class="docutils literal notranslate"><span class="pre">1s</span></code>.</li>
<li><strong>effects</strong> (<em>Optional</em>, list): A list of <a class="reference internal" href="index.html#light-effects"><span class="std std-ref">light effects</span></a> to use for this light.</li>
<li><strong>id</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Manually specify the ID used for code generation.</li>
<li>All other options from <a class="reference internal" href="../mqtt.html#config-mqtt-component"><span class="std std-ref">MQTT Component</span></a>.</li>
</ul>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">The CWWW light platform only works with <code class="docutils literal notranslate"><span class="pre">float</span></code> <a class="reference internal" href="../output/index.html#output"><span class="std std-ref">outputs</span></a> that
can output any light intensity percentage like the <a class="reference internal" href="../output/ledc.html"><span class="doc">ESP32 LEDC</span></a> or
<a class="reference internal" href="../output/esp8266_pwm.html"><span class="doc">ESP8266 PWM</span></a> components and does <strong>not</strong> work with output
platforms like the <a class="reference internal" href="../output/gpio.html"><span class="doc">GPIO Output</span></a>.</p>
</div>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="../output/index.html"><span class="doc">Output Component</span></a></li>
<li><a class="reference internal" href="index.html"><span class="doc">Light Component</span></a></li>
<li><a class="reference internal" href="rgb.html"><span class="doc">RGB Light</span></a></li>
<li><a class="reference internal" href="rgbw.html"><span class="doc">RGBW Light</span></a></li>
<li><a class="reference internal" href="../power_supply.html"><span class="doc">Power Supply Component</span></a></li>
<li><a class="reference internal" href="../output/ledc.html"><span class="doc">ESP32 LEDC Output</span></a></li>
<li><a class="reference internal" href="../output/esp8266_pwm.html"><span class="doc">ESP8266 Software PWM Output</span></a></li>
<li><a class="reference internal" href="../output/pca9685.html"><span class="doc">PCA9685 PWM Output</span></a></li>
<li><a class="reference internal" href="../../../api/light/index.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/light/cwww.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-light-cwww" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
    <div class="footer">
      &copy;2018, Otto Winter.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 1.8.1</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.11</a>
      
    </div>

    

    
  </body>
</html>