
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="description" content="Instructions for setting up other FastLED addressable lights.">
<meta itemprop="name" content="FastLED SPI Light">
<meta itemprop="description" content="Instructions for setting up other FastLED addressable lights.">
<meta itemprop="image" content="https://esphomelib.com/_images/color_lens.png">
<meta name="twitter:title" content="FastLED SPI Light">
<meta name="twitter:image:src" content="https://esphomelib.com/_images/color_lens.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@OttoWinter_">
<meta name="twitter:description" content="Instructions for setting up other FastLED addressable lights.">
<meta property="og:title" content="FastLED SPI Light"/>
<meta property="og:image" content="https://esphomelib.com/_images/color_lens.png"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="esphomelib"/>
<meta property="og:description" content="Instructions for setting up other FastLED addressable lights."/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#DFDFDF">

    <title>FastLED SPI Light &#8212; ESPHome 1.10.1 documentation</title>
    <link rel="stylesheet" href="../../../_static/alabaster.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    <script type="text/javascript" id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../../_static/language_data.js"></script>
    <script type="text/javascript" src="../../../_static/disqus.js"></script>
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/light/fastled_spi.html" />
    <link rel="shortcut icon" href="../../../_static/favicon.ico"/>
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="Monochromatic Light" href="monochromatic.html" />
    <link rel="prev" title="FastLED Clockless Light" href="fastled_clockless.html" />
   
  <link rel="stylesheet" href="../../../_static/custom.css" type="text/css" />
  
    <link rel="apple-touch-icon" href="../../../_static/apple-touch-icon.png" />
  
  
    <link rel="canonical" href="https://esphomelib.com/esphomeyaml/components/light/fastled_spi.html"/>
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../../index.html">
              <img class="logo" src="../../../_static/logo-full.png" alt="Logo"/>
            </a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    </div>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
  <h3><a href="../../../index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">FastLED SPI Light</a><ul>
<li><a class="reference internal" href="#configuration-variables">Configuration variables:</a></li>
<li><a class="reference internal" href="#supported-chipsets">Supported Chipsets</a></li>
<li><a class="reference internal" href="#see-also">See Also</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <div class="section" id="fastled-spi-light">
<h1>FastLED SPI Light<a class="headerlink" href="#fastled-spi-light" title="Permalink to this headline">¶</a></h1>
<p>The <code class="docutils literal notranslate"><span class="pre">fastled_spi</span></code> light platform allows you to create RGB lights
in esphomelib for a <a class="reference internal" href="#fastled-spi-chipsets"><span class="std std-ref">number of supported chipsets</span></a>.</p>
<p>SPI FastLED lights differ from the
<a class="reference internal" href="fastled_clockless.html"><span class="doc">FastLED Clockless Light</span></a> in that they require two pins to be connected, one for a data and one for a clock signal
whereas the clockless lights only need a single pin.</p>
<div class="figure align-center">
<a class="reference internal image-reference" href="../../../_images/fastled_spi-ui.png"><img alt="../../../_images/fastled_spi-ui.png" src="../../../_images/fastled_spi-ui.png" style="width: 60.0%;" /></a>
</div>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span class="c1"># Example configuration entry</span>
<span class="l l-Scalar l-Scalar-Plain">light</span><span class="p p-Indicator">:</span>
  <span class="p p-Indicator">-</span> <span class="l l-Scalar l-Scalar-Plain">platform</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">fastled_spi</span>
    <span class="l l-Scalar l-Scalar-Plain">chipset</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">WS2801</span>
    <span class="l l-Scalar l-Scalar-Plain">data_pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">GPIO23</span>
    <span class="l l-Scalar l-Scalar-Plain">clock_pin</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">GPIO22</span>
    <span class="l l-Scalar l-Scalar-Plain">num_leds</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">60</span>
    <span class="l l-Scalar l-Scalar-Plain">rgb_order</span><span class="p p-Indicator">:</span> <span class="l l-Scalar l-Scalar-Plain">BRG</span>
    <span class="l l-Scalar l-Scalar-Plain">name</span><span class="p p-Indicator">:</span> <span class="s">&quot;FastLED</span><span class="nv"> </span><span class="s">SPI</span><span class="nv"> </span><span class="s">Light&quot;</span>
</pre></div>
</div>
<div class="section" id="configuration-variables">
<h2>Configuration variables:<a class="headerlink" href="#configuration-variables" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><strong>name</strong> (<strong>Required</strong>, string): The name of the light.</li>
<li><strong>chipset</strong> (<strong>Required</strong>, string): Set a chipset to use. See <a class="reference internal" href="#fastled-spi-chipsets"><span class="std std-ref">Supported Chipsets</span></a> for options.</li>
<li><strong>data_pin</strong> (<strong>Required</strong>, <a class="reference internal" href="../../guides/configuration-types.html#config-pin"><span class="std std-ref">Pin</span></a>): The pin for the data line of the FastLED light.</li>
<li><strong>clock_pin</strong> (<strong>Required</strong>, <a class="reference internal" href="../../guides/configuration-types.html#config-pin"><span class="std std-ref">Pin</span></a>): The pin for the clock line of the FastLED light.</li>
<li><strong>num_leds</strong> (<strong>Required</strong>, int): The number of LEDs attached.</li>
<li><strong>rgb_order</strong> (<em>Optional</em>, string): The order of the RGB channels. Use this if your
light doesn’t seem to map the RGB light channels correctly. For example if your light
shows up green when you set a red color through the frontend. Valid values are <code class="docutils literal notranslate"><span class="pre">RGB</span></code>,
<code class="docutils literal notranslate"><span class="pre">RBG</span></code>, <code class="docutils literal notranslate"><span class="pre">GRB</span></code>, <code class="docutils literal notranslate"><span class="pre">GBR</span></code>, <code class="docutils literal notranslate"><span class="pre">BRG</span></code> and <code class="docutils literal notranslate"><span class="pre">BGR</span></code>. Defaults to <code class="docutils literal notranslate"><span class="pre">RGB</span></code>.</li>
<li><strong>max_refresh_rate</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-time"><span class="std std-ref">Time</span></a>):
A time interval used to limit the number of commands a light can handle per second. For example
16ms will limit the light to a refresh rate of about 60Hz. Defaults to the default value for the used chipset.</li>
<li><strong>gamma_correct</strong> (<em>Optional</em>, float): The <a class="reference external" href="https://en.wikipedia.org/wiki/Gamma_correction">gamma correction
factor</a> for the light. Defaults to <code class="docutils literal notranslate"><span class="pre">2.8</span></code>.</li>
<li><strong>color_correct</strong> (<em>Optional</em>, list of percentages): The color correction for each channel. This denotes
the maximum brightness of the red, green and blue channel. Defaults to <code class="docutils literal notranslate"><span class="pre">color_correct:</span> <span class="pre">[100%,</span> <span class="pre">100%,</span> <span class="pre">100%]</span></code>.</li>
<li><strong>default_transition_length</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-time"><span class="std std-ref">Time</span></a>): The length of
the transition if no transition parameter is provided by Home Assistant. Defaults to <code class="docutils literal notranslate"><span class="pre">1s</span></code>.</li>
<li><strong>power_supply</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): The <a class="reference internal" href="../power_supply.html"><span class="doc">Power Supply Component</span></a> to connect to
this light. When the light is turned on, the power supply will automatically be switched on too.</li>
<li><strong>effects</strong> (<em>Optional</em>, list): A list of <a class="reference internal" href="index.html#light-effects"><span class="std std-ref">light effects</span></a> to use for this light.</li>
<li><strong>id</strong> (<em>Optional</em>, <a class="reference internal" href="../../guides/configuration-types.html#config-id"><span class="std std-ref">ID</span></a>): Manually specify the ID used for code generation.</li>
<li>All other options from <a class="reference internal" href="../mqtt.html#config-mqtt-component"><span class="std std-ref">MQTT Component</span></a>.</li>
</ul>
</div>
<div class="section" id="supported-chipsets">
<span id="fastled-spi-chipsets"></span><h2>Supported Chipsets<a class="headerlink" href="#supported-chipsets" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><code class="docutils literal notranslate"><span class="pre">APA102</span></code></li>
<li><code class="docutils literal notranslate"><span class="pre">DOTSTAR</span></code></li>
<li><code class="docutils literal notranslate"><span class="pre">LPD8806</span></code></li>
<li><code class="docutils literal notranslate"><span class="pre">P9813</span></code></li>
<li><code class="docutils literal notranslate"><span class="pre">SK9822</span></code></li>
<li><code class="docutils literal notranslate"><span class="pre">SM16716</span></code></li>
<li><code class="docutils literal notranslate"><span class="pre">WS2801</span></code></li>
<li><code class="docutils literal notranslate"><span class="pre">WS2803</span></code></li>
</ul>
</div>
<div class="section" id="see-also">
<h2>See Also<a class="headerlink" href="#see-also" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="index.html"><span class="doc">Light Component</span></a></li>
<li><a class="reference internal" href="fastled_clockless.html"><span class="doc">FastLED Clockless Light</span></a></li>
<li><a class="reference internal" href="../power_supply.html"><span class="doc">Power Supply Component</span></a></li>
<li><a class="reference internal" href="../../../api/light/fastled.html"><span class="doc">API Reference</span></a></li>
<li><a class="reference external" href="https://github.com/FastLED/FastLED">Arduino FastLED library</a></li>
<li><a class="reference external" href="https://github.com/OttoWinter/esphomedocs/blob/current/esphomeyaml/components/light/fastled_spi.rst">Edit this page on GitHub</a></li>
</ul>
<div data-disqus-identifier="esphomeyaml-components-light-fastled_spi" id="disqus_thread"></div></div>
</div>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
  <div class="footer">
    <a href="/misc/privacy.html">Privacy Policy</a>
  </div>
  <div id="upgrade-footer">
    A new version has been release since you last visited this page: 1.10.1 🎉
    <a id="upgrade-footer-changelog" href="/esphomeyaml/changelog/index.html">View Changelog</a>
  </div>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113203480-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113203480-2', {'anonymize_ip': true});
  </script>

  <script>
    var old = window.localStorage.getItem("release");
    if (old === null) {
      window.localStorage.setItem("release", "1.10.1");
    } else if (old !== "1.10.1") {
      document.getElementById("upgrade-footer").classList.add("not-hidden");
      document.getElementById("upgrade-footer-changelog").addEventListener('click', function () {
        window.localStorage.setItem("release", "1.10.1");
      });
    }
  </script>

  </body>
</html>